## Análise de dados - ENEM alunos.

#### Instalação e carregamento de bibliotecas

In [ ]:
!pip3 install pandas matplotlib numpy seaborn

Requirement already satisfied: pandas in c:\users\bruno\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: matplotlib in c:\users\bruno\anaconda3\lib\site-packages (3.5.1)
Requirement already satisfied: numpy in c:\users\bruno\anaconda3\lib\site-packages (1.21.5)
Requirement already satisfied: seaborn in c:\users\bruno\anaconda3\lib\site-packages (0.11.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\bruno\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\bruno\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\bruno\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\bruno\anaconda3\lib\site-packages (from matplotlib) (9.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\bruno\anaconda3\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\bruno\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: packaging>=20.0 in c:\users\bruno\anaconda3\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\bruno\anaconda3\lib\site-packages (from matplotlib) (3.0.4)
Requirement already satisfied: scipy>=1.0 in c:\users\bruno\anaconda3\lib\site-packages (from seaborn) (1.7.3)
Requirement already satisfied: six>=1.5 in c:\users\bruno\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [1]:
import pandas as pd
import numpy as np

#### 'Set' para aparecer várias colunas.

In [2]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', None)

#### Irei tirar os dados do enem através desse link: https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/microdados/enem . Peguei o ano de 2021. Baixei a planilha e irei abrir no python.

In [ ]:
df = pd.read_csv('MICRODADOS_ENEM_2021.csv', sep=";",encoding="ISO-8859-1")

#### Com esse comando podemos ver o tamanho das linhas e colunas da base.

In [ ]:
df.shape

(3389832, 76)

#### Com esse lemos as cinco primeiras linhas.

In [ ]:
df.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,Q010,Q011,Q012,Q013,Q014,Q015,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210053865474,2021,5,F,1,1,1,1,3,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3144805,Nova Lima,31,MG,0,1,1,0,NaN,881.0,892.0,NaN,NaN,574.6,472.6,NaN,NaN,BBCCECEABCEABADDAAEECBEBADADAAABABBABBACCCBBB,99999BADDEAEBACADADDAEABCEECDDBBAEADEDEABADBBA...,NaN,1,NaN,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,NaN,1.0,140.0,120.0,120.0,180.0,200.0,760.0,F,F,B,B,3.0,D,A,B,C,B,A,B,A,B,A,A,A,A,B,A,A,B,A,B,B
1,210052384164,2021,12,M,1,1,1,1,11,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2704302,Maceió,27,AL,1,1,1,1,912.0,882.0,891.0,901.0,505.9,551.8,498.3,461.5,DCBCCBDBCCCCCCDDCDCCCACCABCCECCCCAADCCCBBCADE,ECCDAAEBCDACBDBDECABBEAACBCBCCCDACEABEBEBACAE,99999ACECCEEBACDABACBECBBCDBDEBDDCCCDECCDDCCCC...,CDCCBCCCDCCCCBEACEECAEABECCCDCBBCABACDAEDCCEC,1,DABCEDEBEEBBCABEDDCBCBECDADCDAACBDCCCDBBBEBAB,EBAAEADBCACBBABEECBAAEEBBBADCBADBCEDDEBBCAEAB,ACABBACAEADCEADABDACDCEABDDADBEDDDEBBACCDDDCCE...,DCCAEBABDDCABEECCBCCEXADDCEECDEBADCABBDBDEDCE,1.0,120.0,120.0,120.0,120.0,80.0,560.0,B,B,B,B,3.0,B,A,B,C,A,A,B,A,A,A,A,A,A,B,A,A,C,A,A,A
2,210052589243,2021,13,F,3,1,1,1,15,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3515707,Ferraz de Vasconcelos,35,SP,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,C,C,B,3.0,C,A,B,B,A,A,B,B,A,A,B,A,A,B,A,A,C,B,B,B
3,210052128335,2021,3,M,1,3,1,2,0,2,1.0,0,2304202.0,Crato,23.0,CE,2.0,1.0,1.0,2304202,Crato,23,CE,1,1,1,1,911.0,880.0,890.0,902.0,580.7,678.9,638.9,659.5,CCABBDAEDBEBEDDCAAABBDAADBDCACACEDAABCEABAEBC,CBBDABAABBAAEECEBAADADBEBCAEEBEDDEBBBADBCBEDC,ABBCA99999CDECCCBADCDBCEAEBBAAEADEEADDACAEDDAB...,EACDCEACDDDDCBDDCABADAEBACDCDDEDBBCDBECACCCCA,0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,120.0,180.0,120.0,200.0,160.0,780.0,B,B,B,B,6.0,B,A,B,C,A,A,B,A,A,A,A,A,A,B,A,A,B,A,B,B
4,210051353021,2021,2,F,1,3,1,2,0,2,1.0,0,2311603.0,Redenção,23.0,CE,2.0,1.0,1.0,2300150,Acarape,23,CE,1,1,1,1,912.0,882.0,891.0,901.0,497.7,532.4,457.6,582.6,BABCDCCBEBCD.DEDCABCBDEDAABEDADBDBCDECCAEDBCB,CAE.ACDCAAEBBEDEBCADADEDADAACEBDABBCEABBCDEAC,99999EAACBDCBECCABADBEDADCDADDCDDECABAADEBBDAC...,ACEDEBECABDABDEECBDEEADDDDBEBCEADCCADCADEDCEB,1,DABCEDEBEEBBCABEDDCBCBECDADCDAACBDCCCDBBBEBAB,EBAAEADBCACBBABEECBAAEEBBBADCBADBCEDDEBBCAEAB,ACABBACAEADCEADABDACDCEABDDADBEDDDEBBACCDDDCCE...,DCCAEBABDDCABEECCBCCEXADDCEECDEBADCABBDBDEDCE,1.0,120.0,140.0,160.0,180.0,180.0,780.0,D,E,F,D,4.0,C,A,B,C,A,A,B,A,B,A,B,A,A,B,A,B,E,A,B,B

#### Aqui faço um filtro para selecionar somente as provas feitas na BA, pretendo diminuir o tamanho do banco de dados para facilitar os trabalhos.

In [ ]:
df.query('SG_UF_PROVA == "BA"')

#### Salvo o arquivo em uma nova variável.

In [ ]:
dfba = df.query('SG_UF_PROVA == "BA"')
dfba.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,Q010,Q011,Q012,Q013,Q014,Q015,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
9,210051128744,2021,4,F,1,3,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927200,Ruy Barbosa,29,BA,1,1,1,1,909.0,881.0,892.0,899.0,507.6,539.2,494.6,413.3,BAEDEBDECCEAEDDCBDEDAEECEEEDBDECBDCECBCCDABED,EEEBAABCBCDBEAEBEACEDDEDECACBDBCDACECDAECBCBD,99999ACAEEEEBDEACDACDEABCEABBDEDBAEEBDEEACDBAC...,BACEACDACBAAAEDCECABBACDCDBBA.CEABCDADADBECBE,1,EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB,1.0,80.0,120.0,80.0,80.0,20.0,380.0,D,D,D,B,2.0,B,A,B,B,A,A,B,B,C,A,B,A,B,C,B,A,C,A,A,B
14,210054173438,2021,5,F,1,2,1,2,0,2,1.0,0,2927408.0,Salvador,29.0,BA,1.0,1.0,1.0,2927408,Salvador,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G,E,E,C,1.0,B,A,B,C,A,A,B,B,B,A,B,A,B,C,A,B,B,B,B,B
21,210052118573,2021,3,F,1,3,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2903201,Barreiras,29,BA,1,1,1,1,912.0,882.0,891.0,901.0,439.6,437.7,455.9,446.2,BCEDEACAEDCEDCBDDCCAADABADDEBEECBACDCCABBDCCA,AAEADCDCAAADCBBBAABBEAEDABCDAACDDCBDAAABAABBB,EDBEC99999DDAAEBBDCDBBAABDECAADAEACCDABCEABABE...,EBBEBDCCDDCDCBADABBBCCEABDADCBCCACBDACDCDADCE,0,DABCEDEBEEBBCABEDDCBCBECDADCDAACBDCCCDBBBEBAB,EBAAEADBCACBBABEECBAAEEBBBADCBADBCEDDEBBCAEAB,ACABBACAEADCEADABDACDCEABDDADBEDDDEBBACCDDDCCE...,DCCAEBABDDCABEECCBCCEXADDCEECDEBADCABBDBDEDCE,1.0,80.0,120.0,80.0,100.0,80.0,460.0,B,F,B,D,3.0,G,A,B,C,B,A,B,A,B,B,B,A,B,B,A,B,B,A,B,B
27,210052350230,2021,10,F,1,2,1,1,8,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2928802,Santo Estêvão,29,BA,1,1,1,1,911.0,880.0,890.0,902.0,548.1,619.5,676.3,386.6,CCAECCADEAADDEDDEECEDDEADDDCACDEDCDCDEADBEDDE,DBBEADDCABABCECEAEBEAEDCBCAEABEEDEBBEAABCBDCD,ABCCA99999DDCACDCACABBEAAEBDAEEBDEEAADACEEDDDB...,CAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA,0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,120.0,120.0,100.0,120.0,120.0,580.0,H,E,F,D,3.0,B,A,B,C,A,B,B,B,A,A,B,A,B,B,B,A,D,A,A,B
32,210053156861,2021,9,M,1,2,1,1,5,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2910800,Feira de Santana,29,BA,1,1,1,1,1014.0,1000.0,1004.0,1010.0,465.2,613.1,522.1,579.6,CDCCBDBBDCBACEBDACBCACADBCBECCEBCDDEBDACEECCD,CCBAADECCBACBECCBEADAEBEACBEBBEADEBBABDACDEBC,BADCE99999DABAABBABBBCEDBDCDABEABCBBDCACBABAAA...,CCBACBBCCCCEDDDDCBCCDCACCCBBBDDDBCBADDBCABACA,0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,100.0,120.0,100.0,120.0,100.0,540.0,F,E,C,C,4.0,C,A,B,C,A,B,B,A,A,A,A,A,A,B,A,A,D,A,B,B

#### Veja como diminuiu o tamanho do banco de dados.

In [ ]:
dfba.shape

(266194, 76)

#### Aqui podemos verificar se todas as colunas atendem às características importantes de forma resumida, como dados de entrada, valores faltantes e o tipo de objeto. Até agora, não identifiquei nenhum problema em relação ao tipo de arquivo ou variável, mas percebi que algumas colunas possuem dados faltantes. Pode haver vários motivos para isso, como o aluno ter ficado ausente no dia da prova ou não ter marcado uma opção, entre outros. Uma outra característica a se observar é o Dtype, para podermos garantir que a variável da coluna está no formato adequado, por exemplo ter uma variável numerica numa string.

In [ ]:
dfba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266194 entries, 0 to 266193
Data columns (total 76 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   NU_INSCRICAO            266194 non-null  int64
 1   NU_ANO                  266194 non-null  int64
 2   TP_FAIXA_ETARIA         266194 non-null  int64
 3   TP_SEXO                 266194 non-null  object
 4   TP_ESTADO_CIVIL         266194 non-null  int64
 5   TP_COR_RACA             266194 non-null  int64
 6   TP_NACIONALIDADE        266194 non-null  int64
 7   TP_ST_CONCLUSAO         266194 non-null  int64
 8   TP_ANO_CONCLUIU         266194 non-null  int64
 9   TP_ESCOLA               266194 non-null  int64
 10  TP_ENSINO               84388 non-null   float64
 11  IN_TREINEIRO            266194 non-null  int64
 12  CO_MUNICIPIO_ESC        47820 non-null   float64
 13  NO_MUNICIPIO_ESC        47820 non-null   object
 14  CO_UF_ESC               47820 non-null   float64
 15  SG_UF_ESC               47820 non-null   object
 16  TP_DEPENDENCIA_ADM_ESC  47820 non-null   float64
 17  TP_LOCALIZACAO_ESC      47820 non-null   float64
 18  TP_SIT_FUNC_ESC         47820 non-null   float64
 19  CO_MUNICIPIO_PROVA      266194 non-null  int64
 20  NO_MUNICIPIO_PROVA      266194 non-null  object
 21  CO_UF_PROVA             266194 non-null  int64
 22  SG_UF_PROVA             266194 non-null  object
 23  TP_PRESENCA_CN          266194 non-null  int64
 24  TP_PRESENCA_CH          266194 non-null  int64
 25  TP_PRESENCA_LC          266194 non-null  int64
 26  TP_PRESENCA_MT          266194 non-null  int64
 27  CO_PROVA_CN             175356 non-null  float64
 28  CO_PROVA_CH             184844 non-null  float64
 29  CO_PROVA_LC             184844 non-null  float64
 30  CO_PROVA_MT             175356 non-null  float64
 31  NU_NOTA_CN              175356 non-null  float64
 32  NU_NOTA_CH              184844 non-null  float64
 33  NU_NOTA_LC              184844 non-null  float64
 34  NU_NOTA_MT              175356 non-null  float64
 35  TX_RESPOSTAS_CN         175356 non-null  object
 36  TX_RESPOSTAS_CH         184844 non-null  object
 37  TX_RESPOSTAS_LC         184844 non-null  object
 38  TX_RESPOSTAS_MT         175356 non-null  object
 39  TP_LINGUA               266194 non-null  int64
 40  TX_GABARITO_CN          175356 non-null  object
 41  TX_GABARITO_CH          184844 non-null  object
 42  TX_GABARITO_LC          184844 non-null  object
 43  TX_GABARITO_MT          175356 non-null  object
 44  TP_STATUS_REDACAO       184844 non-null  float64
 45  NU_NOTA_COMP1           184844 non-null  float64
 46  NU_NOTA_COMP2           184844 non-null  float64
 47  NU_NOTA_COMP3           184844 non-null  float64
 48  NU_NOTA_COMP4           184844 non-null  float64
 49  NU_NOTA_COMP5           184844 non-null  float64
 50  NU_NOTA_REDACAO         184844 non-null  float64
 51  Q001                    266194 non-null  object
 52  Q002                    266194 non-null  object
 53  Q003                    266194 non-null  object
 54  Q004                    266194 non-null  object
 55  Q005                    266194 non-null  float64
 56  Q006                    266194 non-null  object
 57  Q007                    266194 non-null  object
 58  Q008                    266194 non-null  object
 59  Q009                    266194 non-null  object
 60  Q010                    266194 non-null  object
 61  Q011                    266194 non-null  object
 62  Q012                    266194 non-null  object
 63  Q013                    266194 non-null  object
 64  Q014                    266194 non-null  object
 65  Q015                    266194 non-null  object
 66  Q016                    266194 non-null  object
 67  Q017                    266194 non-null  object
 68  Q018                    266194 non-null  object
 69  Q019                    266194 non-null  object
 70  Q020                    266194 non-null  object
 71  Q021                    266194 non-null  object
 72  Q022                    266194 non-null  object
 73  Q023                    266194 non-null  object
 74  Q024                    266194 non-null  object
 75  Q025                    266194 non-null  object
dtypes: float64(22), int64(17), object(37)
memory usage: 154.3+ MB

#### Foi necessário resetar o index. O drop=True permite que eu apague o indice anterior.

In [ ]:
dfba=dfba.reset_index(drop=True)
dfba.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,Q010,Q011,Q012,Q013,Q014,Q015,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210051128744,2021,4,F,1,3,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927200,Ruy Barbosa,29,BA,1,1,1,1,909.0,881.0,892.0,899.0,507.6,539.2,494.6,413.3,BAEDEBDECCEAEDDCBDEDAEECEEEDBDECBDCECBCCDABED,EEEBAABCBCDBEAEBEACEDDEDECACBDBCDACECDAECBCBD,99999ACAEEEEBDEACDACDEABCEABBDEDBAEEBDEEACDBAC...,BACEACDACBAAAEDCECABBACDCDBBA.CEABCDADADBECBE,1,EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB,1.0,80.0,120.0,80.0,80.0,20.0,380.0,D,D,D,B,2.0,B,A,B,B,A,A,B,B,C,A,B,A,B,C,B,A,C,A,A,B
1,210054173438,2021,5,F,1,2,1,2,0,2,1.0,0,2927408.0,Salvador,29.0,BA,1.0,1.0,1.0,2927408,Salvador,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G,E,E,C,1.0,B,A,B,C,A,A,B,B,B,A,B,A,B,C,A,B,B,B,B,B
2,210052118573,2021,3,F,1,3,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2903201,Barreiras,29,BA,1,1,1,1,912.0,882.0,891.0,901.0,439.6,437.7,455.9,446.2,BCEDEACAEDCEDCBDDCCAADABADDEBEECBACDCCABBDCCA,AAEADCDCAAADCBBBAABBEAEDABCDAACDDCBDAAABAABBB,EDBEC99999DDAAEBBDCDBBAABDECAADAEACCDABCEABABE...,EBBEBDCCDDCDCBADABBBCCEABDADCBCCACBDACDCDADCE,0,DABCEDEBEEBBCABEDDCBCBECDADCDAACBDCCCDBBBEBAB,EBAAEADBCACBBABEECBAAEEBBBADCBADBCEDDEBBCAEAB,ACABBACAEADCEADABDACDCEABDDADBEDDDEBBACCDDDCCE...,DCCAEBABDDCABEECCBCCEXADDCEECDEBADCABBDBDEDCE,1.0,80.0,120.0,80.0,100.0,80.0,460.0,B,F,B,D,3.0,G,A,B,C,B,A,B,A,B,B,B,A,B,B,A,B,B,A,B,B
3,210052350230,2021,10,F,1,2,1,1,8,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2928802,Santo Estêvão,29,BA,1,1,1,1,911.0,880.0,890.0,902.0,548.1,619.5,676.3,386.6,CCAECCADEAADDEDDEECEDDEADDDCACDEDCDCDEADBEDDE,DBBEADDCABABCECEAEBEAEDCBCAEABEEDEBBEAABCBDCD,ABCCA99999DDCACDCACABBEAAEBDAEEBDEEAADACEEDDDB...,CAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA,0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,120.0,120.0,100.0,120.0,120.0,580.0,H,E,F,D,3.0,B,A,B,C,A,B,B,B,A,A,B,A,B,B,B,A,D,A,A,B
4,210053156861,2021,9,M,1,2,1,1,5,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2910800,Feira de Santana,29,BA,1,1,1,1,1014.0,1000.0,1004.0,1010.0,465.2,613.1,522.1,579.6,CDCCBDBBDCBACEBDACBCACADBCBECCEBCDDEBDACEECCD,CCBAADECCBACBECCBEADAEBEACBEBBEADEBBABDACDEBC,BADCE99999DABAABBABBBCEDBDCDABEABCBBDCACBABAAA...,CCBACBBCCCCEDDDDCBCCDCACCCBBBDDDBCBADDBCABACA,0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,100.0,120.0,100.0,120.0,100.0,540.0,F,E,C,C,4.0,C,A,B,C,A,B,B,A,A,A,A,A,A,B,A,A,D,A,B,B

#### Irei salvar esse dataframe num arquivo .csv .

In [ ]:
dfba.to_csv("dados_enem_2021_BA.csv")

#### E para posteriores aberturas podemos abrir a base de dados salva na pasta de trabalho.

In [8]:
from google.colab import files
uploaded = files.upload()

Saving dados_enem_2021_BA.csv to dados_enem_2021_BA.csv

In [10]:
dfba = pd.read_csv('dados_enem_2021_BA.csv')

#### Após feita essas pequenas alterações e ver do que se trata os dados, podemos tentar levantar algumas hípoteses aos dados (Análise Exploratória).

* Padrões espaciais afetam o desempenho?

* Renda familiar afeta os desempenho escolar?

* Há diferença de desempenho entre escolas privadas e públicas?

* Diferença de idade afeta a nota?

* Qual matéria tem maior nota em determinada região? 

#### E podemos saber quais informações possui os dados:

* Dados dos participantes.

* Dados da escola.

* Dados do local da prova.

* Dados da prova objetiva.

* Dados da redação.

* Questionário sócioeconômico.

#### Algumas dessas informações nós conseguimos através do dicionário de dados do ENEM, que estarei disponibilizando no repositório da pasta.

#### Continuando a verificação, podemos ver os dados nulos em termos percentuais. Aqui utilizaremos um fatiamento no shape e uma ordenação em ordem decrescente.

In [ ]:
(dfba.isna().sum() / dfba.shape[0]*100).sort_values(ascending = False)

CO_MUNICIPIO_ESC          82.035658
TP_DEPENDENCIA_ADM_ESC    82.035658
CO_UF_ESC                 82.035658
NO_MUNICIPIO_ESC          82.035658
TP_LOCALIZACAO_ESC        82.035658
TP_SIT_FUNC_ESC           82.035658
SG_UF_ESC                 82.035658
TP_ENSINO                 68.298309
NU_NOTA_MT                34.124736
TX_GABARITO_MT            34.124736
TX_GABARITO_CN            34.124736
TX_RESPOSTAS_MT           34.124736
NU_NOTA_CN                34.124736
CO_PROVA_CN               34.124736
CO_PROVA_MT               34.124736
TX_RESPOSTAS_CN           34.124736
NU_NOTA_LC                30.560418
NU_NOTA_CH                30.560418
CO_PROVA_LC               30.560418
TX_RESPOSTAS_CH           30.560418
TX_RESPOSTAS_LC           30.560418
TX_GABARITO_CH            30.560418
TX_GABARITO_LC            30.560418
TP_STATUS_REDACAO         30.560418
NU_NOTA_COMP1             30.560418
NU_NOTA_COMP2             30.560418
NU_NOTA_COMP3             30.560418
NU_NOTA_COMP4             30.560418
NU_NOTA_COMP5             30.560418
CO_PROVA_CH               30.560418
NU_NOTA_REDACAO           30.560418
Q005                       0.000000
Q015                       0.000000
Q024                       0.000000
Q023                       0.000000
Q022                       0.000000
Q021                       0.000000
Q020                       0.000000
Q019                       0.000000
Q018                       0.000000
Q017                       0.000000
Q016                       0.000000
Q003                       0.000000
Q006                       0.000000
Q014                       0.000000
Q013                       0.000000
Q004                       0.000000
Q012                       0.000000
Q011                       0.000000
Q010                       0.000000
Q009                       0.000000
Q008                       0.000000
Q002                       0.000000
Q007                       0.000000
Unnamed: 0                 0.000000
Q001                       0.000000
TP_LINGUA                  0.000000
index                      0.000000
NU_INSCRICAO               0.000000
NU_ANO                     0.000000
TP_FAIXA_ETARIA            0.000000
TP_SEXO                    0.000000
TP_ESTADO_CIVIL            0.000000
TP_COR_RACA                0.000000
TP_NACIONALIDADE           0.000000
TP_ST_CONCLUSAO            0.000000
TP_ANO_CONCLUIU            0.000000
TP_ESCOLA                  0.000000
IN_TREINEIRO               0.000000
CO_MUNICIPIO_PROVA         0.000000
NO_MUNICIPIO_PROVA         0.000000
CO_UF_PROVA                0.000000
SG_UF_PROVA                0.000000
TP_PRESENCA_CN             0.000000
TP_PRESENCA_CH             0.000000
TP_PRESENCA_LC             0.000000
TP_PRESENCA_MT             0.000000
level_0                    0.000000
Q025                       0.000000
dtype: float64

#### Aqui iremos tirar as principais medidas estatísticas para descrever os dados.

#### Tirei notação científica para tornar os dados mais legível e fiz a transposta para facilitar a visualização dos dados.

#### Com essa informação é possível ver discrepâncias entre os valores e achar inconsistências nos dados.

In [ ]:
pd.options.display.float_format = '{:.2f}'.format
dfba.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,266194.00,133096.50,76843.73,0.00,66548.25,133096.50,199644.75,266193.00
level_0,266194.00,133096.50,76843.73,0.00,66548.25,133096.50,199644.75,266193.00
index,266194.00,1697664.66,1003326.41,9.00,809979.75,1680632.50,2580411.25,3389821.00
NU_INSCRICAO,266194.00,210052726549.63,981957.69,210051014333.00,210051874786.00,210052741349.50,210053607621.50,210054465467.00
NU_ANO,266194.00,2021.00,0.00,2021.00,2021.00,2021.00,2021.00,2021.00
TP_FAIXA_ETARIA,266194.00,5.71,3.88,1.00,3.00,4.00,8.00,20.00
TP_ESTADO_CIVIL,266194.00,1.05,0.41,0.00,1.00,1.00,1.00,4.00
TP_COR_RACA,266194.00,2.30,0.91,0.00,2.00,3.00,3.00,5.00
TP_NACIONALIDADE,266194.00,1.03,0.19,0.00,1.00,1.00,1.00,4.00
TP_ST_CONCLUSAO,266194.00,1.60,0.72,1.00,1.00,1.00,2.00,4.00
TP_ANO_CONCLUIU,266194.00,2.85,4.47,0.00,0.00,0.00,4.00,15.00
TP_ESCOLA,266194.00,1.38,0.57,1.00,1.00,1.00,2.00,3.00
TP_ENSINO,84388.00,1.01,0.11,1.00,1.00,1.00,1.00,2.00
IN_TREINEIRO,266194.00,0.12,0.33,0.00,0.00,0.00,0.00,1.00
CO_MUNICIPIO_ESC,47820.00,2921430.09,77089.02,1100122.00,2910800.00,2922003.00,2927408.00,5300108.00
CO_UF_ESC,47820.00,29.02,0.76,11.00,29.00,29.00,29.00,53.00
TP_DEPENDENCIA_ADM_ESC,47820.00,2.41,0.93,1.00,2.00,2.00,2.00,4.00
TP_LOCALIZACAO_ESC,47820.00,1.04,0.20,1.00,1.00,1.00,1.00,2.00
TP_SIT_FUNC_ESC,47820.00,1.04,0.30,1.00,1.00,1.00,1.00,4.00
CO_MUNICIPIO_PROVA,266194.00,2919423.17,9521.54,2900702.00,2910800.00,2919553.00,2927408.00,2933604.00
CO_UF_PROVA,266194.00,29.00,0.00,29.00,29.00,29.00,29.00,29.00
TP_PRESENCA_CN,266194.00,0.66,0.47,0.00,0.00,1.00,1.00,2.00
TP_PRESENCA_CH,266194.00,0.70,0.46,0.00,0.00,1.00,1.00,2.00
TP_PRESENCA_LC,266194.00,0.70,0.46,0.00,0.00,1.00,1.00,2.00
TP_PRESENCA_MT,266194.00,0.66,0.47,0.00,0.00,1.00,1.00,2.00
CO_PROVA_CN,175356.00,916.39,27.25,909.00,910.00,911.00,912.00,1048.00
CO_PROVA_CH,184844.00,886.90,28.57,879.00,880.00,881.00,882.00,1018.00
CO_PROVA_LC,184844.00,896.86,28.42,889.00,890.00,891.00,892.00,1028.00
CO_PROVA_MT,175356.00,906.43,27.39,899.00,900.00,901.00,902.00,1038.00
NU_NOTA_CN,175356.00,479.94,75.04,0.00,424.30,470.40,527.60,839.00
NU_NOTA_CH,184844.00,506.23,94.10,0.00,431.50,502.80,575.40,846.90
NU_NOTA_LC,184844.00,489.13,77.83,0.00,432.30,490.20,544.70,821.60
NU_NOTA_MT,175356.00,513.51,101.19,0.00,433.70,491.50,579.40,953.10
TP_LINGUA,266194.00,0.48,0.50,0.00,0.00,0.00,1.00,1.00
TP_STATUS_REDACAO,184844.00,1.13,0.77,1.00,1.00,1.00,1.00,9.00
NU_NOTA_COMP1,184844.00,116.35,32.98,0.00,100.00,120.00,140.00,200.00
NU_NOTA_COMP2,184844.00,137.44,44.66,0.00,120.00,120.00,180.00,200.00
NU_NOTA_COMP3,184844.00,114.18,35.12,0.00,100.00,120.00,120.00,200.00
NU_NOTA_COMP4,184844.00,126.79,37.47,0.00,120.00,120.00,140.00,200.00
NU_NOTA_COMP5,184844.00,111.51,58.99,0.00,80.00,120.00,160.00,200.00
NU_NOTA_REDACAO,184844.00,606.28,184.23,0.00,520.00,600.00,720.00,1000.00
Q005,266194.00,3.70,1.38,1.00,3.00,4.00,4.00,20.00

#### Podemos selecionar valores únicos de cada variável, algumas delas se encontram únicas, por exemplo de ano, pois o banco de dados é somente relacionado a um ano de prova do ENEM, ou outras que possuem variáveis dummies.

In [ ]:
dfba.nunique().sort_values()

SG_UF_PROVA                    1
CO_UF_PROVA                    1
NU_ANO                         1
Q025                           2
Q020                           2
TP_LINGUA                      2
TP_LOCALIZACAO_ESC             2
IN_TREINEIRO                   2
TP_ENSINO                      2
Q018                           2
Q023                           2
Q021                           2
TP_SEXO                        2
TP_ESCOLA                      3
TP_PRESENCA_MT                 3
TP_PRESENCA_LC                 3
TP_PRESENCA_CH                 3
TP_PRESENCA_CN                 3
TP_ST_CONCLUSAO                4
Q007                           4
TP_SIT_FUNC_ESC                4
TP_DEPENDENCIA_ADM_ESC         4
Q013                           5
Q008                           5
Q016                           5
Q009                           5
Q017                           5
Q024                           5
Q011                           5
Q015                           5
Q014                           5
Q012                           5
Q010                           5
Q019                           5
TP_NACIONALIDADE               5
Q022                           5
TP_ESTADO_CIVIL                5
Q004                           6
Q003                           6
TP_COR_RACA                    6
Q002                           8
Q001                           8
TX_GABARITO_CN                 8
TX_GABARITO_CH                 8
TX_GABARITO_MT                 8
TP_STATUS_REDACAO              8
TX_GABARITO_LC                10
NU_NOTA_COMP2                 10
NU_NOTA_COMP5                 11
NU_NOTA_COMP4                 11
NU_NOTA_COMP3                 11
NU_NOTA_COMP1                 11
TP_ANO_CONCLUIU               16
Q006                          17
CO_PROVA_MT                   18
CO_PROVA_CN                   18
CO_PROVA_CH                   18
CO_PROVA_LC                   18
TP_FAIXA_ETARIA               20
Q005                          20
SG_UF_ESC                     23
CO_UF_ESC                     23
NU_NOTA_REDACAO               50
NO_MUNICIPIO_PROVA           162
CO_MUNICIPIO_PROVA           162
NO_MUNICIPIO_ESC             588
CO_MUNICIPIO_ESC             590
NU_NOTA_LC                  4183
NU_NOTA_CN                  4185
NU_NOTA_CH                  4512
NU_NOTA_MT                  5371
TX_RESPOSTAS_MT           175270
TX_RESPOSTAS_CN           175290
TX_RESPOSTAS_CH           184475
TX_RESPOSTAS_LC           184718
NU_INSCRICAO              266194
index                     266194
level_0                   266194
Unnamed: 0                266194
dtype: int64

#### Podemos fazer uma contagem dos alunos e seus tipos de escolas. Onde:

1. Não respondeu
2. Pública
3. Privada

In [ ]:
dfba.TP_ESCOLA.value_counts()

1    177170
2     76984
3     12040
Name: TP_ESCOLA, dtype: int64

#### Podemos selecionar várias colunas.

In [11]:
pd.reset_option('display.max_rows') #Resetar a apresentação das linhas para carregar mais rápido.

In [12]:
dfba[["TP_SEXO", "TP_ESCOLA"]]

       TP_SEXO  TP_ESCOLA
0            F          2
1            F          2
2            F          2
3            F          1
4            M          1
...        ...        ...
266189       M          1
266190       M          1
266191       M          1
266192       M          1
266193       F          1

[266194 rows x 2 columns]

In [ ]:
dfba[["TP_SEXO", "TP_ESCOLA"]].value_counts()

TP_SEXO  TP_ESCOLA
F        1            114715
M        1             62455
F        2             50561
M        2             26423
F        3              6721
M        3              5319
dtype: int64

#### Se preferirmos fatiar os dados para uma indexação específica. Fazemos assim:

In [ ]:
dfba.iloc[0:10, 3]

0    210051128744
1    210054173438
2    210052118573
3    210052350230
4    210053156861
5    210053085526
6    210053741476
7    210053790986
8    210051521447
9    210054171092
Name: NU_INSCRICAO, dtype: int64

#### Com o 'select_dtypes' selecionamos os tipos dados que queremos apresentar, por exemplo separar variáveis categóricas ou qualitativas.

In [14]:
dfba.select_dtypes(include = [int,float])

,Unnamed: 0,level_0,index,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,CO_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,CO_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q005
0,0,0,9,210051128744,2021,4,1,3,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,2927200,29,1,1,1,1,909.0,881.0,892.0,899.0,507.6,539.2,494.6,413.3,1,1.0,80.0,120.0,80.0,80.0,20.0,380.0,2.0
1,1,1,14,210054173438,2021,5,1,2,1,2,0,2,1.0,0,2927408.0,29.0,1.0,1.0,1.0,2927408,29,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,2,2,21,210052118573,2021,3,1,3,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,2903201,29,1,1,1,1,912.0,882.0,891.0,901.0,439.6,437.7,455.9,446.2,0,1.0,80.0,120.0,80.0,100.0,80.0,460.0,3.0
3,3,3,27,210052350230,2021,10,1,2,1,1,8,1,NaN,0,NaN,NaN,NaN,NaN,NaN,2928802,29,1,1,1,1,911.0,880.0,890.0,902.0,548.1,619.5,676.3,386.6,0,1.0,120.0,120.0,100.0,120.0,120.0,580.0,3.0
4,4,4,32,210053156861,2021,9,1,2,1,1,5,1,NaN,0,NaN,NaN,NaN,NaN,NaN,2910800,29,1,1,1,1,1014.0,1000.0,1004.0,1010.0,465.2,613.1,522.1,579.6,0,1.0,100.0,120.0,100.0,120.0,100.0,540.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266189,266189,266189,3389785,210051432069,2021,12,1,3,1,1,0,1,NaN,0,NaN,NaN,NaN,NaN,NaN,2900702,29,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
266190,266190,266190,3389796,210051106175,2021,14,2,2,1,1,0,1,NaN,0,NaN,NaN,NaN,NaN,NaN,2918407,29,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
266191,266191,266191,3389806,210051995005,2021,11,0,2,1,1,12,1,NaN,0,NaN,NaN,NaN,NaN,NaN,2927408,29,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0
266192,266192,266192,3389818,210053234415,2021,12,2,2,1,1,15,1,NaN,0,NaN,NaN,NaN,NaN,NaN,2927408,29,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
266193,266193,266193,3389821,210054027870,2021,5,1,2,1,1,2,1,NaN,0,NaN,NaN,NaN,NaN,NaN,2927408,29,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0

#### Vamos supor que você queira saber todas colunas qualitativas dos seus dados, então, podemos salvar essas colunas numa lista.

In [17]:
col_quali = dfba.select_dtypes(include = object).columns.tolist()
col_quali

['TP_SEXO',
 'NO_MUNICIPIO_ESC',
 'SG_UF_ESC',
 'NO_MUNICIPIO_PROVA',
 'SG_UF_PROVA',
 'TX_RESPOSTAS_CN',
 'TX_RESPOSTAS_CH',
 'TX_RESPOSTAS_LC',
 'TX_RESPOSTAS_MT',
 'TX_GABARITO_CN',
 'TX_GABARITO_CH',
 'TX_GABARITO_LC',
 'TX_GABARITO_MT',
 'Q001',
 'Q002',
 'Q003',
 'Q004',
 'Q006',
 'Q007',
 'Q008',
 'Q009',
 'Q010',
 'Q011',
 'Q012',
 'Q013',
 'Q014',
 'Q015',
 'Q016',
 'Q017',
 'Q018',
 'Q019',
 'Q020',
 'Q021',
 'Q022',
 'Q023',
 'Q024',
 'Q025']

#### Tentando responder a pergunta "Há diferença de desempenho entre escolas privadas e públicas?" Podemos comparar as  médias. Lembrando:

1. Não respondeu
2. Pública
3. Privada

In [22]:
dfba.query('TP_ESCOLA == 2').NU_NOTA_MT.agg([np.mean, np.median]) #Pública

mean      487.37505
median    468.90000
Name: NU_NOTA_MT, dtype: float64

In [23]:
dfba.query('TP_ESCOLA == 3').NU_NOTA_MT.agg([np.mean, np.median]) #Privada

mean      579.8339
median    581.6000
Name: NU_NOTA_MT, dtype: float64

#### A diferença entre a escola privada para a pública é muito grande, podemos também inferir sobre a diferença da mediana para média é a presença de outliers. 

#### Também temos a possibilidade de adicionar condições mais restritivas. Selecionamos 5 garotos aleatórios e também ser treineiro.

In [27]:
dfba.query("(TP_SEXO == 'M') & (IN_TREINEIRO == 1)").sample(5)

,Unnamed: 0,level_0,index,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,Q010,Q011,Q012,Q013,Q014,Q015,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
218829,218829,218829,2834305,210054027519,2021,1,M,1,3,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927408,Salvador,29,BA,1,1,1,1,911.0,880.0,890.0,902.0,598.9,686.3,640.3,823.8,CCCBBCABABAEEBBAECBCBCEADDDDACBAACBBBCDEBEEBB,DBBAAEABBBABEECEBAAEADBEACCEADEEDEBBBCABABADC,BBBCA99999CDEACBCAACBBEADEBBABEADEEBDCACEDDDAA...,ECCCEBBABDDDCEDDCCBAEBEBABBDCEDCCAEDEDBCCECDA,0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,160.0,40.0,40.0,200.0,40.0,480.0,E,G,D,D,2.0,G,A,B,C,B,A,B,A,B,B,B,A,B,B,B,A,C,A,B,B
98281,98281,98281,1240609,210053359996,2021,1,M,1,3,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2914000,Ipirá,29,BA,1,1,1,1,912.0,882.0,891.0,901.0,508.3,388.6,435.2,414.1,DCCCDBEBDBDBCDABDDCACDCCDCBBACCCBDAECBCCC*DCE,CCBDCDDCCDDADBBBCDBBEACCDBDCBBCCBBADDAEBDCDDE,99999ACABDDBCCBEBCEABCABCBEBDCADCCDDBCDCABBBCC...,CDCBDDDBCDDCC*ACBCDADAACBCDBBCBAA*BCCDBCDBCBB,1,DABCEDEBEEBBCABEDDCBCBECDADCDAACBDCCCDBBBEBAB,EBAAEADBCACBBABEECBAAEEBBBADCBADBCEDDEBBCAEAB,ACABBACAEADCEADABDACDCEABDDADBEDDDEBBACCDDDCCE...,DCCAEBABDDCABEECCBCCEXADDCEECDEBADCABBDBDEDCE,1.0,100.0,100.0,120.0,120.0,40.0,480.0,D,E,A,C,3.0,B,A,B,D,A,A,B,A,A,A,A,A,A,B,B,B,B,A,A,B
233697,233697,233697,3037255,210052032153,2021,3,M,1,1,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2910727,Eunápolis,29,BA,1,1,1,1,910.0,879.0,889.0,900.0,571.8,592.4,581.8,634.5,ADABECACEECBCEDDADDBBBADCDCBBDBBECEDBCAECEEBE,AAECDABECECDABBAEACBBCEBCAEAADADEAABAABBAEBDB,CAAAE99999BDCDEADEEAADDADADBDEEDBCCACBBBBECDCC...,DDCEBCCCACEDAAADDBDABDBECBDCECADADDDCADBADEBE,0,ADCDCDBBBECDCCDCBCBDABCAADCBEBABEEBBBCABEDEDE,BADCBADBCEDDEBBADBCABEECCAEABEBAAECBBABAAEEBB,CAABBCAEAABDCDEADCEDBEDDDABBBBDEBCEADABDBACACD...,DDCABDCCAEDCEBBDBDAEEBADCAECDBCCCCDDCEEBABXEE,4.0,0.0,0.0,0.0,0.0,0.0,0.0,H,E,F,F,5.0,F,A,D,E,A,A,C,B,B,A,C,A,A,C,A,B,E,B,D,B
62441,62441,62441,763998,210054026067,2021,7,M,1,2,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2909802,Cruz das Almas,29,BA,0,1,1,0,NaN,882.0,891.0,NaN,NaN,393.8,395.0,NaN,NaN,CCBECCDDAABCCDCCADCDCDECAEDECEDBDACBEDBDCBADC,AECAA99999ACDCDDEBBDCDEAEBDDCABEDADAEBDAEAEBAC...,NaN,0,NaN,EBAAEADBCACBBABEECBAAEEBBBADCBADBCEDDEBBCAEAB,ACABBACAEADCEADABDACDCEABDDADBEDDDEBBACCDDDCCE...,NaN,1.0,80.0,120.0,100.0,80.0,0.0,380.0,C,D,A,A,3.0,B,A,B,C,A,B,B,A,A,A,B,A,A,B,A,A,C,A,A,B
178256,178256,178256,2289691,210053292276,2021,1,M,1,3,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927408,Salvador,29,BA,1,1,1,1,911.0,880.0,890.0,902.0,565.4,604.3,533.4,627.6,CCCDEBEEEEADBCCCCCBECEAABADABACDBCDABCABCEECB,DBABADBECDABEECCEAAAADAEACAEBBEEBEDECABBCBAAC,99999ACACACDAADDBACEBBEDBDABABEADEDBDCCCBDDACA...,CADCBDBAABDCCEDDCCDDDEEEBBCDDEECCDDBBDEBADCBB,1,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,120.0,180.0,120.0,120.0,120.0,660.0,E,F,D,E,4.0,O,A,C,D,C,A,B,B,B,A,B,A,A,B,A,A,E,A,A,B

#### Podemos usar o operador OR ou '|' sendo uma condição ser garoto ou ser treineiro.

In [26]:
dfba.query("(TP_SEXO == 'M') | (IN_TREINEIRO == 1)").sample(5)

,Unnamed: 0,level_0,index,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,Q010,Q011,Q012,Q013,Q014,Q015,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
10740,10740,10740,117550,210053519733,2021,2,F,1,3,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927002,Rio Real,29,BA,1,1,1,1,909.0,881.0,892.0,899.0,534.0,635.1,486.8,717.7,BADBABDCABCBCDECBADBBAEDABDAECCAEADBCCCBDABDE,BBECCAEBBAEBCACCABEACDABBBABBCBBAEABBAACCEBBA,ABAAE99999CDBCBDCDCDACACCBDCCBBDBDCDEDAECBEBCE...,EABEBACDACBECBBDEDCBAEBADBACBDBEEDDADCCABDCDB,0,EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB,1.0,160.0,180.0,160.0,180.0,200.0,880.0,C,E,B,C,4.0,E,A,B,C,B,B,B,B,A,A,A,A,A,B,A,B,D,A,B,B
252316,252316,252316,3246612,210054019556,2021,14,M,2,2,1,1,15,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927408,Salvador,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H,D,F,B,3.0,B,A,B,C,A,A,B,A,B,A,A,A,A,B,A,A,C,A,A,B
201738,201738,201738,2606393,210052988808,2021,1,F,1,2,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927408,Salvador,29,BA,1,1,1,1,912.0,882.0,891.0,901.0,483.8,427.6,491.6,551.2,DABBBDEBEDCABDCDCBBABBACEDBDEEBCBDBBEBCCDCCAC,AABBECCCBADACACDBEAEADEDBDBCCBDCBAACBAAADDCBC,AEAAC99999DCBAEDBDACBCEACCDDDBDABDDADBAAECAEAA...,DBCAEDADCDBDCEBBDDBCAEACBDDDBDBBDEDACBCEABEBC,0,DABCEDEBEEBBCABEDDCBCBECDADCDAACBDCCCDBBBEBAB,EBAAEADBCACBBABEECBAAEEBBBADCBADBCEDDEBBCAEAB,ACABBACAEADCEADABDACDCEABDDADBEDDDEBBACCDDDCCE...,DCCAEBABDDCABEECCBCCEXADDCEECDEBADCABBDBDEDCE,1.0,100.0,180.0,100.0,120.0,160.0,660.0,D,E,D,B,3.0,B,A,B,C,A,A,B,A,B,A,A,A,A,B,A,A,C,A,B,B
49993,49993,49993,626756,210053262761,2021,6,M,1,3,1,1,3,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2918407,Juazeiro,29,BA,1,1,1,1,909.0,881.0,892.0,899.0,535.6,538.8,438.6,600.3,BBBBBBDEADBBEACCCBCEDEBDEDBAEDDCACEDCDCEBAAEB,ABACDAAABAEBEADAAACEADEBEDADDEEAADDDAADCBAABD,BCCAD99999EDBDEBCECCBBDCDBDAADCBBEADADCDEADDAE...,CBCEAEDDCDCCCBBACBDAEBCEDBDEBBCADDBBDECACDBBA,0,EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB,1.0,120.0,120.0,120.0,120.0,120.0,600.0,E,F,C,B,5.0,C,A,C,C,B,A,B,B,B,A,A,A,B,C,A,A,C,A,A,B
75257,75257,75257,925399,210053597650,2021,3,F,1,3,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2905701,Camaçari,29,BA,1,1,1,1,911.0,880.0,890.0,902.0,386.9,376.2,455.4,431.7,CBDDEBCAACEEBCDAEBBCDACEDAECDADBACABDEBDA*DEA,DCBBEAEECBEDCEBBBCBDBEAAEBAABAAAEBDEBDCACBABD,AEECA99999CADAAEBACCDBBABDADBEDAEEBBBBAAEDBBBA...,BACDCBAEEAC.BDDCBDAACBBCDEDCEBEADBEACDBBECDBA,0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,120.0,100.0,100.0,80.0,80.0,480.0,E,H,F,F,2.0,A,A,B,C,A,A,B,B,A,A,B,A,A,B,B,A,C,A,B,B

#### Se quisermos fazer um filtro mais específico em um DataFrame pandas, podemos utilizar o método 'isin' para selecionar especificamente as linhas que queremos manter ou podemos utilizar o operador '~' para excluir as linhas que atendem ao critério de filtro.

In [29]:
dfba[dfba.NO_MUNICIPIO_PROVA.isin(['Itabuna','Salvador'])] #Aqui só selecionamos os munícipios de Salvador e Itabuna.

,Unnamed: 0,level_0,index,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,Q010,Q011,Q012,Q013,Q014,Q015,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
1,1,1,14,210054173438,2021,5,F,1,2,1,2,0,2,1.0,0,2927408.0,Salvador,29.0,BA,1.0,1.0,1.0,2927408,Salvador,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G,E,E,C,1.0,B,A,B,C,A,A,B,B,B,A,B,A,B,C,A,B,B,B,B,B
6,6,6,39,210053741476,2021,6,F,1,3,1,1,3,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927408,Salvador,29,BA,1,1,1,1,910.0,879.0,889.0,900.0,453.4,438.3,503.4,379.5,BCDBECADBCCDCEBBBCEDCBCEBACDBEEAEDCDBCAACEEBD,BDDCABAEEAABECBBCBEDBEABACBCCEDEBAEBAACBBECAC,BABAC99999ACCDEADAECADBBADBBCEDCBADBCCABDABDAB...,DCDDABDEDBADAEACBCDEAABCBDBCAEBAABECEDABEBBCC,0,ADCDCDBBBECDCCDCBCBDABCAADCBEBABEEBBBCABEDEDE,BADCBADBCEDDEBBADBCABEECCAEABEBAAECBBABAAEEBB,CAABBCAEAABDCDEADCEDBEDDDABBBBDEBCEADABDBACACD...,DDCABDCCAEDCEBBDBDAEEBADCAECDBCCCCDDCEEBABXEE,1.0,100.0,140.0,120.0,120.0,120.0,600.0,C,D,C,F,3.0,B,A,B,C,A,A,B,A,A,A,A,A,A,B,A,A,C,A,A,B
9,9,9,54,210054171092,2021,4,M,1,2,1,1,1,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927408,Salvador,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,G,C,D,2.0,B,A,B,C,A,A,B,A,B,A,B,A,A,B,A,A,B,A,B,A
14,14,14,101,210053702687,2021,6,F,1,1,1,1,4,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927408,Salvador,29,BA,1,1,1,1,911.0,880.0,890.0,902.0,603.3,622.5,571.7,729.2,CCCCBBEDEACBEEBEBCCACDDABAADACDDECDABBABBEEBA,CBBAAAACBBABEECCCAAEAEAAACAEBEBDBABBDADBEAEEC,99999AAAEADDEACDBACCDBEECCCBACEADEEBDDACDADACD...,DACCCBBDBEDDEEDDCBBBEEEBABDBABCBCACAEDBBDBCDA,1,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,160.0,200.0,160.0,160.0,180.0,860.0,F,F,D,D,3.0,G,A,C,D,A,A,B,B,B,A,B,A,A,B,A,A,D,A,B,B
17,17,17,119,210054087112,2021,12,M,1,3,1,1,14,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927408,Salvador,29,BA,1,1,1,1,909.0,881.0,892.0,899.0,414.6,420.5,368.6,399.4,ADBDECBCCCADBEACDADEBCAEACBADEDACDEBDCEBCADCA,DACBADDCEEEBAADAADEAEBDBADEDDAABAEAEBCBEAAADB,99999DBCCEEABECEDCADACACACAADBEBEEECCACCCEAEED...,BDEACDCBEDCAEBAACDBBEDCAADCBEDCEBDCAEDBCDBDEE,1,EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB,1.0,80.0,120.0,80.0,100.0,100.0,480.0,D,B,D,A,1.0,E,A,B,C,A,A,B,A,B,A,B,A,A,B,A,A,B,A,A,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266183,266183,266183,3389691,210053939844,2021,16,F,0,2,1,4,0,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927408,Salvador,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,B,B,B,5.0,B,A,B,C,A,A,A,A,A,A,A,A,A,A,A,A,B,A,B,B
266188,266188,266188,3389761,210054023670,2021,5,F,1,3,1,1,2,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927408,Salvador,29,BA,1,1,1,1,1045.0,1017.0,1028.0,1035.0,463.8,474.9,333.3,357.8,AEEECBDDBBCBDBCCBBABEEBCEADDCCBDEDDAEEACCECEE,DBCECABAEBACDADCEDBCCBEEACEBAACECEEDCABBDEEBD,CBCDB99999CABBCBACECCEABBBCEEDDCCBDDCAEDBBDEAC...,ECECBDDECBABAACCCCCACEAEDDDCCADAEEDECCDBDCEDB,0,BACEECDDDEABEEDCBACBDABCCAEAAEABACCDAAACCAEEA,ACBCBACADEABDBDBABBCCBABABDDBBAEDAEEEEBAAEBED,ADCECCBBCEDDAEBABACBCACBEDACCEAEDACABAAABBAAEB...,DBDBBDBAACBADBBDECBDBBACEBCBDCCECDEEDCADEABBB,1.0,80.0,40.0,40.0,120.0,0.0,280.0,B,E,B,B,3.0,B,A,B,B,A,A,A,A,A,A,A,A,A,B,A,A,B,A,A,B
266191,266191,266191,3389806,210051995005,2021,11,M,0,2,1,1,12,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927408,Salvador,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,F,B,D,7.0,B,A,B,C,A,A,B,A,A,A,A,A,A,B,A,A,C,B,B,B
266192,266192,266192,3389818,210053234415,2021,12,M,2,2,1,1,15,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927408,Salvador,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,F,C,B,2.0,B,A,B,B,A,A,B,A,A,A,A,A,A,B,A,A,B,A,A,A
266193,266193,266193,3389821,210054027870,2021,5,F,1,2,1,1,2,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927408,Salvador,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,B,B,B,5.0,B,A,B,C,A,A,B,A,B,A,A,A,A,B,B,A,E,A,B,B

In [33]:
dfba[~(dfba.NO_MUNICIPIO_PROVA.isin(['Itabuna','Salvador']))] #Aqui eu nego a condição feita acima de ser somentes as cidades
#Itabuna e Salvador.

,Unnamed: 0,level_0,index,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,Q010,Q011,Q012,Q013,Q014,Q015,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,0,0,9,210051128744,2021,4,F,1,3,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927200,Ruy Barbosa,29,BA,1,1,1,1,909.0,881.0,892.0,899.0,507.6,539.2,494.6,413.3,BAEDEBDECCEAEDDCBDEDAEECEEEDBDECBDCECBCCDABED,EEEBAABCBCDBEAEBEACEDDEDECACBDBCDACECDAECBCBD,99999ACAEEEEBDEACDACDEABCEABBDEDBAEEBDEEACDBAC...,BACEACDACBAAAEDCECABBACDCDBBA.CEABCDADADBECBE,1,EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB,1.0,80.0,120.0,80.0,80.0,20.0,380.0,D,D,D,B,2.0,B,A,B,B,A,A,B,B,C,A,B,A,B,C,B,A,C,A,A,B
2,2,2,21,210052118573,2021,3,F,1,3,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2903201,Barreiras,29,BA,1,1,1,1,912.0,882.0,891.0,901.0,439.6,437.7,455.9,446.2,BCEDEACAEDCEDCBDDCCAADABADDEBEECBACDCCABBDCCA,AAEADCDCAAADCBBBAABBEAEDABCDAACDDCBDAAABAABBB,EDBEC99999DDAAEBBDCDBBAABDECAADAEACCDABCEABABE...,EBBEBDCCDDCDCBADABBBCCEABDADCBCCACBDACDCDADCE,0,DABCEDEBEEBBCABEDDCBCBECDADCDAACBDCCCDBBBEBAB,EBAAEADBCACBBABEECBAAEEBBBADCBADBCEDDEBBCAEAB,ACABBACAEADCEADABDACDCEABDDADBEDDDEBBACCDDDCCE...,DCCAEBABDDCABEECCBCCEXADDCEECDEBADCABBDBDEDCE,1.0,80.0,120.0,80.0,100.0,80.0,460.0,B,F,B,D,3.0,G,A,B,C,B,A,B,A,B,B,B,A,B,B,A,B,B,A,B,B
3,3,3,27,210052350230,2021,10,F,1,2,1,1,8,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2928802,Santo Estêvão,29,BA,1,1,1,1,911.0,880.0,890.0,902.0,548.1,619.5,676.3,386.6,CCAECCADEAADDEDDEECEDDEADDDCACDEDCDCDEADBEDDE,DBBEADDCABABCECEAEBEAEDCBCAEABEEDEBBEAABCBDCD,ABCCA99999DDCACDCACABBEAAEBDAEEBDEEAADACEEDDDB...,CAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA,0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,120.0,120.0,100.0,120.0,120.0,580.0,H,E,F,D,3.0,B,A,B,C,A,B,B,B,A,A,B,A,B,B,B,A,D,A,A,B
4,4,4,32,210053156861,2021,9,M,1,2,1,1,5,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2910800,Feira de Santana,29,BA,1,1,1,1,1014.0,1000.0,1004.0,1010.0,465.2,613.1,522.1,579.6,CDCCBDBBDCBACEBDACBCACADBCBECCEBCDDEBDACEECCD,CCBAADECCBACBECCBEADAEBEACBEBBEADEBBABDACDEBC,BADCE99999DABAABBABBBCEDBDCDABEABCBBDCACBABAAA...,CCBACBBCCCCEDDDDCBCCDCACCCBBBDDDBCBADDBCABACA,0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,100.0,120.0,100.0,120.0,100.0,540.0,F,E,C,C,4.0,C,A,B,C,A,B,B,A,A,A,A,A,A,B,A,A,D,A,B,B
5,5,5,33,210053085526,2021,3,M,1,1,1,2,0,2,1.0,0,2932606.0,Urandi,29.0,BA,2.0,1.0,1.0,2932606,Urandi,29,BA,1,1,1,1,910.0,879.0,889.0,900.0,414.6,410.1,386.7,423.0,CBCAEDDBBCBABADAABECACCEBDEABCCAECEECCDBCBDCB,BACDABADEBACEDCACDADBCBDBDBECADBEDAEBDCAEBDCA,BAEAB99999CACBABEBADECADCEDCBCADABDEDBDCABCACB...,EACDCADDDCDBADABACEDEDCECBDCCBEAACEADEAECCCEC,0,ADCDCDBBBECDCCDCBCBDABCAADCBEBABEEBBBCABEDEDE,BADCBADBCEDDEBBADBCABEECCAEABEBAAECBBABAAEEBB,CAABBCAEAABDCDEADCEDBEDDDABBBBDEBCEADABDBACACD...,DDCABDCCAEDCEBBDBDAEEBADCAECDBCCCCDDCEEBABXEE,1.0,120.0,180.0,140.0,160.0,100.0,700.0,C,C,A,A,6.0,B,A,C,C,B,B,B,B,A,A,A,A,A,B,A,A,C,A,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266185,266185,266185,3389700,210052439300,2021,8,M,1,2,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2900702,Alagoinhas,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,B,B,B,4.0,B,A,B,C,A,A,B,A,A,A,A,A,A,B,A,A,C,A,A,A
266186,266186,266186,3389710,210053752138,2021,7,F,1,3,1,1,5,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2903201,Barreiras,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,B,A,A,5.0,B,A,B,C,A,A,B,A,A,A,A,A,A,B,A,A,B,A,A,A
266187,266187,266187,3389730,210053346615,2021,5,F,1,1,1,1,2,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2919504,Livramento de Nossa Senhora,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,B,A,A,3.0,A,A,B,C,A,A,B,A,A,A,A,A,A,B,A,A,B,A,A,A
266189,266189,266189,3389785,210051432069,2021,12,M,1,3,1,1,0,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2900702,Alagoinhas,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B,B,A,B,3.0,C,A,B,C,A,A,B,A,B,A,B,B,A,B,A,A,C,A,A,B
266190,266190,266190,3389796,210051106175,2021,14,M,2,2,1,1,0,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2918407,Juazeiro,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,A,A,A,4.0,C,A,B,C,A,A,B,A,A,A,A,A,A,B,B,A,C,A,A,B