
*GERAL*

*Visões geral*: 2022

* Quantidade de inscritos por ano - OK 1
* Percentual de ausentes nos dois dias - OK
* Inscritos por tipo de língua - OK
* Inscritos por escola (imagino que é por tipo de escola) - OK
* Inscritos por gênero - OK
* Inscritos por depedência adminstrativa da escola (Inclui) - OK
* Composição da quantidade de inscritos no por ano
    * Proporção de gênero - OK
    * Proporção de escolas - OK
    * Proporção dependência administrativa da escola - OK
    * ...
* Status da Redação - NÃO ENTENDI
    
*Visão Série Temporal*2018-2022

* Quantidade de inscritos na série histórica (2010-2021) - OK 1
* Sexo - OK 1
* Cor/Raça - OK
* Estado Civil - OK
* Conclusão Ensino Médio - NÃO ENTENDI 
* Tipo Escola - OK 1
* Dependência administrativa - OK 1
* Média nota no tempo por variável
    * Ano (Inclui) - OK
    * Tipo de lingua (inclui) - OK
    * Sexo - OK
    * Tipo escola - OK
    * Dependência administrativa - OK
    * Estado Civil (inclui) - OK
    * Região geográfica - OK
    * UF - OK
    * Município - OK
    * Cor/raça - OK
    * Renda - Ver com Lucas
    * Escolaridade do pai/mãe - Ver como fazer com Lucas pois são duas variáveis.
    * Tamanho da família -  OK

*Composição Geral* 2022

Proporção e valor absoluto
* Sexo e localidade (UF/Região geográfica) - OK
* Cor/Raça - OK
* Tipo Escola - OK
* Dependência administrativa  - OK
* Tamanho de família (inclui) - OK
* Língua (inclui) - OK
* Estado civil (inclui) - OK
* Faixa etária (inclui) - 
    
*Visão Média Geral* 2022
OBS: Se for as médias das funções, já estão feitas então n precisaria fazer, só salvar num df.

* Média global  - OK
* Média por gênero - OK
* Média por etnia - OK 
* Média por tipo de língua (inclui) - OK
* Média por tipo de escola - OK 
* Média por dependência adminstrativa (inclui) - OK
* Média por estado civil (inclui) - OK 
* Média por tempo de conclusão (NÃO ENTENDI)
* Média por faixa etária - OK
* Média por regiões - OK
* Média por UF (inclui) - OK
* Média por município (inclui) - OK
* Nota Máxima por regiões (Aqui só com a função) 
* Média tamanho da familia (inclui) - OK

*Visão abstenção/falta* 2022

* Falta por gênero - OK
* Falta por regiões geográficas - OK
* Falta por UF - OK
* Falta por município - OK
* Falta por faixa etária - OK
* Falta por disciplina (NÃO FIZ)
* Falta por etnia - OK
* Falta por tipo de escola - OK
* Falta por tipo de língua (inclui) - OK 
* Falta por Dependencia administrativa (inclui) - OK
* Falta por estado civil (inclui) - OK



*ESTATÍSTICA*
* Univariada
    * Filtros : Prova / Ano / Variável
    * Boxplot pela variável
    * Gráfico das notas densidade por cada grupo da variável
    * Gráfico de Barras
        * Quebrar por sexo
    * Situação de conclusão
    * Escolaridade do pai/mãe
    * Tamanho da família
    * Acesso à internet
    * Computador
* Análise multivariada

*RANKING*

    
* Quantidade de inscritos na Bahia nos últimos anos
* Composição da quantidade de inscritos na Bahia
* Mapa com a quantidade de inscritos (2019-2020) por UF
* Mapa com quantidade de inscritos por município (2019-2020)

* Ranking de Média nas provas por UF pré-pandemia (2019) e durante a pandemia (2020)
* Ranking de Média nas provas por município pré-pandemia e durante a pandemia
* 

* Visão UF
    * Quantidade de Inscritos
    * Falta
    * Proporções
* Visão Município
* Visão Escola

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
import geobr
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 250);pd.set_option('display.max_rows', 250)
import os

#### Onde coloquei todos microdados.

In [2]:
os.chdir('D:\Trabalho\Microdados\ENEM')

Base de 2010

In [4]:
df_2010 = pd.read_csv('MICRODADOS_ENEM_2010.csv', encoding = 'latin1', sep = ';').sample(n=2500, random_state=42)
df_2010.shape

(2500, 105)

In [5]:
df_2011 = pd.read_csv('MICRODADOS_ENEM_2011.csv', encoding = 'latin1', sep = ';').sample(n=2500, random_state=42)
df_2011.shape

(2500, 128)

In [8]:
df_2012 = pd.read_csv('MICRODADOS_ENEM_2012.csv', encoding = 'latin1', sep = ';').sample(n=2500, random_state=42)
df_2012.shape

(2500, 115)

In [9]:
df_2013 = pd.read_csv('MICRODADOS_ENEM_2013.csv', encoding = 'latin1', sep = ';').sample(n=2500, random_state=42)
df_2013.shape

(2500, 130)

In [13]:
df_2014 = pd.read_csv('MICRODADOS_ENEM_2014.csv', encoding = 'latin1', sep = ';').sample(n=2500, random_state=42)
df_2014.shape

(2500, 130)

In [14]:
df_2015 = pd.read_csv('MICRODADOS_ENEM_2015.csv', encoding = 'latin1', sep = ';').sample(n=2500, random_state=42)
df_2015.shape

(2500, 105)

In [17]:
df_2016 = pd.read_csv('MICRODADOS_ENEM_2016.csv', encoding = 'latin1', sep = ';').sample(n=2500, random_state=42)
df_2016.shape

(2500, 105)

In [18]:
df_2017 = pd.read_csv('MICRODADOS_ENEM_2017.csv', encoding = 'latin1', sep = ';').sample(n=2500, random_state=42)
df_2017.shape

(2500, 78)

In [21]:
df_2018 = pd.read_csv('MICRODADOS_ENEM_2018.csv', encoding = 'latin1', sep = ';').sample(n=2500, random_state=42)
df_2018.shape

(2500, 78)

In [22]:
df_2019 = pd.read_csv('MICRODADOS_ENEM_2019.csv', encoding = 'latin1', sep = ';').sample(n=2500, random_state=42)
df_2019.shape

(2500, 76)

In [25]:
df_2020 = pd.read_csv('MICRODADOS_ENEM_2020.csv', encoding = 'latin1', sep = ';').sample(n=2500, random_state=42)
df_2020.shape

(2500, 76)

In [26]:
df_2021 = pd.read_csv('MICRODADOS_ENEM_2021.csv', encoding = 'latin1', sep = ';').sample(n=2500, random_state=42)
df_2021.shape

(2500, 76)

In [27]:
df_2022 = pd.read_csv('MICRODADOS_ENEM_2022.csv', encoding = 'latin1', sep = ';').sample(n=2500, random_state=42)
df_2022.shape

(2500, 76)

In [29]:
df_enem.to_excel('D:\Repositório GIT\Projetos\Analise-de-Dados-ENEM\Datasets\Teste\enem9.xlsx', index=False)

In [11]:
df_enem.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ST_CONCLUSAO,TP_ENSINO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,IN_CERTIFICADO,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q01,Q02,Q03,Q04,Q05,Q06,Q07,Q08,Q09,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,Q28,Q29,Q30,Q31,Q32,Q33,Q34,Q35,Q36,Q37,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53,Q54,Q55,Q56,Q57,TP_ANO_CONCLUIU,TP_ESCOLA,NO_ENTIDADE_CERTIFICACAO,CO_UF_ENTIDADE_CERTIFICACAO,SG_UF_ENTIDADE_CERTIFICACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,Q010,Q011,Q012,Q013,Q014,Q015,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,Q026,Q027,Q028,Q029,Q030,Q031,Q032,Q033,Q034,Q035,Q036,Q037,Q038,Q039,Q040,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050,Q051,Q052,Q053,Q054,Q055,Q056,Q057,Q058,Q059,Q060,Q061,Q062,Q063,Q064,Q065,Q066,Q067,Q068,Q069,Q070,Q071,Q072,Q073,Q074,Q075,TP_NACIONALIDADE,ANO_CONCLUIU,Q076
0,200003808199,2010,14,M,0,1,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,4119905,PONTA GROSSA,41,PR,1.0,1.0,1.0,1.0,91.0,87.0,94.0,98.0,404.9,432.4,446.7,368.4,CBCEABDABAEBDADBADDA.AAADABCDDCADA.AABCCAECAD,AEEEDECBBABACADCDBEBACCBACDADBAACCEDAECECADEE,DCEABCEACBECBACABBACACACEADEBEACEDBEDCE.DECCC,DCDDBCDABBEBBADDBDDABCBAAADABDDBACCBCABCACBBA,1.0,CABEAACDCEBADADCEBBBADDEAEEBDDCCBDBDAEEADCDCE,AABBDACBCABECCBEBACACDBBCCEDECEBDEDAABEEDDCED,DAEDCDDEADCECEEACDECDBDABCCBEBEDABACDBCEDDADDB...,CEEBDCACBABAEBBAEDCDCDAECBDBDECBBDBBCBDEDEBDE,B,NaN,NaN,NaN,NaN,NaN,0.0,B,E,B,C,H,A,B,A,3.0,1.0,5.0,5.0,5.0,B,A,B,B,B,A,B,B,A,D,5.0,5.0,0.0,5.0,F,A,A,A,A,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,200000209718,2010,10,F,0,3,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5300108,BRASILIA,53,DF,0.0,0.0,0.0,0.0,89.0,85.0,93.0,97.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,BACEADCAECABDDACBABEBDEDAEECDBCDBDEEABDACEDDC,ABABDACBAEBCCCBEABCCADBBCCDECEEDBEDBAEAEDECDD,ADECDDDEADCEECAECDECDBDABCCEBBEADBACDBCEDDDADB...,CEEBCDABCABAEBBAEDCCDDAECBDDBECBBDBBCDBEBEDDE,F,0.0,0.0,0.0,0.0,0.0,0.0,A,A,A,D,A,B,B,A,5.0,5.0,5.0,5.0,5.0,A,A,B,B,B,A,B,B,E,A,5.0,5.0,5.0,5.0,A,B,A,B,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,200002413843,2010,3,M,0,3,2,1.0,2704302.0,MACEIO,27.0,AL,2.0,1.0,1.0,0.0,2704302,MACEIO,27,AL,1.0,1.0,1.0,1.0,90.0,86.0,93.0,97.0,439.0,511.7,526.5,509.4,CCBEEADEBDADBEDDDEDACDABCEDCABCECECBBBBDDAECD,AAABECDBABDEAEDDADEDCDCDDACADADBEADAACCCBCCAD,AAEAECEBEAECAECDBABDCCEEEACBBBADDECCDEABBAEDB,DEABBDABAAAAACADDEDCADBEEACDDBBBADBAECDBABCDE,1.0,ACAEBCCEADADDBACBEBABDEEADEDDBCBCDDBAEEACDDEC,BAABADCBACBECACEBBCCBDCACDCEBDEDBEEEADBEAECDD,ADECDDDEADCEECAECDECDBDABCCEBBEADBACDBCEDDDADB...,CEEBCDABCABAEBBAEDCCDDAECBDDBECBBDBBCDBEBEDDE,P,375.0,500.0,500.0,500.0,375.0,450.0,A,D,D,C,H,A,B,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0,0.0,3.0,B,A,C,C,A,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,200003003368,2010,7,F,0,4,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5103353,CONFRESA,51,MT,1.0,1.0,1.0,1.0,89.0,85.0,93.0,97.0,517.0,672.7,560.5,480.6,BCEAEBCABEDCEDABBBBCEECEDBDCCBBCAEDCCBAECCDDD,ABABDABDAEBCEECEADECBABBDADCCEDDEEDBACAEDECDA,BDEAECEECABEDBCABEAEDAEEBCADDAADBDEDDAEABAAAB,CCBDCCBAEABDEAABCCCBEADCBDAEDCAABDEBABCDBDECE,1.0,BACEADCAECABDDACBABEBDEDAEECDBCDBDEEABDACEDDC,ABABDACBAEBCCCBEABCCADBBCCDECEEDBEDBAEAEDECDD,ADECDDDEADCEECAECDECDBDABCCEBBEADBACDBCEDDDADB...,CEEBCDABCABAEBBAEDCCDDAECBDDBECBBDBBCDBEBEDDE,P,750.0,750.0,750.0,625.0,500.0,675.0,A,B,A,A,A,C,B,A,5.0,0.0,5.0,5.0,3.0,B,B,B,A,B,A,B,B,D,A,5.0,5.0,0.0,5.0,B,A,A,A,B,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200002794972,2010,15,M,1,1,2,3.0,4300406.0,ALEGRETE,43.0,RS,2.0,1.0,1.0,1.0,4300406,ALEGRETE,43,RS,1.0,1.0,1.0,1.0,91.0,87.0,96.0,100.0,365.1,467.6,339.5,321.9,ACDACBEEDBCD.ACBC*DEAABCEDCAABCDABACBDAEDBDCA,DBABEACBDADEADEAAACDBCDBDECBBACDACCAACCDAEABA,CBBCAAECCABDBCDBACDDAEBCDCAEDDADACCACAEDBCDCB,ACAEDCDABCEB.ACCBADCECCADDEA*BEAABABCBDCAACDE,1.0,CABEAACDCEBADADCEBBBADDEAEEBDDCCBDBDAEEADCDCE,AABBDACBCABECCBEBACACDBBCCEDECEBDEDAABEEDDCED,EDADCDDEDACECECEADEDDBBACCCBEBEBDAACDBCDEDDADA...,CEEBADABCCBDEBBABDCCADAECEDDEBCBBDBBCDBEBEDDE,P,250.0,375.0,500.0,250.0,500.0,375.0,A,A,A,B,A,A,B,A,0.0,5.0,5.0,5.0,2.0,A,A,B,B,B,A,A,A,E,A,5.0,5.0,5.0,5.0,B,A,A,C,B,A,A,A,B,B,B,B,B,B,B,NaN,A,5.0,5.0,1.0,2.0,0.0,0.0,0.0,0.0,C,5.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df_enem = pd.concat([df_2010, df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020, df_2021, df_2022], ignore_index=True)
df_enem.shape

(32500, 189)

In [7]:
df_enem = pd.read_excel('D:\Repositório GIT\Projetos\Analise-de-Dados-ENEM\Datasets\Teste\enem9.xlsx')

In [ ]:
df_enem.head()

#### 1º ajuste, contagem de abstenções e retirar os treineiros dos anos que houve essa categoria.

#### Funções um pouco adaptadas para inserção de um df com todos anos.

In [73]:
def create_columns_region(uf):
    norte        = ['AM', 'RR', 'AP', 'PA', 'TO', 'RO', 'AC']
    nordeste     = ['MA', 'PI', 'CE', 'RN', 'PE', 'PB', 'SE', 'AL', 'BA']
    centro_oeste = ['MT', 'MS', 'GO']
    sudeste      = ['SP', 'RJ', 'ES', 'MG']
    sul          = ['PR', 'RS', 'SC']
    df           = ['DF']
    
    if uf in norte :
        return 'Norte'
    elif uf in nordeste :
        return 'Nordeste'
    elif uf in centro_oeste : 
        return 'Centro-Oeste'
    elif uf in sudeste : 
        return 'Sudeste'
    elif uf in sul : 
        return 'Sul'
    elif uf in df :
        return 'DF'
    else:
        return 'missing'
    
def get_count(df_enem, cols_to_group, column, column_name = None):
    agg_result = (df_enem
         .groupby(cols_to_group)
         .agg({column:'count'})
         .rename(columns = {column : column_name} )
        )
    return agg_result


def build_statistics_metrics(lista_provas : list, 
                             df_enem : pd.DataFrame, 
                             cols_to_group : list, 
                             list_with_metrics = None):
    if list_with_metrics:
        list_metrics = list_with_metrics
    else:
        list_metrics = { 'MIN_': np.min, 'AVG_' :np.mean, 'MED_' : np.median, 'MAX_' : np.max, 'STD_' : np.std}
    
    def get_statistics(lista_provas, metric, df_enem, cols_to_group, metric_label):

        agg_result = (df_enem
         .groupby(cols_to_group, as_index = False)
         .agg({prova:metric for prova in lista_provas})
         .rename(columns = {prova : metric_label+'_'.join(prova.split('_')[1:]) for prova in lista_provas})
        )

        return agg_result
    
    result = [
        get_statistics(lista_provas, list_metrics[metric], df_enem, cols_to_group, metric).set_index(cols_to_group) 
      for metric in list_metrics
     ]

    result_df = (pd.concat(result, axis=1)
         .reset_index()
        )
    

    return result_df

In [8]:
# DATA PREP
notas = df_enem.columns[(df_enem.columns.str.contains('NU_NOTA_')) & (~df_enem.columns.str.contains('NU_NOTA_COMP'))].tolist()
lista_provas = df_enem.columns[(df_enem.columns.str.contains('NU_NOTA_')) & (~df_enem.columns.str.contains('NU_NOTA_COMP'))].tolist()

df_enem = (df_enem
           .query('IN_TREINEIRO != 1')
           .drop(columns = df_enem.columns[df_enem.columns.str.contains('TX_')].tolist()+['IN_TREINEIRO'])
          )


# REGIÃO GEOGRÁFICA
df_enem['TP_REGIAO_PROVA'] = df_enem.SG_UF_PROVA.apply(create_columns_region)
df_enem['TP_REGIAO_ESC'] = df_enem.SG_UF_PROVA.apply(create_columns_region)

# ABSTENÇÃO - PRIMEIRO DIA
df_enem.loc[(df_enem['TP_PRESENCA_CH'] == 0) & (df_enem['TP_PRESENCA_LC'] == 0), ['ABS_DIA_1']] = 1
df_enem.loc[(df_enem['TP_PRESENCA_CH'] != 0) & (df_enem['TP_PRESENCA_LC'] != 0), ['ABS_DIA_1']] = 0
# ABSTENÇÃO - SEGUNDO DIA
df_enem.loc[(df_enem['TP_PRESENCA_CN'] == 0) & (df_enem['TP_PRESENCA_MT'] == 0), ['ABS_DIA_2']] = 1
df_enem.loc[(df_enem['TP_PRESENCA_CN'] != 0) & (df_enem['TP_PRESENCA_MT'] != 0), ['ABS_DIA_2']] = 0
# ABSTENÇÃO FULL DAYS
df_enem.loc[(df_enem['ABS_DIA_1'] == 1) & (df_enem['ABS_DIA_2'] == 1), ['ABS_ALL']] = 1
df_enem.loc[(df_enem['ABS_DIA_1'] != 1) & (df_enem['ABS_DIA_2'] != 1), ['ABS_ALL']] = 0

#Acrescentei tbm a condição ou pois tinha casos com falta em somente em um dia.
df_enem.loc[((df_enem['ABS_DIA_1'] == 0) | (df_enem['ABS_DIA_2'] == 0)), ['ABS_ALL']] = 0

# FLAG ESCOLA NULL
df_enem.loc[df_enem['NO_MUNICIPIO_ESC'].isna(), ['FLAG_NULL_ESC']]  = 1
df_enem.loc[df_enem['NO_MUNICIPIO_ESC'].notna(), ['FLAG_NULL_ESC']] = 0

# MÉDIAS
df_enem['MEDIA_OBJ'] = df_enem[[prova for prova in notas if prova != 'NU_NOTA_REDACAO']].mean(axis = 1)
df_enem['MEDIA_GLOBAL'] = df_enem[notas].mean(axis = 1)

#### Tamanho da base diminuiu pois foi retirado os treineiros.

In [9]:
df_enem.shape

(30260, 188)

#### 2º Ajuste. a categoaria TP_ESCOLA que é o tipo de escola, não segue o padrão em todos anos.
#### Padrão:
#### 1 - Não respondeu
#### 2 - Escola pública
#### 3 - Escola Privada
#### 4 - Exterior
#### O modelo do dicionários não foi seguido nos anos de 2012 a 2014, o ano de 2010 nem possui esse item. O modelo de 2012 a 2014 segue:
#### 1 - Escola pública
#### 2 - Escola privada
#### Farei uma adição de +1 para poder ficar na mesma categoria dos outros anos.

In [10]:
df_enem.loc[df_enem['NU_ANO'].between(2012, 2014), 'TP_ESCOLA'] = df_enem['TP_ESCOLA'] + 1
df_enem[df_enem['NU_ANO'] == 2012]

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ST_CONCLUSAO,TP_ENSINO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,IN_CERTIFICADO,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q01,Q02,Q03,Q04,Q05,Q06,Q07,Q08,Q09,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,Q28,Q29,Q30,Q31,Q32,Q33,Q34,Q35,Q36,Q37,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53,Q54,Q55,Q56,Q57,TP_ANO_CONCLUIU,TP_ESCOLA,NO_ENTIDADE_CERTIFICACAO,CO_UF_ENTIDADE_CERTIFICACAO,SG_UF_ENTIDADE_CERTIFICACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,Q010,Q011,Q012,Q013,Q014,Q015,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,Q026,Q027,Q028,Q029,Q030,Q031,Q032,Q033,Q034,Q035,Q036,Q037,Q038,Q039,Q040,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050,Q051,Q052,Q053,Q054,Q055,Q056,Q057,Q058,Q059,Q060,Q061,Q062,Q063,Q064,Q065,Q066,Q067,Q068,Q069,Q070,Q071,Q072,Q073,Q074,Q075,TP_NACIONALIDADE,ANO_CONCLUIU,Q076,TP_REGIAO_PROVA,TP_REGIAO_ESC,ABS_DIA_1,ABS_DIA_2,ABS_ALL,FLAG_NULL_ESC,MEDIA_OBJ,MEDIA_GLOBAL
5000,400003417161,2012,10,0,1.0,3,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2304285,EUSEBIO,23,CE,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006.0,NaN,NaN,NaN,NaN,B,B,D,5,A,A,A,A,A,A,D,D,A,D,A,B,D,D,D,D,A,A,4,3,3,5,5,5,4,B,A,A,B,A,A,A,A,B,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nordeste,Nordeste,1.0,1.0,1.0,1.0,NaN,NaN
5001,400002745350,2012,3,1,0.0,1,2,1.0,4315602.0,RIO GRANDE,43.0,RS,2.0,1.0,1.0,0.0,4315602,RIO GRANDE,43,RS,1.0,1.0,1.0,1.0,142.0,138.0,146.0,150.0,418.1,534.1,487.5,584.9,1.0,P,140.0,100.0,100.0,160.0,60.0,560.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,E,E,C,5,A,B,A,A,A,A,A,A,A,D,D,A,A,A,A,D,A,B,5,5,0,5,3,5,3,B,A,A,F,A,A,A,A,B,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sul,Sul,0.0,0.0,0.0,0.0,506.150,516.92
5002,400004022035,2012,6,1,0.0,1,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,4303509,CAMAQUA,43,RS,1.0,1.0,0.0,0.0,144.0,140.0,NaN,NaN,343.5,379.9,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,NaN,NaN,NaN,NaN,E,G,G,4,C,B,B,B,A,B,A,A,A,A,A,C,A,A,A,D,B,B,3,4,0,5,5,5,4,D,A,A,A,A,A,A,A,B,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sul,Sul,NaN,NaN,0.0,1.0,361.700,361.70
5003,400005609514,2012,11,0,1.0,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3550308,SAO PAULO,35,SP,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SECRETARIA ESTADUAL - SP,35.0,SP,C,E,D,2,C,B,A,A,A,A,A,A,A,D,D,B,A,D,A,D,A,B,5,5,0,5,5,5,5,A,A,A,G,A,A,A,A,B,A,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,B,B,B,B,B,B,B,B,B,B,B,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sudeste,Sudeste,1.0,1.0,1.0,1.0,NaN,NaN
5004,400003827097,2012,3,0,0.0,3,2,1.0,2311306.0,QUIXADA,23.0,CE,2.0,1.0,1.0,0.0,2311306,QUIXADA,23,CE,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,B,B,G,7,A,A,A,A,A,A,B,A,A,A,D,B,A,D,D,D,B,B,5,5,5,5,5,5,5,C,A,A,B,A,A,A,A,B,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nordeste,Nordeste,1.0,1.0,1.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,400004416338,2012,2,1,0.0,0,2,1.0,2302800.0,CANINDE,23.0,CE,2.0,1.0,1.0,0.0,2302800,CANINDE,23,CE,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,A,C,B,4,A,B,A,A,A,D,D,D,A,D,D,D,D,D,D,D,A,C,5,5,5,5,5,5,5,B,A,A,F,A,A,A,A,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nordeste,Nordeste,1.0,1.0,1.0,0.0,NaN,NaN
7496,400002052595,2012,2,1,0.0,1,2,1.0,4208203.0,ITAJAI,42.0,SC,4.0,1.0,1.0,0.0,4211306,NAVEGANTES,42,SC,1.0,1.0,1.0,1.0,142.0,138.0,145.0,149.0,512.3,603.4,557.9,660.1,0.0,P,140.0,100.0,100.0,120.0,100.0,560.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,G,G,Q,4,A,B,C,C,C,C,B,A,A,A,A,C,A,B,A,A,B,C,5,0,0,5,5,0,0,B,A,C,F,A,C,B,B,B,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sul,Sul,0.0,0.0,0.0,0.0,583.425,578.74
7497,400003943317,2012,1,0,0.0,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2304707,GRANJA,23,CE,1.0,1.0,1.0,1.0,144.0,140.0,148.0,152.0,493.7,496.3,498.3,557.2,1.0,P,100.0,100.0,100.0,100.0,60.0,460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,B,B,3,A,A,A,A,A,A,D,D,A,D,D,A,D,D,D,D,A,C,5,5,0,5,5,5,5,B,A,A,F,A,A,A,A,B,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nordeste,Nordeste,0.0,0.0,0.0,1.0,511.375,501.10
7498,400000050892,2012,4,0,0.0,3,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5002704,CAMPO GRANDE,50,MS,1.0,1.0,1.0,1.0,143.0,139.0,146.0,150.0,503.2,563.3,535.9,665.5,0.0,P,140.0,100.0,100.0,80.0,80.0,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,NaN,NaN,NaN,NaN,D,D,F,4,A,B,B,B,D,A,B,A,A,D,D,C,D,D,D,D,B,A,5,5,1,5,5,5,1,B,A,A,B,A,A,A,A,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Centro-Oeste,Centro-Oeste,0.0,0.0,0.0,1.0,566.975,553.58
7499,400001826722,2012,12,1,1.0,1,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2211001,TERESINA,22,PI,1.0,1.0,1.0,1.0,143.0,139.0,146.0,150.0,448.5,477.9,325.6,378.7,1.0,P,100.0,100.0,80.0,80.0,40.0,400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.0,NaN,NaN,NaN,NaN,A,B,D,4,B,B,A,A,D,A,D,D,A,D,A,A,A,D,D,D,A,B,5,5,0,5,4,5,5,B,A,A,C,B,A,A,B,B,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nordeste,Nordeste,0.0,0.0,0.0,1.0,407.675,406.14

#### 3º Ajuste. No item TP_SEXO A base do ano de 2012 não segue o formato abaixo:
#### M - Masculino
#### F - Feminino
#### A base de 2012 segue essa padronização:
#### 0 = Masculino
#### 1 = Feminino
#### Então o ajuste será classificar conforme outros anos.

In [11]:
df_enem['TP_SEXO'] = df_enem['TP_SEXO'].replace({0: 'M', 1: 'F'})
df_enem[df_enem['NU_ANO'] == 2012]

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ST_CONCLUSAO,TP_ENSINO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,IN_CERTIFICADO,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q01,Q02,Q03,Q04,Q05,Q06,Q07,Q08,Q09,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,Q28,Q29,Q30,Q31,Q32,Q33,Q34,Q35,Q36,Q37,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53,Q54,Q55,Q56,Q57,TP_ANO_CONCLUIU,TP_ESCOLA,NO_ENTIDADE_CERTIFICACAO,CO_UF_ENTIDADE_CERTIFICACAO,SG_UF_ENTIDADE_CERTIFICACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,Q010,Q011,Q012,Q013,Q014,Q015,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,Q026,Q027,Q028,Q029,Q030,Q031,Q032,Q033,Q034,Q035,Q036,Q037,Q038,Q039,Q040,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050,Q051,Q052,Q053,Q054,Q055,Q056,Q057,Q058,Q059,Q060,Q061,Q062,Q063,Q064,Q065,Q066,Q067,Q068,Q069,Q070,Q071,Q072,Q073,Q074,Q075,TP_NACIONALIDADE,ANO_CONCLUIU,Q076,TP_REGIAO_PROVA,TP_REGIAO_ESC,ABS_DIA_1,ABS_DIA_2,ABS_ALL,FLAG_NULL_ESC,MEDIA_OBJ,MEDIA_GLOBAL
5000,400003417161,2012,10,M,1.0,3,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2304285,EUSEBIO,23,CE,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006.0,NaN,NaN,NaN,NaN,B,B,D,5,A,A,A,A,A,A,D,D,A,D,A,B,D,D,D,D,A,A,4,3,3,5,5,5,4,B,A,A,B,A,A,A,A,B,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nordeste,Nordeste,1.0,1.0,1.0,1.0,NaN,NaN
5001,400002745350,2012,3,F,0.0,1,2,1.0,4315602.0,RIO GRANDE,43.0,RS,2.0,1.0,1.0,0.0,4315602,RIO GRANDE,43,RS,1.0,1.0,1.0,1.0,142.0,138.0,146.0,150.0,418.1,534.1,487.5,584.9,1.0,P,140.0,100.0,100.0,160.0,60.0,560.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,E,E,C,5,A,B,A,A,A,A,A,A,A,D,D,A,A,A,A,D,A,B,5,5,0,5,3,5,3,B,A,A,F,A,A,A,A,B,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sul,Sul,0.0,0.0,0.0,0.0,506.150,516.92
5002,400004022035,2012,6,F,0.0,1,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,4303509,CAMAQUA,43,RS,1.0,1.0,0.0,0.0,144.0,140.0,NaN,NaN,343.5,379.9,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,NaN,NaN,NaN,NaN,E,G,G,4,C,B,B,B,A,B,A,A,A,A,A,C,A,A,A,D,B,B,3,4,0,5,5,5,4,D,A,A,A,A,A,A,A,B,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sul,Sul,NaN,NaN,0.0,1.0,361.700,361.70
5003,400005609514,2012,11,M,1.0,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3550308,SAO PAULO,35,SP,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SECRETARIA ESTADUAL - SP,35.0,SP,C,E,D,2,C,B,A,A,A,A,A,A,A,D,D,B,A,D,A,D,A,B,5,5,0,5,5,5,5,A,A,A,G,A,A,A,A,B,A,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,B,B,B,B,B,B,B,B,B,B,B,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sudeste,Sudeste,1.0,1.0,1.0,1.0,NaN,NaN
5004,400003827097,2012,3,M,0.0,3,2,1.0,2311306.0,QUIXADA,23.0,CE,2.0,1.0,1.0,0.0,2311306,QUIXADA,23,CE,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,B,B,G,7,A,A,A,A,A,A,B,A,A,A,D,B,A,D,D,D,B,B,5,5,5,5,5,5,5,C,A,A,B,A,A,A,A,B,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nordeste,Nordeste,1.0,1.0,1.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,400004416338,2012,2,F,0.0,0,2,1.0,2302800.0,CANINDE,23.0,CE,2.0,1.0,1.0,0.0,2302800,CANINDE,23,CE,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,A,C,B,4,A,B,A,A,A,D,D,D,A,D,D,D,D,D,D,D,A,C,5,5,5,5,5,5,5,B,A,A,F,A,A,A,A,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nordeste,Nordeste,1.0,1.0,1.0,0.0,NaN,NaN
7496,400002052595,2012,2,F,0.0,1,2,1.0,4208203.0,ITAJAI,42.0,SC,4.0,1.0,1.0,0.0,4211306,NAVEGANTES,42,SC,1.0,1.0,1.0,1.0,142.0,138.0,145.0,149.0,512.3,603.4,557.9,660.1,0.0,P,140.0,100.0,100.0,120.0,100.0,560.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,G,G,Q,4,A,B,C,C,C,C,B,A,A,A,A,C,A,B,A,A,B,C,5,0,0,5,5,0,0,B,A,C,F,A,C,B,B,B,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sul,Sul,0.0,0.0,0.0,0.0,583.425,578.74
7497,400003943317,2012,1,M,0.0,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2304707,GRANJA,23,CE,1.0,1.0,1.0,1.0,144.0,140.0,148.0,152.0,493.7,496.3,498.3,557.2,1.0,P,100.0,100.0,100.0,100.0,60.0,460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,B,B,3,A,A,A,A,A,A,D,D,A,D,D,A,D,D,D,D,A,C,5,5,0,5,5,5,5,B,A,A,F,A,A,A,A,B,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nordeste,Nordeste,0.0,0.0,0.0,1.0,511.375,501.10
7498,400000050892,2012,4,M,0.0,3,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5002704,CAMPO GRANDE,50,MS,1.0,1.0,1.0,1.0,143.0,139.0,146.0,150.0,503.2,563.3,535.9,665.5,0.0,P,140.0,100.0,100.0,80.0,80.0,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,NaN,NaN,NaN,NaN,D,D,F,4,A,B,B,B,D,A,B,A,A,D,D,C,D,D,D,D,B,A,5,5,1,5,5,5,1,B,A,A,B,A,A,A,A,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Centro-Oeste,Centro-Oeste,0.0,0.0,0.0,1.0,566.975,553.58
7499,400001826722,2012,12,F,1.0,1,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2211001,TERESINA,22,PI,1.0,1.0,1.0,1.0,143.0,139.0,146.0,150.0,448.5,477.9,325.6,378.7,1.0,P,100.0,100.0,80.0,80.0,40.0,400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.0,NaN,NaN,NaN,NaN,A,B,D,4,B,B,A,A,D,A,D,D,A,D,A,A,A,D,D,D,A,B,5,5,0,5,4,5,5,B,A,A,C,B,A,A,B,B,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nordeste,Nordeste,0.0,0.0,0.0,1.0,407.675,406.14

#### 4º Ajuste. Os TP_ESTADO_CIVIL de 2011, 2017, 2019, 2020, 2021 e 2022 seguem esse padrão:
#### 0 - Não informado
#### 1 - Solteiro
#### 2 - Casado
#### 3 - Divorciado
#### 4 - Viúvo

#### Os de 2010, 2012 a 2016, 2018 da maneira abaixo:
#### 0 - Solteiro
#### 1 - Casado
#### 2 - Divorciado
#### 3 - Viúvo

#### Bases diferentes, adicionei +1 para as bases de 2010, 2012 a 2016, 2018 para seguirem o padrão dos outros anos.

In [12]:
df_enem.loc[df_enem['NU_ANO'].between(2012, 2016), 'TP_ESTADO_CIVIL'] = df_enem['TP_ESTADO_CIVIL'] + 1
df_enem.loc[df_enem['NU_ANO'].isin([2010, 2018]), 'TP_ESTADO_CIVIL'] = df_enem['TP_ESTADO_CIVIL'] + 1
df_enem[df_enem['NU_ANO'] == 2010]

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ST_CONCLUSAO,TP_ENSINO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,IN_CERTIFICADO,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q01,Q02,Q03,Q04,Q05,Q06,Q07,Q08,Q09,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,Q28,Q29,Q30,Q31,Q32,Q33,Q34,Q35,Q36,Q37,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53,Q54,Q55,Q56,Q57,TP_ANO_CONCLUIU,TP_ESCOLA,NO_ENTIDADE_CERTIFICACAO,CO_UF_ENTIDADE_CERTIFICACAO,SG_UF_ENTIDADE_CERTIFICACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,Q010,Q011,Q012,Q013,Q014,Q015,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,Q026,Q027,Q028,Q029,Q030,Q031,Q032,Q033,Q034,Q035,Q036,Q037,Q038,Q039,Q040,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050,Q051,Q052,Q053,Q054,Q055,Q056,Q057,Q058,Q059,Q060,Q061,Q062,Q063,Q064,Q065,Q066,Q067,Q068,Q069,Q070,Q071,Q072,Q073,Q074,Q075,TP_NACIONALIDADE,ANO_CONCLUIU,Q076,TP_REGIAO_PROVA,TP_REGIAO_ESC,ABS_DIA_1,ABS_DIA_2,ABS_ALL,FLAG_NULL_ESC,MEDIA_OBJ,MEDIA_GLOBAL
0,200003808199,2010,14,M,1.0,1,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,4119905,PONTA GROSSA,41,PR,1.0,1.0,1.0,1.0,91.0,87.0,94.0,98.0,404.9,432.4,446.7,368.4,1.0,B,NaN,NaN,NaN,NaN,NaN,0.0,B,E,B,C,H,A,B,A,3.0,1.0,5.0,5.0,5.0,B,A,B,B,B,A,B,B,A,D,5.0,5.0,0.0,5.0,F,A,A,A,A,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sul,Sul,0.0,0.0,0.0,1.0,413.100,330.48
1,200000209718,2010,10,F,1.0,3,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5300108,BRASILIA,53,DF,0.0,0.0,0.0,0.0,89.0,85.0,93.0,97.0,NaN,NaN,NaN,NaN,0.0,F,0.0,0.0,0.0,0.0,0.0,0.0,A,A,A,D,A,B,B,A,5.0,5.0,5.0,5.0,5.0,A,A,B,B,B,A,B,B,E,A,5.0,5.0,5.0,5.0,A,B,A,B,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DF,DF,1.0,1.0,1.0,1.0,NaN,0.00
2,200002413843,2010,3,M,1.0,3,2,1.0,2704302.0,MACEIO,27.0,AL,2.0,1.0,1.0,0.0,2704302,MACEIO,27,AL,1.0,1.0,1.0,1.0,90.0,86.0,93.0,97.0,439.0,511.7,526.5,509.4,1.0,P,375.0,500.0,500.0,500.0,375.0,450.0,A,D,D,C,H,A,B,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0,0.0,3.0,B,A,C,C,A,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nordeste,Nordeste,0.0,0.0,0.0,0.0,496.650,487.32
3,200003003368,2010,7,F,1.0,4,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5103353,CONFRESA,51,MT,1.0,1.0,1.0,1.0,89.0,85.0,93.0,97.0,517.0,672.7,560.5,480.6,1.0,P,750.0,750.0,750.0,625.0,500.0,675.0,A,B,A,A,A,C,B,A,5.0,0.0,5.0,5.0,3.0,B,B,B,A,B,A,B,B,D,A,5.0,5.0,0.0,5.0,B,A,A,A,B,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Centro-Oeste,Centro-Oeste,0.0,0.0,0.0,1.0,557.700,581.16
4,200002794972,2010,15,M,2.0,1,2,3.0,4300406.0,ALEGRETE,43.0,RS,2.0,1.0,1.0,1.0,4300406,ALEGRETE,43,RS,1.0,1.0,1.0,1.0,91.0,87.0,96.0,100.0,365.1,467.6,339.5,321.9,1.0,P,250.0,375.0,500.0,250.0,500.0,375.0,A,A,A,B,A,A,B,A,0.0,5.0,5.0,5.0,2.0,A,A,B,B,B,A,A,A,E,A,5.0,5.0,5.0,5.0,B,A,A,C,B,A,A,A,B,B,B,B,B,B,B,NaN,A,5.0,5.0,1.0,2.0,0.0,0.0,0.0,0.0,C,5.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sul,Sul,0.0,0.0,0.0,0.0,373.525,373.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,200000072245,2010,3,F,1.0,1,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,4305108,CAXIAS DO SUL,43,RS,1.0,1.0,1.0,1.0,89.0,85.0,93.0,97.0,633.5,641.7,657.3,712.0,1.0,P,750.0,875.0,750.0,750.0,750.0,775.0,A,C,D,E,H,A,B,A,2.0,0.0,5.0,5.0,1.0,A,A,A,B,B,A,B,B,D,C,5.0,5.0,0.0,0.0,C,A,A,B,A,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sul,Sul,0.0,0.0,0.0,1.0,661.125,683.90
2496,200003222956,2010,3,F,1.0,4,2,1.0,3144003.0,MUTUM,31.0,MG,2.0,1.0,1.0,0.0,3203007,IUNA,32,ES,0.0,0.0,0.0,0.0,89.0,85.0,93.0,97.0,NaN,NaN,NaN,NaN,0.0,F,0.0,0.0,0.0,0.0,0.0,0.0,B,A,D,B,H,A,B,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,4.0,5.0,5.0,B,A,A,C,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sudeste,Sudeste,1.0,1.0,1.0,0.0,NaN,0.00
2497,200003162940,2010,2,M,1.0,3,2,1.0,2408300.0,NOVA CRUZ,24.0,RN,2.0,1.0,1.0,NaN,2408300,NOVA CRUZ,24,RN,1.0,1.0,1.0,1.0,91.0,87.0,93.0,97.0,441.1,456.0,386.0,448.6,1.0,P,750.0,500.0,625.0,500.0,375.0,550.0,A,A,A,A,H,A,B,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0,5.0,5.0,B,A,A,F,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nordeste,Nordeste,0.0,0.0,0.0,0.0,432.925,456.34
2498,200000837921,2010,9,F,1.0,3,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2903201,BARREIRAS,29,BA,1.0,1.0,1.0,1.0,92.0,88.0,94.0,98.0,503.5,489.4,468.5,396.9,1.0,P,375.0,375.0,375.0,375.0,375.0,375.0,A,I,A,A,A,B,B,A,2.0,0.0,5.0,5.0,2.0,B,A,B,B,B,A,B,B,D,A,5.0,5.0,0.0,5.0,C,A,A,B,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nordeste,Nordeste,0.0,0.0,0.0,1.0,464.575,446.66
2499,200002937264,2010,3,F,1.0,2,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5107040,PRIMAVERA DO LESTE,51,MT,1.0,1.0,1.0,1.0,91.0,87.0,95.0,99.0,417.4,488.4,538.9,485.7,0.0,P,750.0,625.0,625.0,625.0,500.0,625.0,B,A,C,B,A,A,B,A,3.0,0.0,5.0,4.0,5.0,A,A,B,B,B,A,B,B,D,B,3.0,5.0,0.0,5.0,B,A,A,B,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Centro-Oeste,Centro-Oeste,0.0,0.0,0.0,1.0,482.600,511.08

#### 5º Ajuste. Os municípios não seguem mesmo padrão, alguns tem acentos, outros nomes tem hífen outros tem maíusculo outros não, etc... Procurar solução com Lucas, mas amenizei com uma tentativa de padronização. Depois tirar umas dúvidas.

In [13]:
from unidecode import unidecode

In [15]:
df_enem['NO_MUNICIPIO_PROVA'] = df_enem['NO_MUNICIPIO_PROVA'].apply(lambda x: unidecode(x))

In [16]:
df_enem['NO_MUNICIPIO_PROVA'] = df_enem['NO_MUNICIPIO_PROVA'].str.replace('[^\w\s]', '').str.upper()

In [17]:
df_enem['NO_MUNICIPIO_PROVA'].nunique()

1694

In [18]:
df_enem['CO_MUNICIPIO_PROVA'].nunique()

1718

#### 6º Ajuste. O ano de 2010 está diferente, não sei como inseri-lo, mas os outros anos os ajustes foram relacionados a estarem em outras colunas, unifiquei tudo numa coluna chamada FAMILIA.

In [19]:
def criar_familia(row):
    if row['NU_ANO'] == 2011:
        return row['Q001']
    elif row['NU_ANO'] == 2012:
        return row['Q004']
    elif row['NU_ANO'] == 2013:
        return row['Q004']
    elif row['NU_ANO'] == 2014:
        return row['Q004']
    elif row['NU_ANO'] == 2015:
        return row['Q005']
    elif row['NU_ANO'] == 2016:
        return row['Q005']
    elif row['NU_ANO'] == 2017:
        return row['Q005']
    elif row['NU_ANO'] == 2018:
        return row['Q005']
    elif row['NU_ANO'] == 2019:
        return row['Q005']
    elif row['NU_ANO'] == 2020:
        return row['Q005']
    elif row['NU_ANO'] == 2021:
        return row['Q005']
    elif row['NU_ANO'] == 2022:
        return row['Q005']

In [20]:
df_enem['FAMILIA'] = df_enem.apply(criar_familia, axis=1)
df_enem.tail()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ST_CONCLUSAO,TP_ENSINO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,IN_CERTIFICADO,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q01,Q02,Q03,Q04,Q05,Q06,Q07,Q08,Q09,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,Q28,Q29,Q30,Q31,Q32,Q33,Q34,Q35,Q36,Q37,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53,Q54,Q55,Q56,Q57,TP_ANO_CONCLUIU,TP_ESCOLA,NO_ENTIDADE_CERTIFICACAO,CO_UF_ENTIDADE_CERTIFICACAO,SG_UF_ENTIDADE_CERTIFICACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,Q010,Q011,Q012,Q013,Q014,Q015,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,Q026,Q027,Q028,Q029,Q030,Q031,Q032,Q033,Q034,Q035,Q036,Q037,Q038,Q039,Q040,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050,Q051,Q052,Q053,Q054,Q055,Q056,Q057,Q058,Q059,Q060,Q061,Q062,Q063,Q064,Q065,Q066,Q067,Q068,Q069,Q070,Q071,Q072,Q073,Q074,Q075,TP_NACIONALIDADE,ANO_CONCLUIU,Q076,TP_REGIAO_PROVA,TP_REGIAO_ESC,ABS_DIA_1,ABS_DIA_2,ABS_ALL,FLAG_NULL_ESC,MEDIA_OBJ,MEDIA_GLOBAL,FAMILIA
32494,210055620134,2022,9,F,1.0,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3304557,RIO DE JANEIRO,33,RJ,1.0,1.0,1.0,1.0,1086.0,1055.0,1065.0,1076.0,434.9,474.1,512.8,422.4,0.0,1,120.0,120.0,100.0,120.0,100.0,560.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,1.0,NaN,NaN,NaN,B,E,F,B,3,B,A,B,B,A,A,B,A,A,A,A,A,A,B,A,A,C,A,A,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,Sudeste,Sudeste,0.0,0.0,0.0,1.0,461.050,480.840000,3.0
32495,210056745144,2022,3,F,1.0,2,2,1.0,1600303.0,Macapá,16.0,AP,2.0,1.0,1.0,NaN,1600303,MACAPA,16,AP,1.0,1.0,1.0,1.0,1086.0,1055.0,1065.0,1076.0,429.8,563.6,542.4,425.1,1.0,1,120.0,40.0,40.0,120.0,40.0,360.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,NaN,NaN,NaN,D,F,F,F,8,B,A,B,C,A,A,B,B,A,A,A,A,A,A,A,A,B,A,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,Norte,Norte,0.0,0.0,0.0,0.0,490.225,464.180000,8.0
32496,210055886867,2022,12,M,0.0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3522307,ITAPETININGA,35,SP,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,1.0,NaN,NaN,NaN,B,H,C,B,4,E,A,B,B,A,B,B,A,B,A,B,A,A,B,A,A,C,B,B,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,Sudeste,Sudeste,1.0,1.0,1.0,1.0,NaN,NaN,4.0
32497,210055013900,2022,12,M,1.0,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2408102,NATAL,24,RN,0.0,1.0,1.0,0.0,NaN,1175.0,1179.0,NaN,NaN,588.5,355.3,NaN,0.0,1,120.0,120.0,120.0,140.0,120.0,620.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,1.0,NaN,NaN,NaN,A,E,C,F,1,C,A,B,C,A,B,B,A,A,A,B,A,A,B,A,A,B,A,B,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,Nordeste,Nordeste,0.0,1.0,0.0,1.0,471.900,521.266667,1.0
32499,210056252887,2022,4,M,1.0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2403103,CURRAIS NOVOS,24,RN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN,NaN,C,D,C,B,2,B,A,B,C,A,B,B,B,B,A,A,A,A,C,A,A,C,A,B,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,Nordeste,Nordeste,1.0,1.0,1.0,1.0,NaN,NaN,2.0

#### Planilha feita todos ajustes com base de amostras aleatórias.

In [21]:
df_enem.to_excel('D:\Repositório GIT\Projetos\Analise-de-Dados-ENEM\Datasets\Teste\enem10.xlsx', index=False)

#### Caso queira carregar à partir daqui.

In [ ]:
df_enem = pd.read_excel('D:\Repositório GIT\Projetos\Analise-de-Dados-ENEM\Datasets\Teste\enem10.xlsx')

In [3]:
df_enem = pd.read_excel('C:\\Users\\Bruno\\PYTHON\\PROJETOS\\Analise-de-Dados-ENEM\\Datasets\\Teste\\enem10.xlsx')

# Dados por temas:

#### 1) Inscritos, abstenções por ano

#### Quantidade de inscritos por ano.

In [4]:
geral = df_enem['NU_ANO'].value_counts().reset_index()
geral.rename(columns={'index': 'NU_ANO', 'NU_ANO': 'QTD_INSCRITOS'}, inplace=True)
geral = geral.sort_values(by= 'NU_ANO' , ascending=True)
geral.head(13)

    NU_ANO  QTD_INSCRITOS
0     2010           2500
1     2011           2500
2     2012           2500
3     2013           2500
4     2014           2500
9     2015           2200
11    2016           2192
5     2017           2304
7     2018           2256
8     2019           2203
6     2020           2265
10    2021           2195
12    2022           2145

#### Abstenção por ano

In [5]:
geral1 = df_enem.groupby('NU_ANO')['ABS_ALL'].sum().reset_index()
geral1.head(13)

    NU_ANO  ABS_ALL
0     2010      628
1     2011      659
2     2012      674
3     2013      658
4     2014      700
5     2015      591
6     2016      696
7     2017      748
8     2018      555
9     2019      561
10    2020     1274
11    2021      757
12    2022      617

In [6]:
geral = geral.merge(geral1, on='NU_ANO', how='left')
geral.head()

   NU_ANO  QTD_INSCRITOS  ABS_ALL
0    2010           2500      628
1    2011           2500      659
2    2012           2500      674
3    2013           2500      658
4    2014           2500      700

#### Absoluto\Proporção de inscritos por ano.

In [7]:
geral['ABS_ALL_%'] = ((geral['ABS_ALL'] / geral['QTD_INSCRITOS'])*100).round(2)
geral.head(13)

    NU_ANO  QTD_INSCRITOS  ABS_ALL  ABS_ALL_%
0     2010           2500      628      25.12
1     2011           2500      659      26.36
2     2012           2500      674      26.96
3     2013           2500      658      26.32
4     2014           2500      700      28.00
5     2015           2200      591      26.86
6     2016           2192      696      31.75
7     2017           2304      748      32.47
8     2018           2256      555      24.60
9     2019           2203      561      25.47
10    2020           2265     1274      56.25
11    2021           2195      757      34.49
12    2022           2145      617      28.76

#### Média Objetiva e Geral por ano.

In [8]:
geral1_media = df_enem.groupby('NU_ANO')[['MEDIA_OBJ', 'MEDIA_GLOBAL']].mean().reset_index().round(2)
geral1_media.head(13)

    NU_ANO  MEDIA_OBJ  MEDIA_GLOBAL
0     2010     514.65        389.70
1     2011     493.20        362.88
2     2012     495.21        495.94
3     2013     496.19        364.35
4     2014     500.24        351.49
5     2015     502.40        368.53
6     2016     503.04        507.60
7     2017     511.62        512.86
8     2018     528.19        521.59
9     2019     504.62        518.51
10    2020     508.25        520.31
11    2021     504.48        524.32
12    2022     521.98        542.07

#### 2) Tipo de língua.
#### 0 - Inglês
#### 1 - Espanhol

#### Quantidade por ano.

In [9]:
geral2 = df_enem.groupby(['NU_ANO', 'TP_LINGUA'])['NU_INSCRICAO'].count().reset_index()
geral2 = geral2.pivot(index='NU_ANO', columns='TP_LINGUA', values='NU_INSCRICAO').reset_index()
geral2.columns = ['NU_ANO', 'QTD_INGLES', 'QTD_ESPANHOL']
geral2.head(13)

    NU_ANO  QTD_INGLES  QTD_ESPANHOL
0     2010        1082          1418
1     2011         941          1559
2     2012         651          1099
3     2013         967          1533
4     2014         940          1560
5     2015         843          1357
6     2016         881          1311
7     2017         979          1325
8     2018        1016          1240
9     2019        1003          1200
10    2020        1001          1264
11    2021        1078          1117
12    2022        1122          1023

#### Absoluto|Proporção por ano.

In [10]:
geral2_pct = geral2[['QTD_INGLES','QTD_ESPANHOL']]
geral2_pct.head()

   QTD_INGLES  QTD_ESPANHOL
0        1082          1418
1         941          1559
2         651          1099
3         967          1533
4         940          1560

In [11]:
soma_total = geral2_pct.sum(axis=1)

# Iterar sobre as colunas e criar as colunas percentuais automaticamente
for coluna in geral2_pct.columns:
    if coluna.startswith('QTD_'):  # Certifica-se de que estamos lidando apenas com as colunas relevantes
        coluna_percentual = coluna + '_%'
        proporcao_coluna = geral2_pct[coluna] / soma_total
        geral2_pct[coluna_percentual] = (proporcao_coluna * 100).round(2)

geral2_pct.head()

geral2 = geral2.merge(geral2_pct, on=['QTD_INGLES','QTD_ESPANHOL'], how='outer')
geral2.head(13)

    NU_ANO  QTD_INGLES  QTD_ESPANHOL  QTD_INGLES_%  QTD_ESPANHOL_%
0     2010        1082          1418         43.28           56.72
1     2011         941          1559         37.64           62.36
2     2012         651          1099         37.20           62.80
3     2013         967          1533         38.68           61.32
4     2014         940          1560         37.60           62.40
5     2015         843          1357         38.32           61.68
6     2016         881          1311         40.19           59.81
7     2017         979          1325         42.49           57.51
8     2018        1016          1240         45.04           54.96
9     2019        1003          1200         45.53           54.47
10    2020        1001          1264         44.19           55.81
11    2021        1078          1117         49.11           50.89
12    2022        1122          1023         52.31           47.69

#### Absoluto|Proporção total.

In [12]:
geral2_prop = df_enem['TP_LINGUA'].value_counts().sort_index()

geral2_prop = pd.DataFrame({'TP_LINGUA': geral2_prop.index, 'QTD_LINGUA': geral2_prop.values})
geral2_prop['QTD_LINGUA_%'] = ((geral2_prop['QTD_LINGUA'] / geral2_prop['QTD_LINGUA'].sum())*100).round(2)
geral2_prop['TP_LINGUA'] = geral2_prop['TP_LINGUA'].map({0: 'Inglês', 1: 'Espanhol'})
geral2_prop.head()

  TP_LINGUA  QTD_LINGUA  QTD_LINGUA_%
0    Inglês       12504         42.37
1  Espanhol       17006         57.63

#### Abstenções por língua.

In [13]:
geral2_ABS = df_enem.groupby(['TP_LINGUA'])['ABS_ALL'].sum().reset_index()
geral2_ABS['ABS_ALL_%'] = ((geral2_ABS['ABS_ALL'] / geral2_ABS['ABS_ALL'].sum())*100).round(2)
geral2_ABS['TP_LINGUA'] = geral2_ABS['TP_LINGUA'].map({0: 'Inglês', 1: 'Espanhol'})
geral2_ABS.head(13)

  TP_LINGUA  ABS_ALL  ABS_ALL_%
0    Inglês     3388      40.12
1  Espanhol     5056      59.88

#### Média por ano das línguas.

In [14]:
geral2_ano = df_enem.groupby(['NU_ANO', 'TP_LINGUA'])[['MEDIA_OBJ', 'MEDIA_GLOBAL']].mean().reset_index().round(2)
geral2_ano['TP_LINGUA'] = geral2_ano['TP_LINGUA'].map({0: 'Inglês', 1: 'Espanhol'})
geral2_ano.head()

   NU_ANO TP_LINGUA  MEDIA_OBJ  MEDIA_GLOBAL
0    2010    Inglês     529.15        395.85
1    2010  Espanhol     503.83        385.01
2    2011    Inglês     513.71        376.38
3    2011  Espanhol     480.90        354.73
4    2012    Inglês     522.28        523.21

In [15]:
geral2_ano = geral2_ano.pivot(index='NU_ANO', columns='TP_LINGUA')
geral2_ano = geral2_ano.reorder_levels([0 , 1], axis=1).sort_index(axis=1, level=0)
geral2_ano.head()

          MEDIA_GLOBAL         MEDIA_OBJ
TP_LINGUA     Espanhol  Inglês  Espanhol  Inglês
NU_ANO
2010            385.01  395.85    503.83  529.15
2011            354.73  376.38    480.90  513.71
2012            482.23  523.21    481.57  522.28
2013            356.37  376.99    483.38  516.69
2014            334.24  380.11    488.04  519.43

#### Média por língua.

In [17]:
geral2_media = df_enem.groupby('TP_LINGUA')[['MEDIA_OBJ', 'MEDIA_GLOBAL']].mean().reset_index().round(2)
geral2_media['TP_LINGUA'] = geral2_media['TP_LINGUA'].map({0: 'Inglês', 1: 'Espanhol'})
geral2_media.head()

  TP_LINGUA  MEDIA_OBJ  MEDIA_GLOBAL
0    Inglês     527.23        468.91
1  Espanhol     490.34        422.26

#### 3) Por tipo de escola.

#### Quantidade por tipo de escola por ano.

In [18]:
geral3 = df_enem.groupby(['NU_ANO', 'TP_ESCOLA'])['NU_INSCRICAO'].count().reset_index()
geral3 = geral3.pivot(index='NU_ANO', columns='TP_ESCOLA', values='NU_INSCRICAO').reset_index()
geral3.columns = ['NU_ANO', 'QTD_NAO_RESP','QTD_PUBLICA','QTD_PRIVADA','QTD_EXTERIOR']
geral3 = geral3.fillna(0).astype(int) # Possui dados faltantes e possui a falta da variável 'QTD_EXTERIOR' em alguns anos.
geral3.head(13)

    NU_ANO  QTD_NAO_RESP  QTD_PUBLICA  QTD_PRIVADA  QTD_EXTERIOR
0     2011          1787          582          131             0
1     2012             0          561          126             0
2     2013             0          485           96             0
3     2014             0         1635          277             0
4     2015          1659          442           99             0
5     2016          1662          436           94             0
6     2017          1625          577          102             0
7     2018          1604          551            9            92
8     2019          1471          623          109             0
9     2020          1639          549           77             0
10    2021          1336          738          121             0
11    2022          1234          756          155             0

#### Absoluto|Proporção por ano. Foi retirado o item "Não respondida" pois faz muita
#### parte da amostra mas não acrescenta informação (Ver com Lucas)

In [20]:
geral3_pct = geral3[['QTD_PUBLICA','QTD_PRIVADA','QTD_EXTERIOR']]
geral3_pct.head(13)

    QTD_PUBLICA  QTD_PRIVADA  QTD_EXTERIOR
0           582          131             0
1           561          126             0
2           485           96             0
3          1635          277             0
4           442           99             0
5           436           94             0
6           577          102             0
7           551            9            92
8           623          109             0
9           549           77             0
10          738          121             0
11          756          155             0

In [21]:
soma_total = geral3_pct.sum(axis=1)

# Iterar sobre as colunas e criar as colunas percentuais automaticamente
for coluna in geral3_pct.columns:
    if coluna.startswith('QTD_'):  # Certifica-se de que estamos lidando apenas com as colunas relevantes
        coluna_percentual = coluna + '_%'
        proporcao_coluna = geral3_pct[coluna] / soma_total
        geral3_pct[coluna_percentual] = (proporcao_coluna * 100).round(2)

geral3_pct.head()

geral3 = geral3.merge(geral3_pct, on=['QTD_PUBLICA', 'QTD_PRIVADA','QTD_EXTERIOR'], how='outer')
geral3 = geral3.drop('QTD_NAO_RESP', axis=1)
geral3.head(13)

,NU_ANO,QTD_PUBLICA,QTD_PRIVADA,QTD_EXTERIOR,QTD_PUBLICA_%,QTD_PRIVADA_%,QTD_EXTERIOR_%
0,2011,582,131,0,81.63,18.37,0.00
1,2012,561,126,0,81.66,18.34,0.00
2,2013,485,96,0,83.48,16.52,0.00
3,2014,1635,277,0,85.51,14.49,0.00
4,2015,442,99,0,81.70,18.30,0.00
5,2016,436,94,0,82.26,17.74,0.00
6,2017,577,102,0,84.98,15.02,0.00
7,2018,551,9,92,84.51,1.38,14.11
8,2019,623,109,0,85.11,14.89,0.00
9,2020,549,77,0,87.70,12.30,0.00
10,2021,738,121,0,85.91,14.09,0.00
11,2022,756,155,0,82.99,17.01,0.00

#### Absoluto|Proporção Total.

In [22]:
geral3_prop = df_enem['TP_ESCOLA'].value_counts().sort_index()

geral3_prop = pd.DataFrame({'TP_ESCOLA': geral3_prop.index, 'CONTAGEM': geral3_prop.values})
geral3_prop['PROPORCAO'] = ((geral3_prop['CONTAGEM'] / geral3_prop['CONTAGEM'].sum())*100).round(2)
geral3_prop['TP_ESCOLA'] = geral3_prop['TP_ESCOLA'].map({1: 'Não respondeu', 2: 'Escola Pública',3: 'Escola Privada',4: 'Exterior'})
geral3_prop.head()

        TP_ESCOLA  CONTAGEM  PROPORCAO
0   Não respondeu     14017      59.80
1  Escola Pública      7935      33.85
2  Escola Privada      1396       5.96
3        Exterior        92       0.39

#### Absoluto|Proporção Total sem os "Não respondeu".

In [23]:
df_filtrado = df_enem[df_enem['TP_ESCOLA'] != 1]
geral3_prop = df_filtrado['TP_ESCOLA'].value_counts().sort_index()
geral3_prop = pd.DataFrame({'TP_ESCOLA': geral3_prop.index, 'CONTAGEM': geral3_prop.values})
geral3_prop['PROPORCAO'] = ((geral3_prop['CONTAGEM'] / geral3_prop['CONTAGEM'].sum()) * 100).round(2)

geral3_prop['TP_ESCOLA'] = geral3_prop['TP_ESCOLA'].map({2: 'Escola Pública', 3: 'Escola Privada', 4: 'Exterior'})
geral3_prop.head()

        TP_ESCOLA  CONTAGEM  PROPORCAO
0  Escola Pública      7935      84.21
1  Escola Privada      1396      14.81
2        Exterior        92       0.98

#### Abstenção por tipo de escola.

In [24]:
geral3_ABS = df_enem.groupby(['TP_ESCOLA'])['ABS_ALL'].sum().reset_index()
geral3_ABS['ABS_ALL_%'] = ((geral3_ABS['ABS_ALL'] / geral3_ABS['ABS_ALL'].sum())*100).round(2)
geral3_ABS['TP_ESCOLA'] = geral3_ABS['TP_ESCOLA'].map({1: 'Não respondeu', 2: 'Escola Pública', 3: 'Escola Privada', 4: 'Exterior'})
geral3_ABS.head()

        TP_ESCOLA  ABS_ALL  ABS_ALL_%
0   Não respondeu     5142      71.55
1  Escola Pública     1897      26.39
2  Escola Privada      145       2.02
3        Exterior        3       0.04

#### Abstenção por tipo de escola sem os "Não respondeu"

In [25]:
df_filtrado = df_enem[df_enem['TP_ESCOLA'] != 1]
geral3_ABS = df_filtrado.groupby(['TP_ESCOLA'])['ABS_ALL'].sum().reset_index()
geral3_ABS['ABS_ALL_%'] = ((geral3_ABS['ABS_ALL'] / geral3_ABS['ABS_ALL'].sum()) * 100).round(2)
geral3_ABS['TP_ESCOLA'] = geral3_ABS['TP_ESCOLA'].map({2: 'Escola Pública', 3: 'Escola Privada', 4: 'Exterior'})
geral3_ABS.head()

        TP_ESCOLA  ABS_ALL  ABS_ALL_%
0  Escola Pública     1897      92.76
1  Escola Privada      145       7.09
2        Exterior        3       0.15

#### Média por tipo de escola por ano.

In [26]:
geral3_ano = df_enem.groupby(['NU_ANO', 'TP_ESCOLA'])[['MEDIA_OBJ', 'MEDIA_GLOBAL']].mean().reset_index().round(2)
geral3_ano['TP_ESCOLA'] = geral3_ano['TP_ESCOLA'].map({1: 'Não respondeu', 2: 'Escola Pública', 3: 'Escola Privada', 4: 'Exterior'})
geral3_ano.head()

   NU_ANO       TP_ESCOLA  MEDIA_OBJ  MEDIA_GLOBAL
0    2011   Não respondeu     492.07        362.99
1    2011  Escola Pública     495.45        359.23
2    2011  Escola Privada     498.66        377.64
3    2012  Escola Pública     474.24        475.19
4    2012  Escola Privada     564.51        571.03

In [27]:
geral3_ano = geral3_ano.pivot(index='NU_ANO', columns='TP_ESCOLA')
geral3_ano = geral3_ano.reorder_levels([1 , 0], axis=1).sort_index(axis=1, level=0)
geral3_ano.head()

TP_ESCOLA Escola Privada           Escola Pública               Exterior  \
            MEDIA_GLOBAL MEDIA_OBJ   MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL
NU_ANO
2011              377.64    498.66         359.23    495.45          NaN
2012              571.03    564.51         475.19    474.24          NaN
2013              518.53    548.40         403.54    478.23          NaN
2014              452.36    562.19         335.82    493.19          NaN
2015              559.29    560.60         432.28    486.62          NaN

TP_ESCOLA           Não respondeu
          MEDIA_OBJ  MEDIA_GLOBAL MEDIA_OBJ
NU_ANO
2011            NaN        362.99    492.07
2012            NaN           NaN       NaN
2013            NaN           NaN       NaN
2014            NaN           NaN       NaN
2015            NaN        340.15    502.86

#### Média por tipo de escola.

In [28]:
geral3_media = df_enem.groupby('TP_ESCOLA')[['MEDIA_OBJ', 'MEDIA_GLOBAL']].mean().reset_index().round(2)
geral3_media['TP_ESCOLA'] = geral3_media['TP_ESCOLA'].map({1: 'Não respondeu', 2: 'Escola Pública', 3: 'Escola Privada', 4: 'Exterior'})
geral3_media.head()

        TP_ESCOLA  MEDIA_OBJ  MEDIA_GLOBAL
0   Não respondeu     510.15        463.09
1  Escola Pública     490.46        436.18
2  Escola Privada     559.71        534.35
3        Exterior     586.37        600.14

#### 4) Gênero.

#### Quantidade.

In [29]:
geral4 = df_enem.groupby(['NU_ANO', 'TP_SEXO'])['NU_INSCRICAO'].count().reset_index()
geral4 = geral4.pivot(index='NU_ANO', columns='TP_SEXO', values='NU_INSCRICAO').reset_index()
geral4.columns = ['NU_ANO', 'QTD_FEM','QTD_MASC']
geral4.head(13)

    NU_ANO  QTD_FEM  QTD_MASC
0     2010     1498      1002
1     2011     1521       979
2     2012     1462      1038
3     2013     1496      1004
4     2014     1442      1058
5     2015     1244       956
6     2016     1244       948
7     2017     1360       944
8     2018     1336       920
9     2019     1303       900
10    2020     1340       925
11    2021     1347       848
12    2022     1298       847

#### Absoluto|Proporção por ano por gênero.

In [30]:
geral4_pct = geral4[['QTD_FEM','QTD_MASC']]
geral4_pct.head(13)

    QTD_FEM  QTD_MASC
0      1498      1002
1      1521       979
2      1462      1038
3      1496      1004
4      1442      1058
5      1244       956
6      1244       948
7      1360       944
8      1336       920
9      1303       900
10     1340       925
11     1347       848
12     1298       847

In [31]:
soma_total = geral4_pct.sum(axis=1)

# Iterar sobre as colunas e criar as colunas percentuais automaticamente
for coluna in geral4_pct.columns:
    if coluna.startswith('QTD_'):  # Certifica-se de que estamos lidando apenas com as colunas relevantes
        coluna_percentual = coluna + '_%'
        proporcao_coluna = geral4_pct[coluna] / soma_total
        geral4_pct[coluna_percentual] = (proporcao_coluna * 100).round(2)

geral4_pct.head(13)

    QTD_FEM  QTD_MASC  QTD_FEM_%  QTD_MASC_%
0      1498      1002      59.92       40.08
1      1521       979      60.84       39.16
2      1462      1038      58.48       41.52
3      1496      1004      59.84       40.16
4      1442      1058      57.68       42.32
5      1244       956      56.55       43.45
6      1244       948      56.75       43.25
7      1360       944      59.03       40.97
8      1336       920      59.22       40.78
9      1303       900      59.15       40.85
10     1340       925      59.16       40.84
11     1347       848      61.37       38.63
12     1298       847      60.51       39.49

In [32]:
geral4 = geral4.merge(geral4_pct, on=['QTD_MASC', 'QTD_FEM'], how='outer')
geral4.head(13)

    NU_ANO  QTD_FEM  QTD_MASC  QTD_FEM_%  QTD_MASC_%
0     2010     1498      1002      59.92       40.08
1     2011     1521       979      60.84       39.16
2     2012     1462      1038      58.48       41.52
3     2013     1496      1004      59.84       40.16
4     2014     1442      1058      57.68       42.32
5     2015     1244       956      56.55       43.45
6     2016     1244       948      56.75       43.25
7     2017     1360       944      59.03       40.97
8     2018     1336       920      59.22       40.78
9     2019     1303       900      59.15       40.85
10    2020     1340       925      59.16       40.84
11    2021     1347       848      61.37       38.63
12    2022     1298       847      60.51       39.49

#### Absoluto|Proporção do total.

In [33]:
geral3_prop = df_enem['TP_SEXO'].value_counts().sort_index()

geral3_prop = pd.DataFrame({'TP_SEXO': geral3_prop.index, 'CONTAGEM': geral3_prop.values})
geral3_prop['PROPORCAO'] = ((geral3_prop['CONTAGEM'] / geral3_prop['CONTAGEM'].sum())*100).round(2)
geral3_prop['TP_SEXO'] = geral3_prop['TP_SEXO'].map({'M': 'Masculino', 'F': 'Feminino'})
geral3_prop.head()

     TP_SEXO  CONTAGEM  PROPORCAO
0   Feminino     17891      59.12
1  Masculino     12369      40.88

#### Abstenção por gênero.

In [34]:
geral4_ABS = df_enem.groupby(['TP_SEXO'])['ABS_ALL'].sum().reset_index()
geral4_ABS['ABS_ALL_%'] = ((geral4_ABS['ABS_ALL'] / geral4_ABS['ABS_ALL'].sum())*100).round(2)
geral4_ABS['TP_SEXO'] = geral4_ABS['TP_SEXO'].map({'M': 'Masculino', 'F': 'Feminino'})
geral4_ABS.head()

     TP_SEXO  ABS_ALL  ABS_ALL_%
0   Feminino     5453       59.8
1  Masculino     3665       40.2

#### Média de gênero por ano.

In [35]:
geral4_ano = df_enem.groupby(['NU_ANO', 'TP_SEXO'])[['MEDIA_OBJ', 'MEDIA_GLOBAL']].mean().reset_index().round(2)
geral4_ano['TP_SEXO'] = geral4_ano['TP_SEXO'].map({'M': 'Masculino', 'F': 'Feminino'})
geral4_ano.head()

   NU_ANO    TP_SEXO  MEDIA_OBJ  MEDIA_GLOBAL
0    2010   Feminino     505.58        385.26
1    2010  Masculino     528.11        396.34
2    2011   Feminino     483.06        357.63
3    2011  Masculino     508.78        371.03
4    2012   Feminino     481.83        485.46

In [36]:
geral4_ano = geral4_ano.pivot(index='NU_ANO', columns='TP_SEXO')
geral4_ano = geral4_ano.reorder_levels([1 , 0], axis=1).sort_index(axis=1, level=0)
geral4_ano.head()

TP_SEXO     Feminino              Masculino
        MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ
NU_ANO
2010          385.26    505.58       396.34    528.11
2011          357.63    483.06       371.03    508.78
2012          485.46    481.83       509.99    513.14
2013          361.49    486.18       368.60    511.19
2014          349.97    492.51       353.55    510.80

#### Média por gênero.

In [37]:
geral4_media = df_enem.groupby('TP_SEXO')[['MEDIA_OBJ', 'MEDIA_GLOBAL']].mean().reset_index().round(2)
geral4_media['TP_SEXO'] = geral4_media['TP_SEXO'].map({'F': 'Feminino', 'M': 'Masculino'})
geral4_media.head()

     TP_SEXO  MEDIA_OBJ  MEDIA_GLOBAL
0   Feminino     496.63        437.18
1  Masculino     519.72        449.44

#### 5) Escola por tipo de administração.

#### Quantidade por ano.

In [38]:
geral5 = df_enem.groupby(['NU_ANO', 'TP_DEPENDENCIA_ADM_ESC'])['NU_INSCRICAO'].count().reset_index()
geral5 = geral5.pivot(index='NU_ANO', columns='TP_DEPENDENCIA_ADM_ESC', values='NU_INSCRICAO').reset_index()
geral5.columns = ['NU_ANO', 'QTD_FEDERAL', 'QTD_ESTADUAL', 'QTD_MUNICIPAL', 'QTD_PRIVADA']
geral5 = geral5.fillna(0).astype(int) #Possui dados faltantes
geral5.head(13)

    NU_ANO  QTD_FEDERAL  QTD_ESTADUAL  QTD_MUNICIPAL  QTD_PRIVADA
0     2010           13           566              9          144
1     2011           15           429              3           87
2     2012           12           546              6          126
3     2013           14           467              6           96
4     2014           12           369             13          117
5     2015           12           424              6           99
6     2016            9           423              4           94
7     2017           20           553              4          102
8     2018           25           551              9           92
9     2019           22           487              7           83
10    2020           24           304              5           78
11    2021           23           449              8          131
12    2022           33           460              9          160

#### Absoluto|Proporção por ano dos dados disponíveis e não totais pois há muito dados faltantes.

In [39]:
geral5['TOTAL'] = geral5['QTD_FEDERAL'] + geral5['QTD_ESTADUAL'] + geral5['QTD_MUNICIPAL'] + geral5['QTD_PRIVADA']

for tipo in ['FEDERAL', 'ESTADUAL', 'MUNICIPAL', 'PRIVADA']:
    coluna_qtd = f'QTD_{tipo}'
    coluna_percentual = f'QTD_{tipo}_%'

    geral5[coluna_percentual] = ((geral5[coluna_qtd] / geral5['TOTAL']) * 100).round(2)

geral5.head(13)

,NU_ANO,QTD_FEDERAL,QTD_ESTADUAL,QTD_MUNICIPAL,QTD_PRIVADA,TOTAL,QTD_FEDERAL_%,QTD_ESTADUAL_%,QTD_MUNICIPAL_%,QTD_PRIVADA_%
0,2010,13,566,9,144,732,1.78,77.32,1.23,19.67
1,2011,15,429,3,87,534,2.81,80.34,0.56,16.29
2,2012,12,546,6,126,690,1.74,79.13,0.87,18.26
3,2013,14,467,6,96,583,2.40,80.10,1.03,16.47
4,2014,12,369,13,117,511,2.35,72.21,2.54,22.90
5,2015,12,424,6,99,541,2.22,78.37,1.11,18.30
6,2016,9,423,4,94,530,1.70,79.81,0.75,17.74
7,2017,20,553,4,102,679,2.95,81.44,0.59,15.02
8,2018,25,551,9,92,677,3.69,81.39,1.33,13.59
9,2019,22,487,7,83,599,3.67,81.30,1.17,13.86
10,2020,24,304,5,78,411,5.84,73.97,1.22,18.98
11,2021,23,449,8,131,611,3.76,73.49,1.31,21.44
12,2022,33,460,9,160,662,4.98,69.49,1.36,24.17

#### Absoluto|Proporçao total por tipo de adminstraçao na escola.

In [40]:
geral5_prop = df_enem['TP_DEPENDENCIA_ADM_ESC'].value_counts().sort_index()
geral5_prop = pd.DataFrame({'TP_DEPENDENCIA_ADM_ESC': geral5_prop.index, 'CONTAGEM': geral5_prop.values})
geral5_prop['PROPORCAO'] = ((geral5_prop['CONTAGEM'] / geral5_prop['CONTAGEM'].sum())*100).round(2)
geral5_prop['TP_DEPENDENCIA_ADM_ESC'] = geral5_prop['TP_DEPENDENCIA_ADM_ESC'].map({1: 'Federal', 2: 'Estadual',3: 'Municipal',4: 'Privada'})
geral5_prop.head()

  TP_DEPENDENCIA_ADM_ESC  CONTAGEM  PROPORCAO
0                Federal       234       3.02
1               Estadual      6028      77.68
2              Municipal        89       1.15
3                Privada      1409      18.16

#### Abstenção por tipo de administração da escola.

In [41]:
geral5_ABS = df_enem.groupby(['TP_DEPENDENCIA_ADM_ESC'])['ABS_ALL'].sum().reset_index()
geral5_ABS['ABS_ALL_%'] = ((geral5_ABS['ABS_ALL'] / geral5_ABS['ABS_ALL'].sum())*100).round(2)
geral5_ABS['TP_DEPENDENCIA_ADM_ESC'] = geral5_ABS['TP_DEPENDENCIA_ADM_ESC'].map({1: 'Federal', 2: 'Estadual',3: 'Municipal',4: 'Privada'})
geral5_ABS.head()

  TP_DEPENDENCIA_ADM_ESC  ABS_ALL  ABS_ALL_%
0                Federal       12       0.87
1               Estadual     1282      92.63
2              Municipal       19       1.37
3                Privada       71       5.13

#### Média por ano por tipo de dependencia administrativa.

In [42]:
geral5_ano = df_enem.groupby(['NU_ANO', 'TP_DEPENDENCIA_ADM_ESC'])[['MEDIA_OBJ', 'MEDIA_GLOBAL']].mean().reset_index().round(2)
geral5_ano['TP_DEPENDENCIA_ADM_ESC'] = geral5_ano['TP_DEPENDENCIA_ADM_ESC'].map({1: 'Federal', 2: 'Estadual', 3: 'Municipal', 4: 'Privada'})
geral5_ano.head()

   NU_ANO TP_DEPENDENCIA_ADM_ESC  MEDIA_OBJ  MEDIA_GLOBAL
0    2010                Federal     604.85        618.88
1    2010               Estadual     485.61        396.64
2    2010              Municipal     542.06        357.43
3    2010                Privada     582.45        568.12
4    2011                Federal     601.36        601.35

In [43]:
geral5_ano = geral5_ano.pivot(index='NU_ANO', columns='TP_DEPENDENCIA_ADM_ESC')
geral5_ano = geral5_ano.reorder_levels([1 , 0], axis=1).sort_index(axis=1, level=0)
geral5_ano.head()

TP_DEPENDENCIA_ADM_ESC     Estadual                Federal            \
                       MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ
NU_ANO
2010                         396.64    485.61       618.88    604.85
2011                         383.96    466.63       601.35    601.36
2012                         471.70    470.97       616.16    607.02
2013                         396.51    473.45       631.81    606.19
2014                         390.91    480.27       512.38    555.52

TP_DEPENDENCIA_ADM_ESC    Municipal                Privada
                       MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ
NU_ANO
2010                         357.43    542.06       568.12    582.45
2011                         472.67    484.17       561.39    573.94
2012                         482.76    478.44       571.03    564.51
2013                         413.54    489.31       518.53    548.40
2014                         401.64    487.64       518.49    547.08

#### Média por tipo de dependência administrativa.

In [44]:
geral5_media = df_enem.groupby('TP_DEPENDENCIA_ADM_ESC')[['MEDIA_OBJ', 'MEDIA_GLOBAL']].mean().reset_index().round(2)
geral5_media['TP_DEPENDENCIA_ADM_ESC'] = geral5_media['TP_DEPENDENCIA_ADM_ESC'].map({1: 'Federal', 2: 'Estadual', 3: 'Municipal', 4: 'Privada'})
geral5_media.head()

  TP_DEPENDENCIA_ADM_ESC  MEDIA_OBJ  MEDIA_GLOBAL
0                Federal     577.43        594.95
1               Estadual     484.45        451.43
2              Municipal     498.52        460.23
3                Privada     567.61        574.34

#### 6) Etnia.

#### Quantidade Etnia

In [45]:
geral6 = df_enem.groupby(['NU_ANO', 'TP_COR_RACA'])['NU_INSCRICAO'].count().reset_index()
geral6 = geral6.pivot(index='NU_ANO', columns='TP_COR_RACA', values='NU_INSCRICAO').reset_index()
# Renomear as colunas para facilitar a compreensão
geral6.columns = ['NU_ANO', 'QTD_NAO_DECLARADO','QTD_BRANCA','QTD_PRETA','QTD_PARDA','QTD_AMARELA','QTD_INDIGENA','QTD_NAO_DISPOE']
geral6 = geral6.fillna(0).astype(int)
geral6.head(13)

,NU_ANO,QTD_NAO_DECLARADO,QTD_BRANCA,QTD_PRETA,QTD_PARDA,QTD_AMARELA,QTD_INDIGENA,QTD_NAO_DISPOE
0,2010,95,1099,290,940,60,16,0
1,2011,68,1020,311,1044,48,9,0
2,2012,57,1050,297,1030,56,10,0
3,2013,56,953,316,1095,64,16,0
4,2014,42,905,336,1140,60,17,0
5,2015,46,780,275,1031,50,11,7
6,2016,43,768,302,1021,44,14,0
7,2017,41,753,324,1101,71,14,0
8,2018,48,814,298,1038,49,9,0
9,2019,40,752,285,1051,55,20,0
10,2020,40,775,329,1054,55,12,0
11,2021,51,801,283,1013,33,14,0
12,2022,25,868,266,931,40,15,0

#### Absoluto|Proporções por ano.

In [46]:
geral6_pct = geral6[['QTD_NAO_DECLARADO','QTD_BRANCA','QTD_PRETA','QTD_PARDA','QTD_AMARELA','QTD_INDIGENA','QTD_NAO_DISPOE']]
geral6_pct.head(13)

,QTD_NAO_DECLARADO,QTD_BRANCA,QTD_PRETA,QTD_PARDA,QTD_AMARELA,QTD_INDIGENA,QTD_NAO_DISPOE
0,95,1099,290,940,60,16,0
1,68,1020,311,1044,48,9,0
2,57,1050,297,1030,56,10,0
3,56,953,316,1095,64,16,0
4,42,905,336,1140,60,17,0
5,46,780,275,1031,50,11,7
6,43,768,302,1021,44,14,0
7,41,753,324,1101,71,14,0
8,48,814,298,1038,49,9,0
9,40,752,285,1051,55,20,0
10,40,775,329,1054,55,12,0
11,51,801,283,1013,33,14,0
12,25,868,266,931,40,15,0

In [47]:
soma_total = geral6_pct.sum(axis=1)

# Iterar sobre as colunas e criar as colunas percentuais automaticamente
for coluna in geral6_pct.columns:
    if coluna.startswith('QTD_'):  # Certifica-se de que estamos lidando apenas com as colunas relevantes
        coluna_percentual = coluna + '_%'
        proporcao_coluna = geral6_pct[coluna] / soma_total
        geral6_pct[coluna_percentual] = (proporcao_coluna * 100).round(2)

geral6_pct.head()

geral6 = geral6.merge(geral6_pct, on=['QTD_NAO_DECLARADO','QTD_BRANCA','QTD_PRETA','QTD_PARDA','QTD_AMARELA','QTD_INDIGENA','QTD_NAO_DISPOE'], how='outer')
geral6.head(13)

,NU_ANO,QTD_NAO_DECLARADO,QTD_BRANCA,QTD_PRETA,QTD_PARDA,QTD_AMARELA,QTD_INDIGENA,QTD_NAO_DISPOE,QTD_NAO_DECLARADO_%,QTD_BRANCA_%,QTD_PRETA_%,QTD_PARDA_%,QTD_AMARELA_%,QTD_INDIGENA_%,QTD_NAO_DISPOE_%
0,2010,95,1099,290,940,60,16,0,3.80,43.96,11.60,37.60,2.40,0.64,0.00
1,2011,68,1020,311,1044,48,9,0,2.72,40.80,12.44,41.76,1.92,0.36,0.00
2,2012,57,1050,297,1030,56,10,0,2.28,42.00,11.88,41.20,2.24,0.40,0.00
3,2013,56,953,316,1095,64,16,0,2.24,38.12,12.64,43.80,2.56,0.64,0.00
4,2014,42,905,336,1140,60,17,0,1.68,36.20,13.44,45.60,2.40,0.68,0.00
5,2015,46,780,275,1031,50,11,7,2.09,35.45,12.50,46.86,2.27,0.50,0.32
6,2016,43,768,302,1021,44,14,0,1.96,35.04,13.78,46.58,2.01,0.64,0.00
7,2017,41,753,324,1101,71,14,0,1.78,32.68,14.06,47.79,3.08,0.61,0.00
8,2018,48,814,298,1038,49,9,0,2.13,36.08,13.21,46.01,2.17,0.40,0.00
9,2019,40,752,285,1051,55,20,0,1.82,34.14,12.94,47.71,2.50,0.91,0.00
10,2020,40,775,329,1054,55,12,0,1.77,34.22,14.53,46.53,2.43,0.53,0.00
11,2021,51,801,283,1013,33,14,0,2.32,36.49,12.89,46.15,1.50,0.64,0.00
12,2022,25,868,266,931,40,15,0,1.17,40.47,12.40,43.40,1.86,0.70,0.00

#### Absoluto|Proporções totais.

In [48]:
geral6_prop = df_enem['TP_COR_RACA'].value_counts().sort_index()

geral6_prop = pd.DataFrame({'TP_COR_RACA': geral6_prop.index, 'CONTAGEM': geral6_prop.values})
geral6_prop['PROPORCAO'] = ((geral6_prop['CONTAGEM'] / geral6_prop['CONTAGEM'].sum())*100).round(2)
geral6_prop['TP_COR_RACA'] = geral6_prop['TP_COR_RACA'].map({0: 'Não declarado',1: 'Branca', 2: 'Preta',3: 'Parda',4: 'Amarela', 5:'Indígena', 6:'Não dispões da informação'})
geral6_prop.head(7)

                 TP_COR_RACA  CONTAGEM  PROPORCAO
0              Não declarado       652       2.15
1                     Branca     11338      37.47
2                      Preta      3912      12.93
3                      Parda     13489      44.58
4                    Amarela       685       2.26
5                   Indígena       177       0.58
6  Não dispões da informação         7       0.02

#### Abstenções por etnia.

In [49]:
geral6_ABS = df_enem.groupby(['TP_COR_RACA'])['ABS_ALL'].sum().reset_index()
geral6_ABS['ABS_ALL_%'] = ((geral6_ABS['ABS_ALL'] / geral6_ABS['ABS_ALL'].sum())*100).round(2)
geral6_ABS['TP_COR_RACA'] = geral6_ABS['TP_COR_RACA'].map({0: 'Não declaro', 1: 'Branca', 2: 'Preta', 3: 'Parda', 4: 'Amarela',5:'Indígena', 6:'Não dispões da informação'})
geral6_ABS.head()

   TP_COR_RACA  ABS_ALL  ABS_ALL_%
0  Não declaro      208       2.28
1       Branca     3207      35.17
2        Preta     1310      14.37
3        Parda     4139      45.39
4      Amarela      198       2.17

#### Média de etnia por ano.

In [50]:
geral6_ano = df_enem.groupby(['NU_ANO', 'TP_COR_RACA'])[['MEDIA_OBJ', 'MEDIA_GLOBAL']].mean().reset_index().round(2)
geral6_ano['TP_COR_RACA'] = geral6_ano['TP_COR_RACA'].map({0: 'Não declaro', 1: 'Branca', 2: 'Preta', 3: 'Parda', 4: 'Amarela',5:'Indígena', 6:'Não dispões da informação'})
geral6_ano.head()

   NU_ANO  TP_COR_RACA  MEDIA_OBJ  MEDIA_GLOBAL
0    2010  Não declaro     534.73        412.90
1    2010       Branca     530.30        404.66
2    2010        Preta     498.08        372.04
3    2010        Parda     498.64        372.45
4    2010      Amarela     527.76        455.25

In [51]:
geral6_ano = geral6_ano.pivot(index='NU_ANO', columns='TP_COR_RACA')
geral6_ano = geral6_ano.reorder_levels([1 , 0], axis=1).sort_index(axis=1, level=0)
geral6_ano.head()

TP_COR_RACA      Amarela                 Branca               Indígena  \
            MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL
NU_ANO
2010              455.25    527.76       404.66    530.30       312.87
2011              358.80    495.92       384.62    516.23       343.09
2012              502.29    501.98       512.38    511.56       474.98
2013              402.97    495.53       374.43    516.77       335.76
2014              369.80    518.25       361.49    513.44       345.69

TP_COR_RACA            Não declaro           Não dispões da informação  \
            MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ              MEDIA_GLOBAL
NU_ANO
2010           465.82       412.90    534.73                       NaN
2011           463.54       319.95    504.15                       NaN
2012           480.50       498.77    501.29                       NaN
2013           462.74       377.24    483.07                       NaN
2014           457.77       336.01    515.13                       NaN

TP_COR_RACA                  Parda                  Preta
            MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ
NU_ANO
2010              NaN       372.45    498.64       372.04    498.08
2011              NaN       351.13    477.59       341.64    467.95
2012              NaN       478.30    477.29       494.95    494.60
2013              NaN       359.65    483.25       341.56    484.35
2014              NaN       344.75    491.86       346.36    490.48

#### Média por Etnia

In [52]:
geral6_media = df_enem.groupby('TP_COR_RACA')[['MEDIA_OBJ', 'MEDIA_GLOBAL']].mean().reset_index().round(2)
geral6_media['TP_COR_RACA'] = geral6_media['TP_COR_RACA'].map({0: 'Não declarado', 1: 'Branca', 2: 'Preta', 3: 'Parda', 4: 'Amarela', 5: 'Indígena', 6: 'Não dispões da informação'})
geral6_media.head(7)

                 TP_COR_RACA  MEDIA_OBJ  MEDIA_GLOBAL
0              Não declarado     513.63        432.41
1                     Branca     525.47        459.67
2                      Preta     490.38        424.91
3                      Parda     493.64        432.27
4                    Amarela     508.90        448.93
5                   Indígena     471.81        415.06
6  Não dispões da informação     552.91        476.85

### 7) Estado Civil.

#### Quantidade.

In [53]:
geral7 = df_enem.groupby(['NU_ANO', 'TP_ESTADO_CIVIL'])['NU_INSCRICAO'].count().reset_index()


geral7 = geral7.pivot(index='NU_ANO', columns='TP_ESTADO_CIVIL', values='NU_INSCRICAO').reset_index()

# Renomear as colunas para facilitar a compreensão
geral7.columns = ['NU_ANO', 'QTD_NAO_INFORMADO','QTD_SOLTEIRO','QTD_CASADO','QTD_DIVORCIADO','QTD_VIUVO']
geral7 = geral7.fillna(0).astype(int) #Possui NAn
geral7.head(13)

,NU_ANO,QTD_NAO_INFORMADO,QTD_SOLTEIRO,QTD_CASADO,QTD_DIVORCIADO,QTD_VIUVO
0,2010,0,2111,340,42,7
1,2011,0,2047,399,48,6
2,2012,0,2068,374,48,10
3,2013,0,2116,327,51,6
4,2014,0,2078,367,48,7
5,2015,0,1770,281,36,5
6,2016,0,1751,289,44,4
7,2017,104,1892,267,35,6
8,2018,0,1911,216,34,2
9,2019,82,1906,185,29,1
10,2020,101,1875,225,55,9
11,2021,93,1916,142,41,3
12,2022,92,1886,128,39,0

#### Absoluto|Proporção de estado civil por ano.

In [54]:
geral7_pct = geral7[['QTD_NAO_INFORMADO','QTD_SOLTEIRO','QTD_CASADO','QTD_DIVORCIADO','QTD_VIUVO']]
geral7_pct.head(13)

    QTD_NAO_INFORMADO  QTD_SOLTEIRO  QTD_CASADO  QTD_DIVORCIADO  QTD_VIUVO
0                   0          2111         340              42          7
1                   0          2047         399              48          6
2                   0          2068         374              48         10
3                   0          2116         327              51          6
4                   0          2078         367              48          7
5                   0          1770         281              36          5
6                   0          1751         289              44          4
7                 104          1892         267              35          6
8                   0          1911         216              34          2
9                  82          1906         185              29          1
10                101          1875         225              55          9
11                 93          1916         142              41          3
12                 92          1886         128              39          0

In [55]:
soma_total = geral7_pct.sum(axis=1)

# Iterar sobre as colunas e criar as colunas percentuais automaticamente
for coluna in geral7_pct.columns:
    if coluna.startswith('QTD_'):  # Certifica-se de que estamos lidando apenas com as colunas relevantes
        coluna_percentual = coluna + '_%'
        proporcao_coluna = geral7_pct[coluna] / soma_total
        geral7_pct[coluna_percentual] = (proporcao_coluna * 100).round(2)

geral7_pct.head()

geral7 = geral7.merge(geral7_pct, on=['QTD_NAO_INFORMADO','QTD_SOLTEIRO','QTD_CASADO','QTD_DIVORCIADO','QTD_VIUVO'], how='outer')
geral7.head(13)

,NU_ANO,QTD_NAO_INFORMADO,QTD_SOLTEIRO,QTD_CASADO,QTD_DIVORCIADO,QTD_VIUVO,QTD_NAO_INFORMADO_%,QTD_SOLTEIRO_%,QTD_CASADO_%,QTD_DIVORCIADO_%,QTD_VIUVO_%
0,2010,0,2111,340,42,7,0.00,84.44,13.60,1.68,0.28
1,2011,0,2047,399,48,6,0.00,81.88,15.96,1.92,0.24
2,2012,0,2068,374,48,10,0.00,82.72,14.96,1.92,0.40
3,2013,0,2116,327,51,6,0.00,84.64,13.08,2.04,0.24
4,2014,0,2078,367,48,7,0.00,83.12,14.68,1.92,0.28
5,2015,0,1770,281,36,5,0.00,84.61,13.43,1.72,0.24
6,2016,0,1751,289,44,4,0.00,83.86,13.84,2.11,0.19
7,2017,104,1892,267,35,6,4.51,82.12,11.59,1.52,0.26
8,2018,0,1911,216,34,2,0.00,88.35,9.99,1.57,0.09
9,2019,82,1906,185,29,1,3.72,86.52,8.40,1.32,0.05
10,2020,101,1875,225,55,9,4.46,82.78,9.93,2.43,0.40
11,2021,93,1916,142,41,3,4.24,87.29,6.47,1.87,0.14
12,2022,92,1886,128,39,0,4.29,87.93,5.97,1.82,0.00

#### Absoluto|Proporção estado civil total.

In [56]:
geral7_prop = df_enem['TP_ESTADO_CIVIL'].value_counts().sort_index()

geral7_prop = pd.DataFrame({'TP_ESTADO_CIVIL': geral7_prop.index, 'CONTAGEM': geral7_prop.values})
geral7_prop['PROPORCAO'] = ((geral7_prop['CONTAGEM'] / geral7_prop['CONTAGEM'].sum())*100).round(2)
geral7_prop['TP_ESTADO_CIVIL'] = geral7_prop['TP_ESTADO_CIVIL'].map({0: 'Não informado',1: 'Solteiro(a)', 2: 'Casado(a)',3: 'Divorciado(a)',4: 'Viúvo(a)'})
geral7_prop.head(5)

  TP_ESTADO_CIVIL  CONTAGEM  PROPORCAO
0   Não informado       472       1.58
1     Solteiro(a)     25327      84.55
2       Casado(a)      3540      11.82
3   Divorciado(a)       550       1.84
4        Viúvo(a)        66       0.22

#### Abstenção por estado civil.

In [57]:
geral7_ABS = df_enem.groupby(['TP_ESTADO_CIVIL'])['ABS_ALL'].sum().reset_index()
geral7_ABS['ABS_ALL_%'] = ((geral7_ABS['ABS_ALL'] / geral7_ABS['ABS_ALL'].sum())*100).round(2)
geral7_ABS['TP_ESTADO_CIVIL'] = geral7_ABS['TP_ESTADO_CIVIL'].map({0: 'Não informado', 1: 'Solteiro(a)', 2: 'Casado(a)', 3: 'Divorciado(a)', 4: 'Viúvo(a)'})
geral7_ABS.head()

  TP_ESTADO_CIVIL  ABS_ALL  ABS_ALL_%
0   Não informado      236       2.62
1     Solteiro(a)     6920      76.88
2       Casado(a)     1540      17.11
3   Divorciado(a)      272       3.02
4        Viúvo(a)       33       0.37

#### Média por ano.

In [58]:
geral7_ano = df_enem.groupby(['NU_ANO', 'TP_ESTADO_CIVIL'])[['MEDIA_OBJ', 'MEDIA_GLOBAL']].mean().reset_index().round(2)
geral7_ano['TP_ESTADO_CIVIL'] = geral7_ano['TP_ESTADO_CIVIL'].map({0: 'Não informado', 1: 'Solteiro(a)', 2: 'Casado(a)', 3: 'Divorciado(a)', 4: 'Viúvo(a)'})
geral7_ano.head()

   NU_ANO TP_ESTADO_CIVIL  MEDIA_OBJ  MEDIA_GLOBAL
0    2010     Solteiro(a)     518.27        406.47
1    2010       Casado(a)     488.96        301.90
2    2010   Divorciado(a)     498.98        298.92
3    2010        Viúvo(a)     453.12        141.43
4    2011     Solteiro(a)     495.37        379.03

In [59]:
geral7_ano = geral7_ano.pivot(index='NU_ANO', columns='TP_ESTADO_CIVIL')
geral7_ano = geral7_ano.reorder_levels([1 , 0], axis=1).sort_index(axis=1, level=0)
geral7_ano.head()

TP_ESTADO_CIVIL    Casado(a)           Divorciado(a)           Não informado  \
                MEDIA_GLOBAL MEDIA_OBJ  MEDIA_GLOBAL MEDIA_OBJ  MEDIA_GLOBAL
NU_ANO
2010                  301.90    488.96        298.92    498.98           NaN
2011                  292.15    484.60        256.89    451.71           NaN
2012                  479.38    479.31        487.52    490.42           NaN
2013                  277.66    488.11        265.20    496.66           NaN
2014                  279.45    489.50        197.73    483.20           NaN

TP_ESTADO_CIVIL            Solteiro(a)               Viúvo(a)
                MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ
NU_ANO
2010                  NaN       406.47    518.27       141.43    453.12
2011                  NaN       379.03    495.37       405.42    468.12
2012                  NaN       498.46    497.59       484.52    475.64
2013                  NaN       380.53    497.17       225.57    463.92
2014                  NaN       367.83    502.07       331.81    471.66

#### Média por estado civil.

In [60]:
geral7_media = df_enem.groupby('TP_ESTADO_CIVIL')[['MEDIA_OBJ', 'MEDIA_GLOBAL']].mean().reset_index().round(2)
geral7_media['TP_ESTADO_CIVIL'] = geral7_media['TP_ESTADO_CIVIL'].map({0: 'Não informado', 1: 'Solteiro(a)', 2: 'Casado(a)', 3: 'Divorciado(a)', 4: 'Viúvo(a)'})
geral7_media.head(6)

  TP_ESTADO_CIVIL  MEDIA_OBJ  MEDIA_GLOBAL
0   Não informado     507.51        511.72
1     Solteiro(a)     507.88        453.73
2       Casado(a)     492.72        363.53
3   Divorciado(a)     491.46        353.59
4        Viúvo(a)     480.42        337.53

#### 8) Região geográfica.

#### Média por ano por região geográfica.

In [61]:
geral8_ano = df_enem.groupby(['NU_ANO', 'TP_REGIAO_PROVA'])[['MEDIA_OBJ', 'MEDIA_GLOBAL']].mean().reset_index().round(2)
geral8_ano.head()

   NU_ANO TP_REGIAO_PROVA  MEDIA_OBJ  MEDIA_GLOBAL
0    2010    Centro-Oeste     509.08        411.73
1    2010              DF     509.77        324.47
2    2010        Nordeste     497.63        390.26
3    2010           Norte     485.28        366.09
4    2010         Sudeste     530.57        389.79

In [62]:
geral8_ano = geral8_ano.pivot(index='NU_ANO', columns='TP_REGIAO_PROVA')
geral8_ano = geral8_ano.reorder_levels([1 , 0], axis=1).sort_index(axis=1, level=0)
geral8_ano.head()

TP_REGIAO_PROVA Centro-Oeste                     DF               Nordeste  \
                MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL
NU_ANO
2010                  411.73    509.08       324.47    509.77       390.26
2011                  363.47    477.83       370.22    509.22       358.94
2012                  487.63    489.34       503.59    501.31       479.47
2013                  332.92    479.18       353.16    515.06       366.86
2014                  362.78    493.75       364.63    519.11       348.07

TP_REGIAO_PROVA                  Norte                Sudeste            \
                MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ
NU_ANO
2010               497.63       366.09    485.28       389.79    530.57
2011               477.17       362.96    471.62       367.30    511.83
2012               478.44       462.70    459.81       520.93    520.05
2013               481.75       373.34    474.50       369.73    517.48
2014               487.05       299.96    470.16       370.02    517.85

TP_REGIAO_PROVA          Sul
                MEDIA_GLOBAL MEDIA_OBJ
NU_ANO
2010                  397.80    525.41
2011                  358.44    505.79
2012                  498.65    499.58
2013                  353.14    501.52
2014                  339.29    509.64

#### Média por região geográfica.

In [63]:
geral8_media = df_enem.groupby('TP_REGIAO_PROVA')[['MEDIA_OBJ', 'MEDIA_GLOBAL']].mean().reset_index().round(2)
geral8_media.head(6)

  TP_REGIAO_PROVA  MEDIA_OBJ  MEDIA_GLOBAL
0    Centro-Oeste     499.98        433.80
1              DF     515.63        447.55
2        Nordeste     491.74        437.22
3           Norte     481.67        426.26
4         Sudeste     523.96        452.10
5             Sul     517.99        444.48

#### Abstenção por regiao.

In [64]:
geral8_ABS = df_enem.groupby(['TP_REGIAO_PROVA'])['ABS_ALL'].sum().reset_index()
geral8_ABS['ABS_ALL_%'] = ((geral8_ABS['ABS_ALL'] / geral8_ABS['ABS_ALL'].sum())*100).round(2)
geral8_ABS.head()

  TP_REGIAO_PROVA  ABS_ALL  ABS_ALL_%
0    Centro-Oeste      628       6.89
1              DF      184       2.02
2        Nordeste     2829      31.03
3           Norte     1071      11.75
4         Sudeste     3341      36.64

#### 9) Unidade Federativas - UF

#### Códigos para utilizar funções de UF e Municípios.

In [65]:
municipality_view = ['TP_REGIAO_PROVA','SG_UF_PROVA', 'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA']
uf_view           = ['TP_REGIAO_PROVA', 'SG_UF_PROVA']
list_metrics      = { 'MIN_': np.min, 'AVG_' :np.mean, 'MED_' : np.median, 'MAX_' : np.max, 'STD_' : np.std}

# TP_ANO_CONCLUIU, TP_ESTADO_CIVIL

cat_columns       = [
    'TP_FAIXA_ETARIA', 'TP_SEXO',
    'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
    'TP_ESCOLA', 'TP_ENSINO',  'TP_DEPENDENCIA_ADM_ESC',
    'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'TP_PRESENCA_CN',
    'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 
]

In [66]:
# DATA PREP
notas = df_enem.columns[(df_enem.columns.str.contains('NU_NOTA_')) & (~df_enem.columns.str.contains('NU_NOTA_COMP'))].tolist()
lista_provas = df_enem.columns[(df_enem.columns.str.contains('NU_NOTA_')) & (~df_enem.columns.str.contains('NU_NOTA_COMP'))].tolist()

#### Média por ano UF.

In [68]:
geral9_ano = df_enem.groupby(['NU_ANO', 'SG_UF_PROVA'])[['MEDIA_OBJ', 'MEDIA_GLOBAL']].mean().reset_index().round(2)
geral9_ano.head()

   NU_ANO SG_UF_PROVA  MEDIA_OBJ  MEDIA_GLOBAL
0    2010          AC     485.23        453.75
1    2010          AL     465.44        369.61
2    2010          AM     457.89        330.28
3    2010          AP     482.52        408.18
4    2010          BA     491.24        344.90

In [69]:
geral9_ano = geral9_ano.pivot(index='NU_ANO', columns='SG_UF_PROVA')
geral9_ano = geral9_ano.reorder_levels([1 , 0], axis=1).sort_index(axis=1, level=0)
geral9_ano.head()

SG_UF_PROVA           AC                     AL                     AM  \
            MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL
NU_ANO
2010              453.75    485.23       369.61    465.44       330.28
2011              402.50    482.76       377.33    473.15       325.16
2012              438.05    432.01       469.29    464.67       453.90
2013              364.01    461.40       381.65    480.81       292.94
2014              249.79    434.25       401.88    499.57       286.78

SG_UF_PROVA                     AP                     BA            \
            MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ
NU_ANO
2010           457.89       408.18    482.52       344.90    491.24
2011           441.53       403.39    449.50       352.70    470.79
2012           446.14       470.43    461.03       486.68    485.56
2013           474.25       432.32    456.34       357.52    480.38
2014           475.22       281.82    501.87       313.08    490.93

SG_UF_PROVA           CE                     DF                     ES  \
            MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL
NU_ANO
2010              386.06    502.10       324.47    509.77       352.26
2011              404.51    498.90       370.22    509.22       380.56
2012              489.16    487.55       503.59    501.31       511.09
2013              352.83    472.54       353.16    515.06       374.52
2014              374.16    489.27       364.63    519.11       399.86

SG_UF_PROVA                     GO                     MA            \
            MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ
NU_ANO
2010           502.52       442.55    523.44       444.08    494.29
2011           525.43       393.38    490.07       328.79    451.76
2012           517.99       512.75    516.78       468.95    469.56
2013           496.46       332.61    487.26       345.90    478.46
2014           522.01       357.88    506.65       319.70    461.91

SG_UF_PROVA           MG                     MS                     MT  \
            MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL
NU_ANO
2010              406.60    537.62       427.15    510.10       372.16
2011              394.62    510.90       331.57    457.50       352.33
2012              514.57    512.59       485.57    483.97       449.46
2013              375.78    508.91       349.92    479.64       316.01
2014              354.30    516.08       365.76    483.21       367.95

SG_UF_PROVA                     PA                     PB            \
            MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ
NU_ANO
2010           493.84       393.59    493.19       387.12    544.56
2011           479.73       358.60    483.52       368.12    476.53
2012           452.82       469.13    466.51       476.81    477.74
2013           466.94       408.24    477.33       393.34    491.89
2014           484.65       313.28    469.72       376.32    481.95

SG_UF_PROVA           PE                     PI                     PR  \
            MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL
NU_ANO
2010              426.46    508.86       383.60    478.29       421.43
2011              345.27    484.09       394.26    480.34       358.22
2012              483.67    483.33       459.66    459.39       494.88
2013              345.09    480.07       360.03    475.85       344.95
2014              340.30    488.66       371.85    492.82       347.03

SG_UF_PROVA                     RJ                     RN            \
            MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ
NU_ANO
2010           526.69       430.34    532.92       437.03    491.68
2011           498.53       347.61    511.28       289.07    479.85
2012           495.72       527.13    527.02       493.79    491.17
2013           505.29       381.41    526.40       443.31    513.05
2014           497.91       396.71    513.59       352.40    492.98

SG_UF_PROVA           RO                     RR                     RS  \
            MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL
NU_ANO
2010              312.38    499.08       407.80    524.15       381.22
2011              419.11    473.75       437.65    518.67       351.65
2012              451.34    461.48       513.22    496.52       496.78
2013              331.60    475.29       151.59    443.45       339.32
2014              293.13    472.76       263.62    461.66       339.20

SG_UF_PROVA                     SC                     SE            \
            MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ
NU_ANO
2010           529.69       379.92    495.76       380.42    519.01
2011           506.73       405.38    531.24       385.53    458.69
2012           499.73       511.08    507.01       443.34    439.51
2013           495.96       420.70    506.90       414.48    474.85
2014           520.21       319.01    507.91       374.69    509.64

SG_UF_PROVA           SP                     TO
            MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ
NU_ANO
2010              369.44    529.01       356.27    499.44
2011              352.20    511.01       290.18    461.92
2012              524.19    522.67       451.09    455.91
2013              358.83    522.62       400.11    484.95
2014              365.80    520.38       334.12    454.41

#### Média por UF.

In [70]:
geral9_media = df_enem.groupby('SG_UF_PROVA')[['MEDIA_OBJ', 'MEDIA_GLOBAL']].mean().reset_index().round(2)
geral9_media.head(27)

   SG_UF_PROVA  MEDIA_OBJ  MEDIA_GLOBAL
0           AC     468.92        422.48
1           AL     487.56        440.04
2           AM     472.71        398.51
3           AP     476.18        427.77
4           BA     491.72        421.07
5           CE     497.29        446.33
6           DF     515.63        447.55
7           ES     515.65        448.84
8           GO     509.59        450.80
9           MA     478.61        425.62
10          MG     523.62        456.02
11          MS     492.62        421.04
12          MT     490.36        417.50
13          PA     485.15        441.88
14          PB     494.87        461.73
15          PE     494.37        436.15
16          PI     484.02        439.87
17          PR     514.40        448.74
18          RJ     523.26        463.74
19          RN     502.10        451.71
20          RO     487.78        409.79
21          RR     497.46        399.14
22          RS     519.38        433.82
23          SC     522.92        466.05
24          SE     486.72        444.68
25          SP     525.65        444.73
26          TO     484.29        429.05

#### Absoluto|Proporção total por UF.

In [71]:
geral9_prop = df_enem.groupby(['SG_UF_PROVA', 'TP_SEXO']).size().unstack(fill_value=0)
tot = geral9_prop.sum(axis=1)
geral9_prop['QTD_FEM_%'] = ((geral9_prop['F'] / tot ) * 100).round(2)
geral9_prop['QTD_MASC_%'] = ((geral9_prop['M'] / tot) * 100).round(2)

geral9_prop.head(27)

TP_SEXO         F     M  QTD_FEM_%  QTD_MASC_%
SG_UF_PROVA
AC            137    90      60.35       39.65
AL            314   190      62.30       37.70
AM            388   284      57.74       42.26
AP            129    93      58.11       41.89
BA           1472   868      62.91       37.09
CE           1003   813      55.23       44.77
DF            335   212      61.24       38.76
ES            380   269      58.55       41.45
GO            541   427      55.89       44.11
MA            672   446      60.11       39.89
MG           1899  1330      58.81       41.19
MS            296   216      57.81       42.19
MT            346   239      59.15       40.85
PA            900   632      58.75       41.25
PB            455   333      57.74       42.26
PE            954   637      59.96       40.04
PI            408   247      62.29       37.71
PR            797   573      58.18       41.82
RJ           1263   833      60.26       39.74
RN            409   311      56.81       43.19
RO            193   138      58.31       41.69
RR             50    39      56.18       43.82
RS            915   681      57.33       42.67
SC            327   237      57.98       42.02
SE            253   164      60.67       39.33
SP           2900  1973      59.51       40.49
TO            155    94      62.25       37.75

#### Quantidade de inscritos por UF.

In [74]:
get_count(df_enem, uf_view, 'NU_INSCRICAO', 'QUANTIDADE_INSCRITOS')

                             QUANTIDADE_INSCRITOS
TP_REGIAO_PROVA SG_UF_PROVA
Centro-Oeste    GO                            968
                MS                            512
                MT                            585
DF              DF                            547
Nordeste        AL                            504
                BA                           2340
                CE                           1816
                MA                           1118
                PB                            788
                PE                           1591
                PI                            655
                RN                            720
                SE                            417
Norte           AC                            227
                AM                            672
                AP                            222
                PA                           1532
                RO                            331
                RR                             89
                TO                            249
Sudeste         ES                            649
                MG                           3229
                RJ                           2096
                SP                           4873
Sul             PR                           1370
                RS                           1596
                SC                            564

#### Abstenções UFs.

In [67]:
geral9_ABS = df_enem.groupby(['SG_UF_PROVA'])['ABS_ALL'].sum().reset_index()
geral9_ABS['ABS_ALL_%'] = ((geral9_ABS['ABS_ALL'] / geral9_ABS['ABS_ALL'].sum())*100).round(2)
geral9_ABS.head()

  SG_UF_PROVA  ABS_ALL  ABS_ALL_%
0          AC       74       0.81
1          AL      137       1.50
2          AM      268       2.94
3          AP       66       0.72
4          BA      731       8.02

##### Outros dados estatística por UF. max, min, média de cada prova.

In [75]:
# Não possui as MEDIA_OBJ E MEDIA_GLOBAL
build_statistics_metrics(lista_provas, df_enem, uf_view, list_metrics)

,TP_REGIAO_PROVA,SG_UF_PROVA,MIN_NOTA_CN,MIN_NOTA_CH,MIN_NOTA_LC,MIN_NOTA_MT,MIN_NOTA_REDACAO,AVG_NOTA_CN,AVG_NOTA_CH,AVG_NOTA_LC,AVG_NOTA_MT,AVG_NOTA_REDACAO,MED_NOTA_CN,MED_NOTA_CH,MED_NOTA_LC,MED_NOTA_MT,MED_NOTA_REDACAO,MAX_NOTA_CN,MAX_NOTA_CH,MAX_NOTA_LC,MAX_NOTA_MT,MAX_NOTA_REDACAO,STD_NOTA_CN,STD_NOTA_CH,STD_NOTA_LC,STD_NOTA_MT,STD_NOTA_REDACAO
0,Centro-Oeste,GO,289.1,284.0,328.0,0.0,0.0,487.047352,527.509172,515.132084,510.086656,461.603403,484.70,532.95,522.10,494.50,520.0,734.5,772.7,705.8,864.2,980.0,78.817536,87.267539,70.744549,112.360101,245.787073
1,Centro-Oeste,MS,286.6,281.3,315.8,300.0,0.0,466.337283,517.953541,499.954942,487.848071,426.683047,458.50,520.70,507.10,471.50,480.0,693.2,703.7,677.9,792.7,960.0,69.612615,81.325307,69.267159,104.391108,250.784838
2,Centro-Oeste,MT,283.2,262.6,307.7,286.9,0.0,471.701020,513.434568,496.426884,480.637403,424.145570,463.60,510.50,496.50,465.10,500.0,708.6,751.0,703.5,838.2,960.0,72.866100,85.064689,76.653005,102.079460,253.782085
3,DF,DF,304.9,0.0,0.0,0.0,0.0,495.361473,539.678947,523.180057,510.737609,467.115385,495.30,550.70,532.40,485.70,540.0,769.0,758.8,698.9,871.7,980.0,80.045944,97.577194,83.164082,123.968978,264.596936
4,Nordeste,AL,293.3,301.6,0.0,0.0,0.0,463.393447,509.946594,488.438781,488.804058,460.049020,449.80,515.00,497.60,475.10,500.0,714.2,760.2,670.6,832.2,960.0,73.801378,85.298017,77.537262,108.360627,248.048150
5,Nordeste,BA,0.0,0.0,0.0,0.0,0.0,468.260614,515.690960,498.096576,486.150748,440.990967,460.80,520.00,504.00,469.30,500.0,787.4,774.3,700.2,912.4,980.0,74.471505,86.837074,74.042836,102.798691,252.763121
6,Nordeste,CE,0.0,0.0,0.0,298.0,0.0,474.437698,514.714241,501.097391,501.699355,471.863224,464.40,516.10,503.30,478.90,520.0,762.7,767.9,725.5,872.3,980.0,78.507968,88.531615,74.089280,111.157305,254.623894
7,Nordeste,MA,0.0,0.0,292.3,277.2,0.0,459.943075,501.600000,482.848005,472.940921,442.303867,449.10,498.60,482.45,456.35,480.0,706.8,774.6,677.6,890.3,980.0,72.558306,86.984303,71.835369,100.326525,245.978769
8,Nordeste,PB,0.0,309.7,331.0,0.0,0.0,471.094200,515.869948,498.158669,494.689840,488.504000,458.20,512.90,502.20,470.60,520.0,785.4,832.4,692.9,945.7,960.0,76.826542,82.671726,70.850863,113.685915,227.830052
9,Nordeste,PE,294.9,0.0,308.3,301.8,0.0,470.976273,514.850312,500.189089,493.566298,455.343750,463.15,518.70,502.30,477.70,500.0,689.9,802.5,701.4,835.4,980.0,70.356589,86.878719,73.933670,101.713255,250.914198
10,Nordeste,PI,295.7,320.3,294.4,284.9,0.0,462.538085,505.828247,488.736534,481.496336,461.203358,450.50,511.80,488.50,457.40,500.0,736.3,750.6,685.9,890.6,980.0,72.314684,85.101885,73.998538,104.836894,247.277319
11,Nordeste,RN,281.7,348.7,296.9,298.1,0.0,481.871291,526.566168,502.704528,499.339300,473.196995,474.40,531.10,503.55,476.00,520.0,754.9,765.5,718.2,879.1,980.0,79.268279,84.979564,74.302784,110.240670,249.246868
12,Nordeste,SE,303.7,299.8,286.6,289.6,0.0,467.044079,508.750321,487.183442,485.704333,481.484150,454.95,508.85,491.55,467.15,520.0,742.3,790.3,666.4,846.6,960.0,76.377311,87.643796,77.292560,104.495950,245.846483
13,Norte,AC,314.9,334.8,328.3,302.4,0.0,446.687234,489.643333,478.802041,458.152899,442.113095,434.50,486.45,479.70,442.65,480.0,651.9,709.5,670.9,774.1,900.0,59.478973,69.617885,61.205242,84.932962,232.407664
14,Norte,AM,0.0,277.8,301.8,301.8,0.0,449.898454,498.859352,482.064935,459.683333,418.949580,445.45,495.00,483.90,439.80,480.0,682.7,787.0,712.6,799.2,980.0,72.856397,81.022597,69.068024,91.746652,252.097620
15,Norte,AP,294.0,0.0,315.6,316.9,0.0,458.956579,502.543871,483.437333,460.712245,446.111111,461.30,508.60,486.95,432.60,500.0,616.4,711.0,665.8,768.9,920.0,60.006814,99.304089,77.930138,91.213737,235.150626
16,Norte,PA,269.0,0.0,0.0,0.0,0.0,468.687172,511.526273,487.969294,474.305288,464.530864,459.95,511.25,491.50,461.50,500.0,682.8,745.0,686.6,857.3,960.0,67.187057,82.684117,72.578067,92.375301,238.281330
17,Norte,RO,300.8,327.4,292.0,308.4,0.0,471.994472,508.449038,490.609314,484.577949,399.979508,465.50,502.95,488.80,465.70,460.0,660.2,711.6,679.6,834.3,920.0,68.193357,83.456079,75.189946,103.591364,244.173881
18,Norte,RR,324.7,362.8,317.8,320.6,0.0,483.078846,519.456604,495.901923,494.017647,425.597015,477.85,530.50,505.10,479.00,500.0,673.5,709.5,687.5,741.4,940.0,84.589744,84.304021,77.748066,115.956883,262.983354
19,Norte,TO,339.1,343.0,303.7,332.7,0.0,463.878571,501.278857,492.382249,484.171605,446.913265,452.85,499.00,505.90,463.00,500.0,734.6,720.9,653.4,796.8,980.0,68.448952,76.048325,68.873070,93.668161,243.559686
20,Sudeste,ES,307.5,332.2,313.0,321.8,0.0,489.645721,539.914126,514.613470,521.151147,455.976562,485.85,540.30,520.55,503.80,520.0,787.7,734.8,692.4,897.3,980.0,73.730934,77.063933,71.327263,108.979600,248.926705
21,Sudeste,MG,0.0,0.0,297.2,0.0,0.0,497.379902,542.580335,523.175695,534.345752,474.457601,491.70,547.25,527.60,521.70,520.0,798.2,809.9,745.9,956.0,1000.0,81.895558,85.875434,71.896421,115.322292,261.882591
22,Sudeste,RJ,0.0,0.0,276.9,0.0,0.0,493.816222,546.699600,527.444490,528.864261,489.206210,488.30,555.30,533.00,515.40,540.0,780.6,816.5,743.3,925.8,980.0,80.133223,87.657445,70.814284,117.533591,258.652155
23,Sudeste,SP,0.0,0.0,0.0,0.0,0.0,497.549953,542.582970,529.815529,535.395619,459.375323,489.90,546.70,534.40,525.30,525.0,817.1,787.3,754.7,949.1,980.0,79.263612,84.592348,70.348393,115.981550,261.182883
24,Sul,PR,279.7,0.0,0.0,286.0,0.0,491.064331,537.498023,516.147564,516.654811,457.018182,485.50,544.30,523.00,500.70,520.0,745.0,819.2,686.1,927.4,980.0,76.813093,83.128720,75.186004,111.528715,247.214269
25,Sul,RS,274.4,264.2,0.0,0.0,0.0,493.370018,538.474031,522.091228,525.514556,441.341926,486.70,546.30,529.20,516.70,520.0,763.4,789.5,746.4,968.5,980.0,76.151317,84.216132,72.889622,115.256510,263.852304
26,Sul,SC,295.2,297.4,332.7,295.5,0.0,497.316533,542.586632,523.004462,532.725068,485.858124,494.90,549.60,528.10,522.20,540.0,731.3,738.4,709.5,862.4,960.0,79.186857,81.140720,66.305143,112.547182,244.400846

#### 10) Municípios.

#### Quantidade de inscritos por municípios:

In [76]:
get_count(df_enem, municipality_view, 'NU_INSCRICAO', 'QUANTIDADE_INSCRITOS')

                                                                      QUANTIDADE_INSCRITOS
TP_REGIAO_PROVA SG_UF_PROVA CO_MUNICIPIO_PROVA NO_MUNICIPIO_PROVA
Centro-Oeste    GO          5200258            AGUAS LINDAS DE GOIAS                    18
                            5200308            ALEXANIA                                  6
                            5201108            ANAPOLIS                                 80
                            5201405            APARECIDA DE GOIANIA                     54
                            5201702            ARAGARCAS                                 6
...                                                                                    ...
Sul             SC          4218202            TIMBO                                     8
                            4218707            TUBARAO                                  12
                            4219309            VIDEIRA                                   2
                            4219507            XANXERE                                  16
                            4219705            XAXIM                                     6

[1732 rows x 1 columns]

#### Média dos municípios por ano.

In [77]:
geral10_ano = df_enem.groupby(['NU_ANO', 'CO_MUNICIPIO_PROVA'])[['MEDIA_OBJ', 'MEDIA_GLOBAL']].mean().reset_index().round(2)
geral10_ano.head()

   NU_ANO  CO_MUNICIPIO_PROVA  MEDIA_OBJ  MEDIA_GLOBAL
0    2010             1100023        NaN          0.00
1    2010             1100049     522.10        535.18
2    2010             1100056        NaN          0.00
3    2010             1100106     542.09        566.17
4    2010             1100114        NaN          0.00

#### Alternei os indices pra facilitar.

In [78]:
geral10_ano = geral10_ano.pivot(index='CO_MUNICIPIO_PROVA', columns='NU_ANO')
geral10_ano = geral10_ano.reorder_levels([1 , 0], axis=1).sort_index(axis=1, level=0)
geral10_ano.head()

NU_ANO                     2010                   2011                   2012  \
                   MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL
CO_MUNICIPIO_PROVA
1100015                     NaN       NaN          NaN       NaN          NaN
1100023                    0.00       NaN       488.79    473.49       425.86
1100049                  535.18     522.1       525.41    520.09       461.13
1100056                    0.00       NaN         0.00       NaN          NaN
1100064                     NaN       NaN          NaN       NaN          NaN

NU_ANO                               2013                   2014            \
                   MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ
CO_MUNICIPIO_PROVA
1100015                  NaN          NaN       NaN          NaN       NaN
1100023               427.32       374.33    486.14       427.47    434.34
1100049               478.08       210.39    410.98         0.00       NaN
1100056                  NaN          NaN       NaN          NaN       NaN
1100064                  NaN          NaN       NaN          NaN       NaN

NU_ANO                     2015                   2016                   2017  \
                   MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL
CO_MUNICIPIO_PROVA
1100015                     NaN       NaN          NaN       NaN          NaN
1100023                  231.88    459.70          NaN       NaN       603.76
1100049                  181.65    460.16       526.47    519.76       569.55
1100056                     NaN       NaN          NaN       NaN          NaN
1100064                     NaN       NaN          NaN       NaN          NaN

NU_ANO                               2018                   2019            \
                   MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ
CO_MUNICIPIO_PROVA
1100015                  NaN          NaN       NaN          NaN       NaN
1100023               589.70       577.42    581.78       476.01    469.59
1100049               551.94       625.00    686.25       627.32    574.15
1100056                  NaN          NaN       NaN       604.48    545.60
1100064                  NaN       661.70    647.12          NaN       NaN

NU_ANO                     2020                   2021                   2022  \
                   MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL
CO_MUNICIPIO_PROVA
1100015                     NaN       NaN          NaN       NaN          NaN
1100023                     NaN       NaN       533.07    516.34       559.64
1100049                     NaN       NaN       388.93    433.40       513.51
1100056                     NaN       NaN          NaN       NaN          NaN
1100064                  484.32     465.4          NaN       NaN          NaN

NU_ANO
                   MEDIA_OBJ
CO_MUNICIPIO_PROVA
1100015                  NaN
1100023               549.55
1100049               504.39
1100056                  NaN
1100064                  NaN

In [79]:
geral10_media1 = df_enem[['CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA']]
map_dict = geral10_media1.set_index('CO_MUNICIPIO_PROVA')['NO_MUNICIPIO_PROVA'].to_dict()
geral10_ano['NO_MUNICIPIO_PROVA'] = geral10_ano.index.map(map_dict)
geral10_ano.insert(0, 'NO_MUNICIPIO_PROVA', geral10_ano.pop('NO_MUNICIPIO_PROVA'))
geral10_ano.head()

NU_ANO                NO_MUNICIPIO_PROVA         2010                   2011  \
                                         MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL
CO_MUNICIPIO_PROVA
1100015             ALTA FLORESTA DOESTE          NaN       NaN          NaN
1100023                        ARIQUEMES         0.00       NaN       488.79
1100049                           CACOAL       535.18     522.1       525.41
1100056                       CEREJEIRAS         0.00       NaN         0.00
1100064                COLORADO DO OESTE          NaN       NaN          NaN

NU_ANO                               2012                   2013            \
                   MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ
CO_MUNICIPIO_PROVA
1100015                  NaN          NaN       NaN          NaN       NaN
1100023               473.49       425.86    427.32       374.33    486.14
1100049               520.09       461.13    478.08       210.39    410.98
1100056                  NaN          NaN       NaN          NaN       NaN
1100064                  NaN          NaN       NaN          NaN       NaN

NU_ANO                     2014                   2015                   2016  \
                   MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL
CO_MUNICIPIO_PROVA
1100015                     NaN       NaN          NaN       NaN          NaN
1100023                  427.47    434.34       231.88    459.70          NaN
1100049                    0.00       NaN       181.65    460.16       526.47
1100056                     NaN       NaN          NaN       NaN          NaN
1100064                     NaN       NaN          NaN       NaN          NaN

NU_ANO                               2017                   2018            \
                   MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ
CO_MUNICIPIO_PROVA
1100015                  NaN          NaN       NaN          NaN       NaN
1100023                  NaN       603.76    589.70       577.42    581.78
1100049               519.76       569.55    551.94       625.00    686.25
1100056                  NaN          NaN       NaN          NaN       NaN
1100064                  NaN          NaN       NaN       661.70    647.12

NU_ANO                     2019                   2020                   2021  \
                   MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL
CO_MUNICIPIO_PROVA
1100015                     NaN       NaN          NaN       NaN          NaN
1100023                  476.01    469.59          NaN       NaN       533.07
1100049                  627.32    574.15          NaN       NaN       388.93
1100056                  604.48    545.60          NaN       NaN          NaN
1100064                     NaN       NaN       484.32     465.4          NaN

NU_ANO                               2022
                   MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ
CO_MUNICIPIO_PROVA
1100015                  NaN          NaN       NaN
1100023               516.34       559.64    549.55
1100049               433.40       513.51    504.39
1100056                  NaN          NaN       NaN
1100064                  NaN          NaN       NaN

#### Média por município.

In [80]:
geral10_media = df_enem.groupby('CO_MUNICIPIO_PROVA')[['MEDIA_OBJ', 'MEDIA_GLOBAL']].mean().reset_index().round(2)
geral10_media.head()

   CO_MUNICIPIO_PROVA  MEDIA_OBJ  MEDIA_GLOBAL
0             1100015        NaN           NaN
1             1100023     490.59        417.64
2             1100049     511.23        413.30
3             1100056     545.60        201.49
4             1100064     556.26        573.01

In [81]:
geral10_media1 = df_enem[['CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA']]
map_dict = geral10_media1.set_index('CO_MUNICIPIO_PROVA')['NO_MUNICIPIO_PROVA'].to_dict()
geral10_media['NO_MUNICIPIO_PROVA'] = geral10_media['CO_MUNICIPIO_PROVA'].map(map_dict)

(1718, 4)

In [82]:
geral10_media = geral10_media[['CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'MEDIA_OBJ', 'MEDIA_GLOBAL']]
geral10_media.head()

   CO_MUNICIPIO_PROVA    NO_MUNICIPIO_PROVA  MEDIA_OBJ  MEDIA_GLOBAL
0             1100015  ALTA FLORESTA DOESTE        NaN           NaN
1             1100023             ARIQUEMES     490.59        417.64
2             1100049                CACOAL     511.23        413.30
3             1100056            CEREJEIRAS     545.60        201.49
4             1100064     COLORADO DO OESTE     556.26        573.01

#### Absoluto|Proporção total por município.

In [83]:
geral10_prop = df_enem.groupby(['CO_MUNICIPIO_PROVA', 'TP_SEXO']).size().unstack(fill_value=0)
tot = geral10_prop.sum(axis=1)
geral10_prop['QTD_FEM_%'] = ((geral10_prop['F'] / tot ) * 100).round(2)
geral10_prop['QTD_MASC_%'] = ((geral10_prop['M'] / tot) * 100).round(2)
geral10_prop = geral10_prop.rename(columns={'M': 'QTD_MASC', 'F': 'QTD_FEM'})
geral10_prop.head()

TP_SEXO             QTD_FEM  QTD_MASC  QTD_FEM_%  QTD_MASC_%
CO_MUNICIPIO_PROVA
1100015                   0         2       0.00      100.00
1100023                  14        12      53.85       46.15
1100049                  23         9      71.88       28.12
1100056                   2         1      66.67       33.33
1100064                   1         1      50.00       50.00

In [84]:
geral10_media1 = df_enem[['CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA']]
map_dict = geral10_media1.set_index('CO_MUNICIPIO_PROVA')['NO_MUNICIPIO_PROVA'].to_dict()
geral10_prop['NO_MUNICIPIO_PROVA'] = geral10_prop.index.map(map_dict)
geral10_prop.head()

TP_SEXO,QTD_FEM,QTD_MASC,QTD_FEM_%,QTD_MASC_%,NO_MUNICIPIO_PROVA
CO_MUNICIPIO_PROVA,,,,,
1100015,0,2,0.00,100.00,ALTA FLORESTA DOESTE
1100023,14,12,53.85,46.15,ARIQUEMES
1100049,23,9,71.88,28.12,CACOAL
1100056,2,1,66.67,33.33,CEREJEIRAS
1100064,1,1,50.00,50.00,COLORADO DO OESTE

In [85]:
geral10_prop = geral10_prop[['NO_MUNICIPIO_PROVA', 'QTD_FEM', 'QTD_MASC', 'QTD_FEM_%' , 'QTD_MASC_%']]
geral10_prop.head()

TP_SEXO,NO_MUNICIPIO_PROVA,QTD_FEM,QTD_MASC,QTD_FEM_%,QTD_MASC_%
CO_MUNICIPIO_PROVA,,,,,
1100015,ALTA FLORESTA DOESTE,0,2,0.00,100.00
1100023,ARIQUEMES,14,12,53.85,46.15
1100049,CACOAL,23,9,71.88,28.12
1100056,CEREJEIRAS,2,1,66.67,33.33
1100064,COLORADO DO OESTE,1,1,50.00,50.00

In [86]:
# Não possui as MEDIA_OBJ E MEDIA_GLOBAL
build_statistics_metrics(lista_provas, df_enem, municipality_view, list_metrics)

,TP_REGIAO_PROVA,SG_UF_PROVA,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,MIN_NOTA_CN,MIN_NOTA_CH,MIN_NOTA_LC,MIN_NOTA_MT,MIN_NOTA_REDACAO,AVG_NOTA_CN,AVG_NOTA_CH,AVG_NOTA_LC,AVG_NOTA_MT,AVG_NOTA_REDACAO,MED_NOTA_CN,MED_NOTA_CH,MED_NOTA_LC,MED_NOTA_MT,MED_NOTA_REDACAO,MAX_NOTA_CN,MAX_NOTA_CH,MAX_NOTA_LC,MAX_NOTA_MT,MAX_NOTA_REDACAO,STD_NOTA_CN,STD_NOTA_CH,STD_NOTA_LC,STD_NOTA_MT,STD_NOTA_REDACAO
0,Centro-Oeste,GO,5200258,AGUAS LINDAS DE GOIAS,373.2,355.4,350.8,365.8,0.0,472.984615,507.457143,491.607692,511.258333,473.333333,493.80,526.30,484.70,517.35,500.0,574.6,645.0,600.3,684.9,900.0,65.154826,96.080237,79.386979,111.569754,248.385261
1,Centro-Oeste,GO,5200308,ALEXANIA,469.9,389.6,382.9,359.5,0.0,492.060000,478.580000,469.180000,442.220000,403.333333,488.10,449.10,460.20,403.90,480.0,516.3,577.0,566.5,631.3,560.0,20.499463,84.329455,83.348647,107.942077,213.697606
2,Centro-Oeste,GO,5201108,ANAPOLIS,346.4,336.9,375.0,316.2,0.0,496.331579,527.284746,514.384483,514.587500,445.820896,488.60,527.20,519.25,521.90,480.0,721.1,719.2,656.3,813.0,900.0,85.752249,89.469216,72.519231,116.466865,260.874980
3,Centro-Oeste,GO,5201405,APARECIDA DE GOIANIA,384.8,377.9,357.6,342.9,0.0,497.005263,533.964103,506.015385,506.821053,443.690476,483.80,543.50,510.90,498.55,455.0,674.1,658.0,641.9,714.8,800.0,77.731812,76.069080,69.573938,95.483934,194.676278
4,Centro-Oeste,GO,5201702,ARAGARCAS,413.8,447.4,398.7,364.1,0.0,443.050000,504.350000,458.200000,433.950000,384.000000,431.05,501.95,455.80,436.65,500.0,496.3,566.1,522.5,498.4,540.0,38.902656,53.740146,57.848192,55.089775,226.008849
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1727,Sul,SC,4218202,TIMBO,427.2,393.9,436.0,560.7,620.0,518.725000,541.075000,539.800000,610.200000,750.000000,511.80,575.55,555.55,589.70,730.0,624.1,619.3,612.1,700.7,920.0,84.702435,100.403332,75.014443,65.324778,137.113092
1728,Sul,SC,4218707,TUBARAO,433.9,506.7,463.0,451.0,0.0,582.500000,603.657143,571.171429,626.683333,566.666667,608.10,587.20,578.80,624.00,720.0,731.3,736.4,632.5,807.2,900.0,123.616698,90.879020,60.775700,125.439634,344.673759
1729,Sul,SC,4219309,VIDEIRA,441.7,415.8,439.4,418.0,460.0,471.750000,463.300000,496.250000,456.950000,550.000000,471.75,463.30,496.25,456.95,550.0,501.8,510.8,553.1,495.9,640.0,42.497118,67.175144,80.398041,55.083618,127.279221
1730,Sul,SC,4219507,XANXERE,336.3,356.8,383.8,351.7,0.0,447.730769,475.535714,481.635714,453.284615,515.666667,462.70,477.85,484.00,451.10,560.0,548.4,598.5,586.1,607.1,960.0,61.447028,83.288476,61.520598,75.810837,196.349421
1731,Sul,SC,4219705,XAXIM,374.9,481.7,435.7,414.9,360.0,454.900000,551.200000,523.420000,484.340000,500.000000,452.20,547.40,520.10,489.70,460.0,512.9,628.1,599.1,542.9,700.0,53.224384,51.923020,58.840734,51.999163,128.840987

#### 11) Tamanho da casa.

#### Absoluto|Proporção - Tamanho casa.

In [87]:
geral11 = df_enem['FAMILIA'].value_counts().sort_index()
geral11 = pd.DataFrame({'FAMILIA': geral11.index, 'CONTAGEM': geral11.values})
geral11['PROPORCAO'] = ((geral11['CONTAGEM'] / geral11['CONTAGEM'].sum())*100).round(2)
geral11.head(20)

    FAMILIA  CONTAGEM  PROPORCAO
0       1.0       781       2.82
1       2.0      3554      12.83
2       3.0      6884      24.84
3       4.0      8516      30.73
4       5.0      4676      16.87
5       6.0      1852       6.68
6       7.0       773       2.79
7       8.0       362       1.31
8       9.0       125       0.45
9      10.0        88       0.32
10     11.0        42       0.15
11     12.0        22       0.08
12     13.0        13       0.05
13     14.0         4       0.01
14     15.0         5       0.02
15     16.0         2       0.01
16     17.0         2       0.01
17     18.0         2       0.01
18     20.0         7       0.03

#### Média por ano do tamanho da Família|Casa.

In [88]:
geral11_ano = df_enem.groupby(['NU_ANO', 'FAMILIA'])[['MEDIA_OBJ', 'MEDIA_GLOBAL']].mean().reset_index().round(2)
geral11_ano.head()

   NU_ANO  FAMILIA  MEDIA_OBJ  MEDIA_GLOBAL
0    2011      1.0     485.27        300.87
1    2011      2.0     494.47        346.40
2    2011      3.0     499.15        367.39
3    2011      4.0     500.34        381.87
4    2011      5.0     491.40        350.70

In [89]:
geral11_ano = geral11_ano.pivot(index='NU_ANO', columns='FAMILIA')
geral11_ano = geral11_ano.reorder_levels([1 , 0], axis=1).sort_index(axis=1, level=0)
geral11_ano.head()

FAMILIA         1.0                    2.0                    3.0             \
        MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ
NU_ANO
2011          300.87    485.27       346.40    494.47       367.39    499.15
2012          504.49    502.11       501.78    502.28       497.21    497.03
2013          324.25    505.54       300.79    511.05       356.45    496.89
2014          281.99    515.53       319.93    506.91       345.38    500.72
2015          354.22    515.75       301.91    508.73       371.35    493.67

FAMILIA         4.0                    5.0                    6.0             \
        MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ
NU_ANO
2011          381.87    500.34       350.70    491.40       358.65    479.44
2012          504.09    502.46       487.62    487.74       491.27    487.73
2013          397.84    503.20       368.26    491.35       362.96    475.45
2014          372.24    506.33       364.28    494.32       361.02    499.17
2015          400.51    507.98       373.25    502.18       376.03    500.59

FAMILIA         7.0                    8.0                    9.0             \
        MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ
NU_ANO
2011          363.65    476.57       347.59    447.80       310.25    456.82
2012          469.12    469.74       436.32    441.09       490.28    483.68
2013          336.30    468.85       359.34    455.82       239.20    465.28
2014          304.83    450.07       350.02    473.04       264.06    462.35
2015          347.71    494.47       356.60    507.38       363.57    451.83

FAMILIA         10.0                   11.0                   12.0            \
        MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ
NU_ANO
2011          347.68    479.48       443.27    459.92       329.28    400.76
2012          453.25    453.71          NaN       NaN       406.77    414.40
2013          435.04    480.78       226.95    467.38         0.00       NaN
2014          177.24    436.39         0.00       NaN         0.00       NaN
2015          176.52    465.06       133.63    411.12       502.34    502.92

FAMILIA         13.0                   14.0                   15.0            \
        MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ
NU_ANO
2011            0.00       NaN          NaN       NaN       232.47    441.18
2012             NaN       NaN          NaN       NaN       406.80    406.80
2013          466.73    478.41        222.7    441.75          NaN       NaN
2014             NaN       NaN          0.0       NaN          NaN       NaN
2015          494.06    497.58          NaN       NaN          NaN       NaN

FAMILIA         16.0                   17.0                   18.0            \
        MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ MEDIA_GLOBAL MEDIA_OBJ
NU_ANO
2011             NaN       NaN          NaN       NaN        377.6     417.0
2012             NaN       NaN       463.78    494.72          NaN       NaN
2013             NaN       NaN          NaN       NaN          NaN       NaN
2014             NaN       NaN          NaN       NaN          NaN       NaN
2015             NaN       NaN          NaN       NaN          NaN       NaN

FAMILIA         20.0
        MEDIA_GLOBAL MEDIA_OBJ
NU_ANO
2011            0.00       NaN
2012             NaN       NaN
2013          462.48    483.10
2014          498.98    508.72
2015             NaN       NaN

#### Média por tamanho da família geral.

In [90]:
geral11_media = df_enem.groupby('FAMILIA')[['MEDIA_OBJ', 'MEDIA_GLOBAL']].mean().reset_index().round(2)
geral11_media.head(21)

    FAMILIA  MEDIA_OBJ  MEDIA_GLOBAL
0       1.0     514.17        426.04
1       2.0     510.48        429.26
2       3.0     507.53        453.37
3       4.0     511.86        465.65
4       5.0     498.88        442.05
5       6.0     491.38        434.49
6       7.0     483.83        419.48
7       8.0     476.41        416.67
8       9.0     480.76        385.03
9      10.0     468.73        392.24
10     11.0     471.10        351.54
11     12.0     442.26        325.25
12     13.0     452.35        415.16
13     14.0     441.75        148.47
14     15.0     452.87        348.06
15     16.0     488.36        424.90
16     17.0     494.72        463.78
17     18.0     417.00        377.60
18     20.0     509.74        374.72

#### 12) Faixa etária

#### Absoluto|Proporção por faixa etária.

In [92]:
geral12_prop = df_enem['TP_FAIXA_ETARIA'].value_counts().sort_index()

geral12_prop = pd.DataFrame({'TP_FAIXA_ETARIA': geral12_prop.index, 'QTD_FAIXA': geral12_prop.values})
geral12_prop['QTD_FAIXA_%'] = ((geral12_prop['QTD_FAIXA'] / geral12_prop['QTD_FAIXA'].sum())*100).round(2)
geral12_prop['TP_FAIXA_ETARIA'] = geral12_prop['TP_FAIXA_ETARIA'].map({1: 'Menor de 17 anos', 
2: '17 anos', 3: '18 anos', 4: '19 anos', 5: '20 anos', 6: '21 anos', 7: '22 anos', 
8: '23 anos', 9: '24 anos', 10: '25 anos', 11: 'Entre 26 e 30 anos', 12: 'Entre 31 e 35 anos',
13: 'Entre 36 e 40 anos', 14: 'Entre 41 e 45 anos', 15: 'Entre 46 e 50 anos', 16: 'Entre 51 e 55 anos', 17: 'Entre 56 e 60 anos',
18: 'Entre 61 e 65 anos', 19: 'Entre 66 e 70 anos', 20: 'Maior de 70 anos' })
geral12_prop.head(21)

       TP_FAIXA_ETARIA  QTD_FAIXA  QTD_FAIXA_%
0     Menor de 17 anos       1071         3.54
1              17 anos       4283        14.15
2              18 anos       4941        16.33
3              19 anos       3339        11.03
4              20 anos       2471         8.17
5              21 anos       1839         6.08
6              22 anos       1513         5.00
7              23 anos       1193         3.94
8              24 anos       1109         3.66
9              25 anos        889         2.94
10  Entre 26 e 30 anos       3171        10.48
11  Entre 31 e 35 anos       1851         6.12
12  Entre 36 e 40 anos       1084         3.58
13  Entre 41 e 45 anos        724         2.39
14  Entre 46 e 50 anos        452         1.49
15  Entre 51 e 55 anos        193         0.64
16  Entre 56 e 60 anos        101         0.33
17  Entre 61 e 65 anos         26         0.09
18  Entre 66 e 70 anos          5         0.02
19    Maior de 70 anos          5         0.02

#### Média por faixa etária.

In [94]:
geral12_media = df_enem.groupby('TP_FAIXA_ETARIA')[['MEDIA_OBJ', 'MEDIA_GLOBAL']].mean().reset_index().round(2)
geral12_media['TP_FAIXA_ETARIA'] = geral12_media['TP_FAIXA_ETARIA'].map({1: 'Menor de 17 anos', 
2: '17 anos', 3: '18 anos', 4: '19 anos', 5: '20 anos', 6: '21 anos', 7: '22 anos', 
8: '23 anos', 9: '24 anos', 10: '25 anos', 11: 'Entre 26 e 30 anos', 12: 'Entre 31 e 35 anos',
13: 'Entre 36 e 40 anos', 14: 'Entre 41 e 45 anos', 15: 'Entre 46 e 50 anos', 16: 'Entre 51 e 55 anos', 17: 'Entre 56 e 60 anos',
18: 'Entre 61 e 65 anos', 19: 'Entre 66 e 70 anos', 20: 'Maior de 70 anos' })
geral12_media.head(21)

       TP_FAIXA_ETARIA  MEDIA_OBJ  MEDIA_GLOBAL
0     Menor de 17 anos     509.42        466.04
1              17 anos     516.08        503.21
2              18 anos     512.21        487.52
3              19 anos     507.74        464.74
4              20 anos     505.02        446.15
5              21 anos     500.47        420.24
6              22 anos     502.22        411.76
7              23 anos     499.18        401.81
8              24 anos     503.49        394.92
9              25 anos     502.11        389.33
10  Entre 26 e 30 anos     499.06        382.17
11  Entre 31 e 35 anos     497.12        383.30
12  Entre 36 e 40 anos     495.16        372.14
13  Entre 41 e 45 anos     482.78        361.94
14  Entre 46 e 50 anos     487.90        381.36
15  Entre 51 e 55 anos     475.01        351.51
16  Entre 56 e 60 anos     477.62        360.43
17  Entre 61 e 65 anos     469.21        404.38
18  Entre 66 e 70 anos     574.91        531.93
19    Maior de 70 anos     510.00        398.80

#### Abstenção por faixa etária.

In [93]:
geral12_ABS = df_enem.groupby(['TP_FAIXA_ETARIA'])['ABS_ALL'].sum().reset_index()
geral12_ABS['ABS_ALL_%'] = ((geral12_ABS['ABS_ALL'] / geral12_ABS['ABS_ALL'].sum())*100).round(2)
geral12_ABS['TP_FAIXA_ETARIA'] = geral12_ABS['TP_FAIXA_ETARIA'].map({1: 'Menor de 17 anos', 
2: '17 anos', 3: '18 anos', 4: '19 anos', 5: '20 anos', 6: '21 anos', 7: '22 anos', 
8: '23 anos', 9: '24 anos', 10: '25 anos', 11: 'Entre 26 e 30 anos', 12: 'Entre 31 e 35 anos',
13: 'Entre 36 e 40 anos', 14: 'Entre 41 e 45 anos', 15: 'Entre 46 e 50 anos', 16: 'Entre 51 e 55 anos', 17: 'Entre 56 e 60 anos',
18: 'Entre 61 e 65 anos', 19: 'Entre 66 e 70 anos', 20: 'Maior de 70 anos' })
geral12_ABS.head(13)

       TP_FAIXA_ETARIA  ABS_ALL  ABS_ALL_%
0     Menor de 17 anos      124       1.36
1              17 anos      525       5.76
2              18 anos      928      10.18
3              19 anos      862       9.45
4              20 anos      762       8.36
5              21 anos      646       7.08
6              22 anos      572       6.27
7              23 anos      483       5.30
8              24 anos      453       4.97
9              25 anos      397       4.35
10  Entre 26 e 30 anos     1393      15.28
11  Entre 31 e 35 anos      825       9.05
12  Entre 36 e 40 anos      486       5.33

#### 12) Média do total geral dos dados.

In [91]:
geral12_media = df_enem[['MEDIA_OBJ', 'MEDIA_GLOBAL']].mean().reset_index().round(2)
geral12_media.head()

          index       0
0     MEDIA_OBJ  506.14
1  MEDIA_GLOBAL  442.22