In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
import geobr
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 250);pd.set_option('display.max_rows', 250)
import os

#### Notebook

In [3]:
os.chdir('C:\\Users\\Bruno\\OneDrive\\Área de Trabalho\\Microdados\\Datas')

#### Casa

In [3]:
os.chdir('D:\Trabalho\Microdados\ENEM')

In [3]:
pwd

'D:\\Trabalho\\Microdados\\ENEM'

#### Repositório Casa

In [4]:
df_enem = pd.read_excel('D:\Repositório GIT\Projetos\Analise-de-Dados-ENEM\Datasets\Teste\enem.xlsx')

#### Repositório Notebook

In [3]:
df_enem = pd.read_excel('C:\\Users\\Bruno\\PYTHON\\PROJETOS\\Analise-de-Dados-ENEM\\Datasets\\Teste\\enem.xlsx')

#### Dados de 2010 até 2022 - testar

In [5]:
df_enem = pd.read_excel('D:\Repositório GIT\Projetos\Analise-de-Dados-ENEM\Datasets\Teste\enem2.xlsx')

In [4]:
df_enem = pd.read_excel('C:\\Users\\Bruno\\PYTHON\\PROJETOS\\Analise-de-Dados-ENEM\\Datasets\\Teste\\enem2.xlsx')

In [6]:
df_enem.shape

(13000, 189)

In [6]:
df_enem.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ST_CONCLUSAO,TP_ENSINO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,IN_CERTIFICADO,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q01,Q02,Q03,Q04,Q05,Q06,Q07,Q08,Q09,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,Q28,Q29,Q30,Q31,Q32,Q33,Q34,Q35,Q36,Q37,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53,Q54,Q55,Q56,Q57,TP_ANO_CONCLUIU,TP_ESCOLA,NO_ENTIDADE_CERTIFICACAO,CO_UF_ENTIDADE_CERTIFICACAO,SG_UF_ENTIDADE_CERTIFICACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,Q010,Q011,Q012,Q013,Q014,Q015,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,Q026,Q027,Q028,Q029,Q030,Q031,Q032,Q033,Q034,Q035,Q036,Q037,Q038,Q039,Q040,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050,Q051,Q052,Q053,Q054,Q055,Q056,Q057,Q058,Q059,Q060,Q061,Q062,Q063,Q064,Q065,Q066,Q067,Q068,Q069,Q070,Q071,Q072,Q073,Q074,Q075,TP_NACIONALIDADE,ANO_CONCLUIU,Q076,IN_TREINEIRO
0,200000000001,2010,9,M,0.0,0,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3143302,MONTES CLAROS,31,MG,1,1,1,1,91.0,87.0,94.0,98.0,675.0,787.7,698.0,697.0,BEBEDACDBABADADCBABBADDEDEBBCDBCBDADADEEDCDCE,AABBDACBDADECCBEAACDCDBBCCEDECBBDBDAABEEDDCED,DADDCCECEEACDECDBDABCCEEBEAADACDBCEDDBDBBAAAD,CEEBDBACBABBEBAACDDCBCBDEDDCACEDBDBBDBBCDEBDD,0.0,CABEAACDCEBADADCEBBBADDEAEEBDDCCBDBDAEEADCDCE,AABBDACBCABECCBEBACACDBBCCEDECEBDEDAABEEDDCED,DAEDCDDEADCECEEACDECDBDABCCBEBEDABACDBCEDDADDB...,CEEBDCACBABAEBBAEDCDCDAECBDBDECBBDBBCBDEDEBDE,P,875.0,625.0,625.0,500.0,625.0,650.0,A,C,C,A,A,A,A,A,5.0,0.0,3.0,2.0,3.0,B,B,A,A,B,B,B,B,C,B,4.0,5.0,0.0,0.0,B,A,A,B,A,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,200000000002,2010,7,F,0.0,4,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1721000,PALMAS,17,TO,1,1,1,1,90.0,86.0,94.0,98.0,504.2,548.2,431.4,415.9,CAEEBBCDAEBDEDBCDCEABBAADDAADDDBACDEABDABCADB,BCDBBDEBEBBEEDCBCADDEBCAECBEADDAEBCAADBAAECDE,EEECBBEEB*ECABEDAEACCCCCCCACDBCDDABABCEEBEECB,CBAECBABCCEADDDDDDDDDDDDDBCDCCEBABCDEDCBABCDE,1.0,ACAEBCCEADADDBACBEBABDEEADEDDBCBCDDBAEEACDDEC,BAABADCBACBECACEBBCCBDCACDCEBDEDBEEEADBEAECDD,DAEDCDDEADCECEEACDECDBDABCCBEBEDABACDBCEDDADDB...,CEEBDCACBABAEBBAEDCDCDAECBDBDECBBDBBCBDEDEBDE,P,500.0,375.0,375.0,250.0,250.0,350.0,E,I,D,A,A,B,B,A,5.0,0.0,5.0,5.0,5.0,B,B,B,B,B,B,B,B,D,A,5.0,5.0,0.0,5.0,B,A,A,B,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,200000000003,2010,12,M,1.0,3,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1302603,MANAUS,13,AM,1,1,1,1,90.0,86.0,96.0,100.0,517.4,562.0,563.6,463.1,CBAEBACEDBABDDAEECEBEECDCBBBCCBBCCDCECDECDDCB,BACBCDDBACDEEEECADEECDCDCEEECBDDDAEBACBAAECDA,EAADCAEAECAAACCDBDACCCCCBCABAACDECDEBEEDEBAAA,CEAADDDBCAEDCBAADBDDCCBCCCBBACCCAEDCCBCACBBBD,0.0,ACAEBCCEADADDBACBEBABDEEADEDDBCBCDDBAEEACDDEC,BAABADCBACBECACEBBCCBDCACDCEBDEDBEEEADBEAECDD,EDADCDDEDACECECEADEDDBBACCCBEBEBDAACDBCDEDDADA...,CEEBADABCCBDEBBABDCCADAECEDDEBCBBDBBCDBEBEDDE,P,500.0,500.0,500.0,375.0,375.0,450.0,A,C,C,B,B,C,B,A,3.0,5.0,3.0,5.0,5.0,B,A,B,A,B,A,B,B,D,D,3.0,5.0,0.0,5.0,A,A,A,B,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,200000000004,2010,12,M,2.0,3,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3543907,RIO CLARO,35,SP,1,1,1,1,92.0,88.0,93.0,97.0,516.7,622.9,550.3,618.3,BAEEEBCBCADABDEDDBEDDDDDDDEDDDDCDDEDDEDDECDCD,EABBBADDAADAACDBAAECBDECCBECDEDCABDBACEAEBCDD,ADCEBEEEDAAAACCDBCABCCADBEAEDBCDBCEEDDCCBADEB,CDDEDDABEAADECBBEBCCDBBCDCCDDDCDDEBBDDBBBBDDD,1.0,ABAECECCDADADABCABBBEDEEAEDBDCCBDDEEADBAECDCD,AABBBCCBDAEACBCEABCCBDACCBECDEEBDEDBAAEEEDCDD,ADECDDDEADCEECAECDECDBDABCCEBBEADBACDBCEDDDADB...,CEEBCDABCABAEBBAEDCCDDAECBDDBECBBDBBCDBEBEDDE,D,NaN,NaN,NaN,NaN,NaN,0.0,E,C,C,H,H,C,B,A,3.0,5.0,5.0,5.0,5.0,B,B,B,B,A,B,B,B,A,D,0.0,5.0,0.0,5.0,B,A,A,B,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200000000005,2010,8,F,0.0,1,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3550308,SAO PAULO,35,SP,0,0,0,0,89.0,85.0,93.0,97.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,BACEADCAECABDDACBABEBDEDAEECDBCDBDEEABDACEDDC,ABABDACBAEBCCCBEABCCADBBCCDECEEDBEDBAEAEDECDD,ADECDDDEADCEECAECDECDBDABCCEBBEADBACDBCEDDDADB...,CEEBCDABCABAEBBAEDCCDDAECBDDBECBBDBBCDBEBEDDE,F,NaN,NaN,NaN,NaN,NaN,0.0,B,C,A,C,B,A,B,A,5.0,0.0,5.0,5.0,5.0,A,B,A,A,B,A,A,A,D,C,5.0,5.0,5.0,5.0,A,A,A,B,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
def create_columns_region(uf):
    norte        = ['AM', 'RR', 'AP', 'PA', 'TO', 'RO', 'AC']
    nordeste     = ['MA', 'PI', 'CE', 'RN', 'PE', 'PB', 'SE', 'AL', 'BA']
    centro_oeste = ['MT', 'MS', 'GO']
    sudeste      = ['SP', 'RJ', 'ES', 'MG']
    sul          = ['PR', 'RS', 'SC']
    df           = ['DF']
    
    if uf in norte :
        return 'Norte'
    elif uf in nordeste :
        return 'Nordeste'
    elif uf in centro_oeste : 
        return 'Centro-Oeste'
    elif uf in sudeste : 
        return 'Sudeste'
    elif uf in sul : 
        return 'Sul'
    elif uf in df :
        return 'DF'
    else:
        return 'missing'

In [8]:
# DATA PREP
notas = df_enem.columns[(df_enem.columns.str.contains('NU_NOTA_')) & (~df_enem.columns.str.contains('NU_NOTA_COMP'))].tolist()
lista_provas = df_enem.columns[(df_enem.columns.str.contains('NU_NOTA_')) & (~df_enem.columns.str.contains('NU_NOTA_COMP'))].tolist()

df_enem = (df_enem
           .query('IN_TREINEIRO != 1')
           .drop(columns = df_enem.columns[df_enem.columns.str.contains('TX_')].tolist()+['IN_TREINEIRO'])
          )


# REGIÃO GEOGRÁFICA
df_enem['TP_REGIAO_PROVA'] = df_enem.SG_UF_PROVA.apply(create_columns_region)
df_enem['TP_REGIAO_ESC'] = df_enem.SG_UF_PROVA.apply(create_columns_region)

# ABSTENÇÃO - PRIMEIRO DIA
df_enem.loc[(df_enem['TP_PRESENCA_CH'] == 0) & (df_enem['TP_PRESENCA_LC'] == 0), ['ABS_DIA_1']] = 1
df_enem.loc[(df_enem['TP_PRESENCA_CH'] != 0) & (df_enem['TP_PRESENCA_LC'] != 0), ['ABS_DIA_1']] = 0
# ABSTENÇÃO - SEGUNDO DIA
df_enem.loc[(df_enem['TP_PRESENCA_CN'] == 0) & (df_enem['TP_PRESENCA_MT'] == 0), ['ABS_DIA_2']] = 1
df_enem.loc[(df_enem['TP_PRESENCA_CN'] != 0) & (df_enem['TP_PRESENCA_MT'] != 0), ['ABS_DIA_2']] = 0
# ABSTENÇÃO FULL DAYS
df_enem.loc[(df_enem['ABS_DIA_1'] == 1) & (df_enem['ABS_DIA_2'] == 1), ['ABS_ALL']] = 1
df_enem.loc[(df_enem['ABS_DIA_1'] != 1) & (df_enem['ABS_DIA_2'] != 1), ['ABS_ALL']] = 0

#Acrescentei
df_enem.loc[((df_enem['ABS_DIA_1'] == 0) | (df_enem['ABS_DIA_2'] == 0)), ['ABS_ALL']] = 0

# FLAG ESCOLA NULL
df_enem.loc[df_enem['NO_MUNICIPIO_ESC'].isna(), ['FLAG_NULL_ESC']]  = 1
df_enem.loc[df_enem['NO_MUNICIPIO_ESC'].notna(), ['FLAG_NULL_ESC']] = 0

# MÉDIAS
df_enem['MEDIA_OBJ'] = df_enem[[prova for prova in notas if prova != 'NU_NOTA_REDACAO']].mean(axis = 1)
df_enem['MEDIA_GLOBAL'] = df_enem[notas].mean(axis = 1)

In [9]:
df_enem.shape

(12671, 188)

In [31]:
df_enem.to_excel('D:\Repositório GIT\Projetos\Analise-de-Dados-ENEM\Datasets\Teste\enem1.xlsx', index=False)

#### Salvar com novo df maior

In [10]:
df_enem.to_excel('C:\\Users\\Bruno\\PYTHON\PROJETOS\\Analise-de-Dados-ENEM\\Datasets\\Teste\\enem3.xlsx', index=False)

In [10]:
municipality_view = ['TP_REGIAO_PROVA','SG_UF_PROVA', 'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA']
uf_view           = ['TP_REGIAO_PROVA', 'SG_UF_PROVA']
list_metrics      = { 'MIN_': np.min, 'AVG_' :np.mean, 'MED_' : np.median, 'MAX_' : np.max, 'STD_' : np.std}

# TP_ANO_CONCLUIU, TP_ESTADO_CIVIL

cat_columns       = [
    'TP_FAIXA_ETARIA', 'TP_SEXO',
    'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
    'TP_ESCOLA', 'TP_ENSINO',  'TP_DEPENDENCIA_ADM_ESC',
    'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'TP_PRESENCA_CN',
    'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 
]

In [11]:
geral = df_enem['NU_ANO'].value_counts().reset_index()
geral.rename(columns={'index': 'NU_ANO', 'NU_ANO': 'QTD_INSCRITOS'}, inplace=True)
geral = geral.sort_values(by= 'NU_ANO' , ascending=True)
geral.head(13)

    NU_ANO  QTD_INSCRITOS
0     2010           1000
1     2011           1000
2     2012           1000
3     2013           1000
4     2014           1000
8     2015            956
7     2016            964
5     2017            982
9     2018            953
6     2019            978
11    2020            951
10    2021            953
12    2022            934

In [12]:
geral1 = df_enem.groupby('NU_ANO')['ABS_ALL'].sum().reset_index()
geral1.head(13)

    NU_ANO  ABS_ALL
0     2010    243.0
1     2011    261.0
2     2012    271.0
3     2013    349.0
4     2014    313.0
5     2015    221.0
6     2016    282.0
7     2017    294.0
8     2018    209.0
9     2019    263.0
10    2020    385.0
11    2021    198.0
12    2022    312.0

In [13]:
geral = geral.merge(geral1, on='NU_ANO', how='left')
geral.head()

   NU_ANO  QTD_INSCRITOS  ABS_ALL
0    2010           1000    243.0
1    2011           1000    261.0
2    2012           1000    271.0
3    2013           1000    349.0
4    2014           1000    313.0

##### Proporção Inscritos

In [14]:
geral['ABS_ALL_%'] = ((geral['ABS_ALL'] / geral['QTD_INSCRITOS'])*100).round(2)
geral.head(13)

    NU_ANO  QTD_INSCRITOS  ABS_ALL  ABS_ALL_%
0     2010           1000    243.0      24.30
1     2011           1000    261.0      26.10
2     2012           1000    271.0      27.10
3     2013           1000    349.0      34.90
4     2014           1000    313.0      31.30
5     2015            956    221.0      23.12
6     2016            964    282.0      29.25
7     2017            982    294.0      29.94
8     2018            953    209.0      21.93
9     2019            978    263.0      26.89
10    2020            951    385.0      40.48
11    2021            953    198.0      20.78
12    2022            934    312.0      33.40

#### Caso eu queira inserir o %

In [37]:
geral['ABS_ALL_%'] = geral['ABS_ALL_%'].astype(str) + '%'
geral.head()

   NU_ANO  QTD_INSCRITOS  ABS_ALL ABS_ALL_%
0    2018            953    209.0    21.93%
1    2019            978    263.0    26.89%

#### Tipo de língua
#### 0 - Inglês
#### 1 - Espanhol

In [15]:

# Agrupar por ano e TP_LINGUA e contar a quantidade de inscritos em inglês e espanhol
geral2 = df_enem.groupby(['NU_ANO', 'TP_LINGUA'])['NU_INSCRICAO'].count().reset_index()

# Pivotar os dados para ter TP_LINGUA como colunas
geral2 = geral2.pivot(index='NU_ANO', columns='TP_LINGUA', values='NU_INSCRICAO').reset_index()

# Renomear as colunas para facilitar a compreensão
geral2.columns = ['NU_ANO', 'QTD_INGLES', 'QTD_ESPANHOL']
geral2.head(13)

    NU_ANO  QTD_INGLES  QTD_ESPANHOL
0     2010         463           537
1     2011         385           615
2     2012         283           424
3     2013         382           618
4     2014         446           554
5     2015         464           492
6     2016         535           429
7     2017         508           474
8     2018         426           527
9     2019         455           523
10    2020         404           547
11    2021         444           509
12    2022         413           521

#### Proporção língua

In [17]:
geral2_pct = geral2[['QTD_INGLES','QTD_ESPANHOL']]
geral2_pct.head()

   QTD_INGLES  QTD_ESPANHOL
0         463           537
1         385           615
2         283           424
3         382           618
4         446           554

In [19]:
soma_total = geral2_pct.sum(axis=1)

# Iterar sobre as colunas e criar as colunas percentuais automaticamente
for coluna in geral2_pct.columns:
    if coluna.startswith('QTD_'):  # Certifica-se de que estamos lidando apenas com as colunas relevantes
        coluna_percentual = coluna + '_%'
        proporcao_coluna = geral2_pct[coluna] / soma_total
        geral2_pct[coluna_percentual] = (proporcao_coluna * 100).round(2)

geral2_pct.head()

geral2 = geral2.merge(geral2_pct, on=['QTD_INGLES','QTD_ESPANHOL'], how='outer')
geral2.head(13)

    NU_ANO  QTD_INGLES  QTD_ESPANHOL  QTD_INGLES_%  QTD_ESPANHOL_%
0     2010         463           537         46.30           53.70
1     2011         385           615         38.50           61.50
2     2012         283           424         40.03           59.97
3     2013         382           618         38.20           61.80
4     2014         446           554         44.60           55.40
5     2015         464           492         48.54           51.46
6     2016         535           429         55.50           44.50
7     2017         508           474         51.73           48.27
8     2018         426           527         44.70           55.30
9     2019         455           523         46.52           53.48
10    2020         404           547         42.48           57.52
11    2021         444           509         46.59           53.41
12    2022         413           521         44.22           55.78

#### Unir com df geral

In [20]:
geral = geral.merge(geral2, on='NU_ANO', how='left')
geral.head()

   NU_ANO  QTD_INSCRITOS  ABS_ALL  ABS_ALL_%  QTD_INGLES  QTD_ESPANHOL
0    2018            953    209.0      21.93         426           527
1    2019            978    263.0      26.89         455           523

#### Por tipo de Escola
#### 1 - Não respondeu
#### 2 - Escola pública
#### 3 - Escola Privada
#### 4 - Exterior
#### Aqui tem uma observação esse modelo do dicionários não foi seguido nos anos de 2012 a 2014, o ano de 2010 nem possui esse item. O modelo de 2012 a 2014 segue:
#### 1 - Escola pública
#### 2 - Escola privada

#### Recorte para ajustar os anos que houve mudança.

In [11]:
df_enem.loc[df_enem['NU_ANO'].between(2012, 2014), 'TP_ESCOLA'] = df_enem['TP_ESCOLA'] + 1
df_enem[df_enem['NU_ANO'] == 2012]

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ST_CONCLUSAO,TP_ENSINO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,IN_CERTIFICADO,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q01,Q02,Q03,Q04,Q05,Q06,Q07,Q08,Q09,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,Q28,Q29,Q30,Q31,Q32,Q33,Q34,Q35,Q36,Q37,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53,Q54,Q55,Q56,Q57,TP_ANO_CONCLUIU,TP_ESCOLA,NO_ENTIDADE_CERTIFICACAO,CO_UF_ENTIDADE_CERTIFICACAO,SG_UF_ENTIDADE_CERTIFICACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,Q010,Q011,Q012,Q013,Q014,Q015,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,Q026,Q027,Q028,Q029,Q030,Q031,Q032,Q033,Q034,Q035,Q036,Q037,Q038,Q039,Q040,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050,Q051,Q052,Q053,Q054,Q055,Q056,Q057,Q058,Q059,Q060,Q061,Q062,Q063,Q064,Q065,Q066,Q067,Q068,Q069,Q070,Q071,Q072,Q073,Q074,Q075,TP_NACIONALIDADE,ANO_CONCLUIU,Q076,TP_REGIAO_PROVA,TP_REGIAO_ESC,ABS_DIA_1,ABS_DIA_2,ABS_ALL,FLAG_NULL_ESC,MEDIA_OBJ,MEDIA_GLOBAL
2000,400000000001,2012,13,M,1.0,3,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2933307,VITORIA DA CONQUISTA,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.0,NaN,NaN,NaN,NaN,I,B,D,3,A,B,A,A,D,A,D,D,A,D,D,B,A,A,A,D,A,B,4,5,0,5,5,5,5,E,D,A,D,C,A,A,A,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nordeste,Nordeste,1.0,1.0,1,1,NaN,NaN
2001,400000000002,2012,3,M,0.0,1,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2611606,RECIFE,26,PE,1,1,1,1,141.0,137.0,146.0,150.0,537.7,552.2,532.6,468.3,1.0,P,80.0,60.0,60.0,80.0,0.0,280.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,NaN,NaN,NaN,NaN,E,C,G,4,A,B,A,A,A,B,A,A,A,D,A,B,A,A,D,D,A,C,5,1,0,5,2,5,0,A,A,D,B,A,A,A,B,B,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nordeste,Nordeste,0.0,0.0,0,1,522.700,474.16
2002,400000000003,2012,5,F,0.0,3,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3301702,DUQUE DE CAXIAS,33,RJ,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,NaN,NaN,NaN,NaN,C,C,C,4,B,B,B,A,D,D,D,A,A,D,D,B,D,A,D,D,A,A,3,5,1,0,0,5,3,A,A,A,A,B,A,A,A,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sudeste,Sudeste,1.0,1.0,1,1,NaN,NaN
2003,400000000004,2012,11,M,0.0,3,1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5300108,BRASILIA,53,DF,1,1,1,1,143.0,139.0,147.0,151.0,459.0,557.7,545.0,565.3,1.0,P,140.0,160.0,140.0,160.0,120.0,720.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,NaN,NaN,NaN,NaN,C,C,F,4,A,B,B,A,D,D,A,D,A,D,A,C,A,A,D,D,B,A,5,5,0,5,5,5,5,A,A,A,E,E,A,A,A,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DF,DF,0.0,0.0,0,1,531.750,569.40
2004,400000000005,2012,5,M,0.0,1,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3304557,RIO DE JANEIRO,33,RJ,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,NaN,NaN,NaN,NaN,B,C,C,4,A,B,A,A,A,A,D,A,A,D,A,A,A,D,A,D,A,C,0,3,0,5,5,5,5,B,A,A,B,A,A,A,A,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sudeste,Sudeste,1.0,1.0,1,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,400000000996,2012,4,M,0.0,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4115200,MARINGA,41,PR,1,1,1,1,143.0,139.0,147.0,151.0,582.9,575.5,589.0,622.4,0.0,P,120.0,120.0,80.0,80.0,80.0,480.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SECRETARIA ESTADUAL - PR,41.0,PR,E,I,D,2,E,B,B,D,D,A,D,A,A,D,A,B,A,D,D,D,A,A,3,5,5,5,0,5,5,C,A,A,F,C,A,A,A,B,A,A,A,A,B,B,B,B,A,B,B,A,B,B,A,B,B,A,B,B,B,B,B,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sul,Sul,0.0,0.0,0,1,592.450,569.96
2996,400000000997,2012,11,M,1.0,3,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2611606,RECIFE,26,PE,1,1,1,1,143.0,139.0,147.0,151.0,364.4,489.9,483.9,349.8,1.0,P,120.0,100.0,100.0,100.0,60.0,480.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004.0,NaN,NaN,NaN,NaN,E,B,C,3,C,B,A,A,A,D,D,D,A,D,D,A,D,D,D,D,A,A,5,5,5,5,0,5,5,D,A,C,C,A,A,A,A,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nordeste,Nordeste,0.0,0.0,0,1,422.000,433.60
2997,400000000998,2012,1,F,0.0,1,2,1.0,3205002.0,SERRA,32.0,ES,2.0,1.0,1.0,0.0,3205002,SERRA,32,ES,1,1,1,1,144.0,140.0,147.0,151.0,500.7,675.7,591.7,589.0,0.0,P,100.0,100.0,80.0,80.0,20.0,380.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,B,E,E,4,B,B,A,A,A,A,A,A,A,D,A,B,A,A,D,D,B,C,5,5,1,5,4,5,4,B,A,C,B,A,A,A,A,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sudeste,Sudeste,0.0,0.0,0,0,589.275,547.42
2998,400000000999,2012,3,M,0.0,4,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2112209,TIMON,21,MA,1,1,1,1,143.0,139.0,145.0,149.0,524.2,522.9,565.3,398.5,1.0,P,120.0,80.0,100.0,100.0,40.0,440.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,NaN,NaN,NaN,NaN,I,C,B,2,D,B,A,A,A,A,D,D,A,D,D,A,A,D,D,D,A,C,2,3,0,5,5,5,3,B,A,A,B,A,A,A,B,B,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nordeste,Nordeste,0.0,0.0,0,1,502.725,490.18
2999,400000001000,2012,3,F,0.0,1,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,4314902,PORTO ALEGRE,43,RS,1,1,1,1,141.0,137.0,147.0,151.0,561.5,555.6,573.3,518.5,0.0,P,140.0,160.0,180.0,160.0,100.0,740.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,NaN,NaN,NaN,NaN,C,C,E,4,A,A,B,B,A,A,A,A,A,A,D,C,A,A,A,D,A,C,5,1,2,5,5,5,5,B,A,A,B,A,A,A,A,B,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sul,Sul,0.0,0.0,0,1,552.225,589.78

#### Salvando nova alteração de dataset, ajustando os anos diferentes. Essa é a última versão atualmente. Casa

In [12]:
df_enem.to_excel('D:\Repositório GIT\Projetos\Analise-de-Dados-ENEM\Datasets\Teste\enem5.xlsx', index=False)

#### Para carregar em casa. Última versão para ser carregada atualmente.

In [ ]:
df_enem = pd.read_excel('D:\Repositório GIT\Projetos\Analise-de-Dados-ENEM\Datasets\Teste\enem5.xlsx', sheet_name='Sheet1')

In [13]:

# Agrupar por ano e TP_ESCOLA e contar a quantidade de inscritos em inglês e espanhol
geral3 = df_enem.groupby(['NU_ANO', 'TP_ESCOLA'])['NU_INSCRICAO'].count().reset_index()

# Pivotar os dados para ter TP_ESCOLA como colunas
geral3 = geral3.pivot(index='NU_ANO', columns='TP_ESCOLA', values='NU_INSCRICAO').reset_index()

# Renomear as colunas para facilitar a compreensão
geral3.columns = ['NU_ANO', 'QTD_NAO_RESP','QTD_PUBLICA','QTD_PRIVADA','QTD_EXTERIOR']
geral3 = geral3.fillna(0).astype(int)
geral3.head(13)

    NU_ANO  QTD_NAO_RESP  QTD_PUBLICA  QTD_PRIVADA  QTD_EXTERIOR
0     2011           752          188           60             0
1     2012             0           66           14             0
2     2013             0          155           24             0
3     2014             0          740          138             0
4     2015           884           52           20             0
5     2016           905           37           22             0
6     2017           881           78           19             4
7     2018           750          175            3            25
8     2019           778          199            1             0
9     2020           731          212            8             0
10    2021           551          394            8             0
11    2022           675          250            9             0

#### Proporção escolas

In [15]:
geral3_pct = geral3[['QTD_PUBLICA','QTD_PRIVADA','QTD_EXTERIOR']]
geral3_pct.head(13)

    QTD_PUBLICA  QTD_PRIVADA  QTD_EXTERIOR
0           188           60             0
1            66           14             0
2           155           24             0
3           740          138             0
4            52           20             0
5            37           22             0
6            78           19             4
7           175            3            25
8           199            1             0
9           212            8             0
10          394            8             0
11          250            9             0

#### Das que foram respondidas a proporção segue a distribuição abaixo.

In [16]:
soma_total = geral3_pct.sum(axis=1)

# Iterar sobre as colunas e criar as colunas percentuais automaticamente
for coluna in geral3_pct.columns:
    if coluna.startswith('QTD_'):  # Certifica-se de que estamos lidando apenas com as colunas relevantes
        coluna_percentual = coluna + '_%'
        proporcao_coluna = geral3_pct[coluna] / soma_total
        geral3_pct[coluna_percentual] = (proporcao_coluna * 100).round(2)

geral3_pct.head()

geral3 = geral3.merge(geral3_pct, on=['QTD_PUBLICA', 'QTD_PRIVADA','QTD_EXTERIOR'], how='outer')
geral3.head(13)

,NU_ANO,QTD_NAO_RESP,QTD_PUBLICA,QTD_PRIVADA,QTD_EXTERIOR,QTD_PUBLICA_%,QTD_PRIVADA_%,QTD_EXTERIOR_%
0,2011,752,188,60,0,75.81,24.19,0.00
1,2012,0,66,14,0,82.50,17.50,0.00
2,2013,0,155,24,0,86.59,13.41,0.00
3,2014,0,740,138,0,84.28,15.72,0.00
4,2015,884,52,20,0,72.22,27.78,0.00
5,2016,905,37,22,0,62.71,37.29,0.00
6,2017,881,78,19,4,77.23,18.81,3.96
7,2018,750,175,3,25,86.21,1.48,12.32
8,2019,778,199,1,0,99.50,0.50,0.00
9,2020,731,212,8,0,96.36,3.64,0.00
10,2021,551,394,8,0,98.01,1.99,0.00
11,2022,675,250,9,0,96.53,3.47,0.00

#### Uni df ao geral

In [38]:
geral = geral.merge(geral3, on='NU_ANO', how='left')
geral.head()

,NU_ANO,QTD_INSCRITOS,ABS_ALL,ABS_ALL_%,QTD_INGLES,QTD_ESPANHOL,QTD_NAO_RESP,QTD_PUBLICA,QTD_PRIVADA,QTD_EXTERIOR
0,2018,953,209.0,21.93,426,527,750,175,3,25
1,2019,978,263.0,26.89,455,523,778,199,1,0

#### Quantidade por sexo
#### M - Masculino
#### F - Feminino

#### Ajuste da base  ano de 2012
#### 0 = Masculino
#### 1 = Feminino

In [23]:
df_enem['TP_SEXO'] = df_enem['TP_SEXO'].replace({0: 'M', 1: 'F'})
df_enem[df_enem['NU_ANO'] == 2012]

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ST_CONCLUSAO,TP_ENSINO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,IN_CERTIFICADO,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q01,Q02,Q03,Q04,Q05,Q06,Q07,Q08,Q09,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27,Q28,Q29,Q30,Q31,Q32,Q33,Q34,Q35,Q36,Q37,Q38,Q39,Q40,Q41,Q42,Q43,Q44,Q45,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53,Q54,Q55,Q56,Q57,TP_ANO_CONCLUIU,TP_ESCOLA,NO_ENTIDADE_CERTIFICACAO,CO_UF_ENTIDADE_CERTIFICACAO,SG_UF_ENTIDADE_CERTIFICACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,Q010,Q011,Q012,Q013,Q014,Q015,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,Q026,Q027,Q028,Q029,Q030,Q031,Q032,Q033,Q034,Q035,Q036,Q037,Q038,Q039,Q040,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050,Q051,Q052,Q053,Q054,Q055,Q056,Q057,Q058,Q059,Q060,Q061,Q062,Q063,Q064,Q065,Q066,Q067,Q068,Q069,Q070,Q071,Q072,Q073,Q074,Q075,TP_NACIONALIDADE,ANO_CONCLUIU,Q076,TP_REGIAO_PROVA,TP_REGIAO_ESC,ABS_DIA_1,ABS_DIA_2,ABS_ALL,FLAG_NULL_ESC,MEDIA_OBJ,MEDIA_GLOBAL
2000,400000000001,2012,13,M,1.0,3,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2933307,VITORIA DA CONQUISTA,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.0,NaN,NaN,NaN,NaN,I,B,D,3,A,B,A,A,D,A,D,D,A,D,D,B,A,A,A,D,A,B,4,5,0,5,5,5,5,E,D,A,D,C,A,A,A,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nordeste,Nordeste,1.0,1.0,1.0,1.0,NaN,NaN
2001,400000000002,2012,3,M,0.0,1,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2611606,RECIFE,26,PE,1,1,1,1,141.0,137.0,146.0,150.0,537.7,552.2,532.6,468.3,1.0,P,80.0,60.0,60.0,80.0,0.0,280.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,NaN,NaN,NaN,NaN,E,C,G,4,A,B,A,A,A,B,A,A,A,D,A,B,A,A,D,D,A,C,5,1,0,5,2,5,0,A,A,D,B,A,A,A,B,B,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nordeste,Nordeste,0.0,0.0,0.0,1.0,522.700,474.16
2002,400000000003,2012,5,F,0.0,3,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3301702,DUQUE DE CAXIAS,33,RJ,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,NaN,NaN,NaN,NaN,C,C,C,4,B,B,B,A,D,D,D,A,A,D,D,B,D,A,D,D,A,A,3,5,1,0,0,5,3,A,A,A,A,B,A,A,A,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sudeste,Sudeste,1.0,1.0,1.0,1.0,NaN,NaN
2003,400000000004,2012,11,M,0.0,3,1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5300108,BRASILIA,53,DF,1,1,1,1,143.0,139.0,147.0,151.0,459.0,557.7,545.0,565.3,1.0,P,140.0,160.0,140.0,160.0,120.0,720.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,NaN,NaN,NaN,NaN,C,C,F,4,A,B,B,A,D,D,A,D,A,D,A,C,A,A,D,D,B,A,5,5,0,5,5,5,5,A,A,A,E,E,A,A,A,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DF,DF,0.0,0.0,0.0,1.0,531.750,569.40
2004,400000000005,2012,5,M,0.0,1,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3304557,RIO DE JANEIRO,33,RJ,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.0,NaN,NaN,NaN,NaN,B,C,C,4,A,B,A,A,A,A,D,A,A,D,A,A,A,D,A,D,A,C,0,3,0,5,5,5,5,B,A,A,B,A,A,A,A,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sudeste,Sudeste,1.0,1.0,1.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,400000000996,2012,4,M,0.0,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4115200,MARINGA,41,PR,1,1,1,1,143.0,139.0,147.0,151.0,582.9,575.5,589.0,622.4,0.0,P,120.0,120.0,80.0,80.0,80.0,480.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SECRETARIA ESTADUAL - PR,41.0,PR,E,I,D,2,E,B,B,D,D,A,D,A,A,D,A,B,A,D,D,D,A,A,3,5,5,5,0,5,5,C,A,A,F,C,A,A,A,B,A,A,A,A,B,B,B,B,A,B,B,A,B,B,A,B,B,A,B,B,B,B,B,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sul,Sul,0.0,0.0,0.0,1.0,592.450,569.96
2996,400000000997,2012,11,M,1.0,3,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2611606,RECIFE,26,PE,1,1,1,1,143.0,139.0,147.0,151.0,364.4,489.9,483.9,349.8,1.0,P,120.0,100.0,100.0,100.0,60.0,480.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004.0,NaN,NaN,NaN,NaN,E,B,C,3,C,B,A,A,A,D,D,D,A,D,D,A,D,D,D,D,A,A,5,5,5,5,0,5,5,D,A,C,C,A,A,A,A,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nordeste,Nordeste,0.0,0.0,0.0,1.0,422.000,433.60
2997,400000000998,2012,1,F,0.0,1,2,1.0,3205002.0,SERRA,32.0,ES,2.0,1.0,1.0,0.0,3205002,SERRA,32,ES,1,1,1,1,144.0,140.0,147.0,151.0,500.7,675.7,591.7,589.0,0.0,P,100.0,100.0,80.0,80.0,20.0,380.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,B,E,E,4,B,B,A,A,A,A,A,A,A,D,A,B,A,A,D,D,B,C,5,5,1,5,4,5,4,B,A,C,B,A,A,A,A,A,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sudeste,Sudeste,0.0,0.0,0.0,0.0,589.275,547.42
2998,400000000999,2012,3,M,0.0,4,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2112209,TIMON,21,MA,1,1,1,1,143.0,139.0,145.0,149.0,524.2,522.9,565.3,398.5,1.0,P,120.0,80.0,100.0,100.0,40.0,440.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,NaN,NaN,NaN,NaN,I,C,B,2,D,B,A,A,A,A,D,D,A,D,D,A,A,D,D,D,A,C,2,3,0,5,5,5,3,B,A,A,B,A,A,A,B,B,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nordeste,Nordeste,0.0,0.0,0.0,1.0,502.725,490.18
2999,400000001000,2012,3,F,0.0,1,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,4314902,PORTO ALEGRE,43,RS,1,1,1,1,141.0,137.0,147.0,151.0,561.5,555.6,573.3,518.5,0.0,P,140.0,160.0,180.0,160.0,100.0,740.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0,NaN,NaN,NaN,NaN,C,C,E,4,A,A,B,B,A,A,A,A,A,A,D,C,A,A,A,D,A,C,5,1,2,5,5,5,5,B,A,A,B,A,A,A,A,B,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sul,Sul,0.0,0.0,0.0,1.0,552.225,589.78

#### Carregando agora a partir daqui pois o df foi ajustado. Notebook

In [35]:
df_enem.to_excel('C:\\Users\\Bruno\\PYTHON\PROJETOS\\Analise-de-Dados-ENEM\\Datasets\\Teste\\enem4.xlsx', index=False)

#### Lendo de casa.

In [10]:
df_enem = pd.read_excel('D:\Repositório GIT\Projetos\Analise-de-Dados-ENEM\Datasets\Teste\enem4.xlsx', sheet_name='Sheet1')

In [17]:
geral4 = df_enem.groupby(['NU_ANO', 'TP_SEXO'])['NU_INSCRICAO'].count().reset_index()

geral4 = geral4.pivot(index='NU_ANO', columns='TP_SEXO', values='NU_INSCRICAO').reset_index()
geral4.columns = ['NU_ANO', 'QTD_FEM','QTD_MASC']
geral4.head(13)

    NU_ANO  QTD_FEM  QTD_MASC
0     2010      571       429
1     2011      556       444
2     2012      545       455
3     2013      574       426
4     2014      575       425
5     2015      534       422
6     2016      538       426
7     2017      559       423
8     2018      613       340
9     2019      634       344
10    2020      633       318
11    2021      681       272
12    2022      618       316

#### Proporção Sexo

In [18]:
geral4_pct = geral4[['QTD_FEM','QTD_MASC']]
geral4_pct.head(13)

    QTD_FEM  QTD_MASC
0       571       429
1       556       444
2       545       455
3       574       426
4       575       425
5       534       422
6       538       426
7       559       423
8       613       340
9       634       344
10      633       318
11      681       272
12      618       316

In [19]:
soma_total = geral4_pct.sum(axis=1)

# Iterar sobre as colunas e criar as colunas percentuais automaticamente
for coluna in geral4_pct.columns:
    if coluna.startswith('QTD_'):  # Certifica-se de que estamos lidando apenas com as colunas relevantes
        coluna_percentual = coluna + '_%'
        proporcao_coluna = geral4_pct[coluna] / soma_total
        geral4_pct[coluna_percentual] = (proporcao_coluna * 100).round(2)

geral4_pct.head(13)

    QTD_FEM  QTD_MASC  QTD_FEM_%  QTD_MASC_%
0       571       429      57.10       42.90
1       556       444      55.60       44.40
2       545       455      54.50       45.50
3       574       426      57.40       42.60
4       575       425      57.50       42.50
5       534       422      55.86       44.14
6       538       426      55.81       44.19
7       559       423      56.92       43.08
8       613       340      64.32       35.68
9       634       344      64.83       35.17
10      633       318      66.56       33.44
11      681       272      71.46       28.54
12      618       316      66.17       33.83

In [20]:
geral4 = geral4.merge(geral4_pct, on=['QTD_MASC', 'QTD_FEM'], how='outer')
geral4.head(13)

    NU_ANO  QTD_FEM  QTD_MASC  QTD_FEM_%  QTD_MASC_%
0     2010      571       429      57.10       42.90
1     2011      556       444      55.60       44.40
2     2012      545       455      54.50       45.50
3     2013      574       426      57.40       42.60
4     2014      575       425      57.50       42.50
5     2015      534       422      55.86       44.14
6     2016      538       426      55.81       44.19
7     2017      559       423      56.92       43.08
8     2018      613       340      64.32       35.68
9     2019      634       344      64.83       35.17
10    2020      633       318      66.56       33.44
11    2021      681       272      71.46       28.54
12    2022      618       316      66.17       33.83

#### Mesclar caso queira unir o df geral

In [ ]:
geral = geral.merge(geral4, on='NU_ANO', how='left')
geral.head()

#### Tipo de adminstração
#### 1 - FEDERAL
#### 2 - ESTADUAL
#### 3 - MUNICIPAL
#### 4 - PRIVADA

In [11]:
geral5 = df_enem.groupby(['NU_ANO', 'TP_DEPENDENCIA_ADM_ESC'])['NU_INSCRICAO'].count().reset_index()
geral5 = geral5.pivot(index='NU_ANO', columns='TP_DEPENDENCIA_ADM_ESC', values='NU_INSCRICAO').reset_index()
geral5.columns = ['NU_ANO', 'QTD_FEDERAL', 'QTD_ESTADUAL', 'QTD_MUNICIPAL', 'QTD_PRIVADA']
geral5 = geral5.fillna(0).astype(int)
geral5.head()

   NU_ANO  QTD_FEDERAL  QTD_ESTADUAL  QTD_MUNICIPAL  QTD_PRIVADA
0    2018           15           175              3           25
1    2019           20           153              0            3

#### Irei fazer a proporção com os dados disponiveis e não com qtd de inscritos totais, pois tem poucos dados disponiveis

In [16]:
geral5['TOTAL'] = geral5['QTD_FEDERAL'] + geral5['QTD_ESTADUAL'] + geral5['QTD_MUNICIPAL'] + geral5['QTD_PRIVADA']

for tipo in ['FEDERAL', 'ESTADUAL', 'MUNICIPAL', 'PRIVADA']:
    coluna_qtd = f'QTD_{tipo}'
    coluna_percentual = f'QTD_{tipo}_%'

    geral5[coluna_percentual] = ((geral5[coluna_qtd] / geral5['TOTAL']) * 100).round(2)

geral5.head()

,NU_ANO,QTD_FEDERAL,QTD_ESTADUAL,QTD_MUNICIPAL,QTD_PRIVADA,TOTAL,QTD_PRIVADA_%,QTD_FEDERAL_%,QTD_ESTADUAL_%,QTD_MUNICIPAL_%
0,2018,15,175,3,25,218,11.47,6.88,80.28,1.38
1,2019,20,153,0,3,176,1.70,11.36,86.93,0.00

In [ ]:
geral = geral.merge(geral5, on='NU_ANO', how='left')
geral.head()