In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
import geobr
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 250);pd.set_option('display.max_rows', 250)
import os

#### Notebook

In [2]:
os.chdir('C:\\Users\\Bruno\\OneDrive\\Área de Trabalho\\Microdados\\Datas')

#### Casa

In [2]:
os.chdir('D:\Trabalho\Microdados\ENEM')

In [3]:
pwd

'C:\\Users\\Bruno\\OneDrive\\Área de Trabalho\\Microdados\\Datas'

#### Repositório Casa

In [38]:
df_enem = pd.read_excel('D:\Repositório GIT\Projetos\Analise-de-Dados-ENEM\Datasets\Teste\enem.xlsx')

#### Repositório Notebook

In [3]:
df_enem = pd.read_excel('C:\\Users\\Bruno\\PYTHON\\PROJETOS\\Analise-de-Dados-ENEM\\Datasets\\Teste\\enem.xlsx')

#### Dados de 2016 até 2022 - testar

In [20]:
df_enem = pd.read_excel('C:\\Users\\Bruno\\PYTHON\\PROJETOS\\Analise-de-Dados-ENEM\\Datasets\\Teste\\enem2.xlsx')

In [21]:
df_enem.shape

(5000, 78)

In [6]:
df_enem.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,Q010,Q011,Q012,Q013,Q014,Q015,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,Q026,Q027
0,180007186625,2018,2,F,0.0,4,1,2,0,4,1.0,0,1500800.0,Ananindeua,15.0,PA,4.0,1.0,1.0,1500800,Ananindeua,15,PA,1,1,1,1,449.0,454.0,457.0,462.0,534.2,611.4,517.9,496.3,BABDABEECDBDCBCAAAEDCEDDEADADEACABEEBABCABADC,CBAEACBBADABADEDDCDABBEAEEBBDDCECBECDABADDEEA,99999BDAECEBACECBBBBEBBDABDAAAADECCCDADBCCBBAA...,CCDAECBEBDAACDACABADECBDAADACBEDDAACBEABABDCD,1,EBBEBACEDDEDDCBCCACBDDDAECAADBCEABEAEABDBCACE,CDECAABBDDECBEEDBEBBEBEDEEEBCEAEECECCDBDDCACD,CBEDBBBDCBECADBBBECBEAECABDADACDBABCECBBEDADAB...,ADCACEDDABEBBCBCADDACCCDEBBDAEEDBEXBCAEDABADA,1.0,120.0,40.0,40.0,120.0,40.0,360.0,E,E,D,D,2,F,A,C,D,A,A,A,B,A,A,B,A,B,C,B,B,D,B,C,B,B,D
1,180007186627,2018,3,F,0.0,4,1,1,1,1,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1503200,Igarapé-Açu,15,PA,1,1,1,1,447.0,454.0,457.0,459.0,506.9,477.8,495.3,440.6,BADEBBDBDECBADCCDCEDAEDBBEDCABEAECABCAEEAEACE,BEDBBDBCCABDADABAEDDBAABCDACBECCEACABAEAAAEAB,CDEBB99999ABADBBBEBDEBBADCDBCBDDCECDDAECAACDAA...,AEECACDEECDBBEEEABBEADDAADCEAEAEDCEBCDABDADEA,0,BDDEDBCACEBCCACDCDDAECAADBDBCEEAEAABEBEBBACED,CDECAABBDDECBEEDBEBBEBEDEEEBCEAEECECCDBDDCACD,CBEDBBBDCBECADBBBECBEAECABDADACDBABCECBBEDADAB...,ACEADCEBBDADAAEBBDDEDABADBEXCCCDBCAEEACBCDDAB,1.0,140.0,40.0,40.0,160.0,40.0,420.0,D,E,A,A,4,B,A,B,B,A,A,B,A,A,A,A,A,A,B,A,A,B,A,A,A,A,A
2,180007186628,2018,3,M,0.0,0,1,2,0,2,1.0,0,3155603.0,Rio Pardo de Minas,31.0,MG,2.0,1.0,1.0,3155603,Rio Pardo de Minas,31,MG,1,1,1,1,449.0,453.0,458.0,462.0,470.6,473.8,534.4,410.4,CEEEEDBDACBBDADABCCCBDBBEBCEDEAACBACEEEBEBBEE,ECBDABEADCECAEAEECBCBDEABCDEADCBBCDAECDDBDABC,ECBDB99999CBDDCEABEABDBDEEECCCDDCCCDBDBBAAECBC...,BCAAACEBDCDBACADEABACCBDADADBDBCDCDABBDCBCDCB,0,EBBEBACEDDEDDCBCCACBDDDAECAADBCEABEAEABDBCACE,ECCBBEBEDBEDBDDAEECDECBECACDEDEECDECAABBDEBCE,BCDEBDBCBBACDCBEAECBABADBBECECBDBBEABDADACEDEC...,ADCACEDDABEBBCBCADDACCCDEBBDAEEDBEXBCAEDABADA,1.0,120.0,120.0,100.0,120.0,140.0,600.0,B,B,A,A,7,B,A,B,D,B,B,B,A,A,A,A,A,A,B,B,A,D,A,A,A,B,A
3,180007186629,2018,2,F,0.0,3,1,2,0,4,1.0,0,1500800.0,Ananindeua,15.0,PA,4.0,1.0,1.0,1500800,Ananindeua,15,PA,1,1,1,1,450.0,452.0,456.0,461.0,588.9,663.3,614.5,711.5,AAEBECBAEAECEBAABADCDBDCDBAEDACBCDCDDCDEEBBEC,ACADBCEBDAACCDAEBEEDBDDDBEECDACAABDAABABEBECC,99999CBBEBDBCEDDCAAEDAEAEABEDCABBBCCDCDDDDCACE...,DABDACDCD*ACCDDBBDADEABBEEADAECABADBDDA*CDAEA,1,ACEDEAEAEBECAADABBDBCEDEDDCDDABCCACBCACEBDEBB,AEECDECBEBDCACDEDEEDBDDEBCECDECAABEDBEBBEBECC,BBEDCCBBDBBBEADECACEDBEADABEDBABAECCBEABDDBACD...,EBBDEECCCDACEADCBCAAEBBCBCADAEDABADDADDABDBEX,1.0,160.0,160.0,180.0,180.0,120.0,800.0,F,F,D,D,4,I,A,B,D,A,A,B,A,B,A,A,A,A,C,A,B,D,B,A,B,B,B
4,180007186631,2018,11,F,0.0,5,1,1,6,1,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2610905,Pesqueira,26,PE,1,1,1,1,448.0,452.0,456.0,460.0,477.8,621.5,519.4,543.1,ADEEEEEBDCBBBBCAACCCEEEDDACCCDBDAACCACBACECDC,AACCCEEADEEACEBBBEECCCBEBCECDDDAEAEDEEABEDECB,99999CDEDDDDBADDCBEBBBBBBDCDCBBDEEDADEDBDDDEBC...,ACCABCCBBDAEDDCBEEEEEDECECABBDCECCECDDABEADDA,1,BCACEEBBBDACEDECAADDDABDBCCACDCBCEDEDABEBEAEA,AEECDECBEBDCACDEDEEDBDDEBCECDECAABEDBEBBEBECC,BBEDCCBBDBBBEADECACEDBEADABEDBABAECCBEABDDBACD...,ADAEDABBCAADBEXEBBDEEADCCCCDACEDDABCBCAAEBBDD,1.0,120.0,120.0,120.0,100.0,40.0,500.0,A,E,A,A,3,C,A,B,C,A,B,B,A,A,A,A,A,A,B,B,A,C,A,B,A,A,A

In [4]:
def create_columns_region(uf):
    norte        = ['AM', 'RR', 'AP', 'PA', 'TO', 'RO', 'AC']
    nordeste     = ['MA', 'PI', 'CE', 'RN', 'PE', 'PB', 'SE', 'AL', 'BA']
    centro_oeste = ['MT', 'MS', 'GO']
    sudeste      = ['SP', 'RJ', 'ES', 'MG']
    sul          = ['PR', 'RS', 'SC']
    df           = ['DF']
    
    if uf in norte :
        return 'Norte'
    elif uf in nordeste :
        return 'Nordeste'
    elif uf in centro_oeste : 
        return 'Centro-Oeste'
    elif uf in sudeste : 
        return 'Sudeste'
    elif uf in sul : 
        return 'Sul'
    elif uf in df :
        return 'DF'
    else:
        return 'missing'

In [22]:
# DATA PREP
notas = df_enem.columns[(df_enem.columns.str.contains('NU_NOTA_')) & (~df_enem.columns.str.contains('NU_NOTA_COMP'))].tolist()
lista_provas = df_enem.columns[(df_enem.columns.str.contains('NU_NOTA_')) & (~df_enem.columns.str.contains('NU_NOTA_COMP'))].tolist()

df_enem = (df_enem
           .query('IN_TREINEIRO != 1')
           .drop(columns = df_enem.columns[df_enem.columns.str.contains('TX_')].tolist()+['IN_TREINEIRO'])
          )


# REGIÃO GEOGRÁFICA
df_enem['TP_REGIAO_PROVA'] = df_enem.SG_UF_PROVA.apply(create_columns_region)
df_enem['TP_REGIAO_ESC'] = df_enem.SG_UF_PROVA.apply(create_columns_region)

# ABSTENÇÃO - PRIMEIRO DIA
df_enem.loc[(df_enem['TP_PRESENCA_CH'] == 0) & (df_enem['TP_PRESENCA_LC'] == 0), ['ABS_DIA_1']] = 1
df_enem.loc[(df_enem['TP_PRESENCA_CH'] != 0) & (df_enem['TP_PRESENCA_LC'] != 0), ['ABS_DIA_1']] = 0
# ABSTENÇÃO - SEGUNDO DIA
df_enem.loc[(df_enem['TP_PRESENCA_CN'] == 0) & (df_enem['TP_PRESENCA_MT'] == 0), ['ABS_DIA_2']] = 1
df_enem.loc[(df_enem['TP_PRESENCA_CN'] != 0) & (df_enem['TP_PRESENCA_MT'] != 0), ['ABS_DIA_2']] = 0
# ABSTENÇÃO FULL DAYS
df_enem.loc[(df_enem['ABS_DIA_1'] == 1) & (df_enem['ABS_DIA_2'] == 1), ['ABS_ALL']] = 1
df_enem.loc[(df_enem['ABS_DIA_1'] != 1) & (df_enem['ABS_DIA_2'] != 1), ['ABS_ALL']] = 0

#Acrescentei
df_enem.loc[((df_enem['ABS_DIA_1'] == 0) | (df_enem['ABS_DIA_2'] == 0)), ['ABS_ALL']] = 0

# FLAG ESCOLA NULL
df_enem.loc[df_enem['NO_MUNICIPIO_ESC'].isna(), ['FLAG_NULL_ESC']]  = 1
df_enem.loc[df_enem['NO_MUNICIPIO_ESC'].notna(), ['FLAG_NULL_ESC']] = 0

# MÉDIAS
df_enem['MEDIA_OBJ'] = df_enem[[prova for prova in notas if prova != 'NU_NOTA_REDACAO']].mean(axis = 1)
df_enem['MEDIA_GLOBAL'] = df_enem[notas].mean(axis = 1)

In [23]:
df_enem.shape

(4769, 77)

In [31]:
df_enem.to_excel('D:\Repositório GIT\Projetos\Analise-de-Dados-ENEM\Datasets\Teste\enem1.xlsx', index=False)

#### Com novo df maior

In [ ]:
df_enem.to_excel('C:\Users\Bruno\PYTHON\PROJETOS\Analise-de-Dados-ENEM\Datasets\Teste\enem3.xlsx', index=False)

In [6]:
municipality_view = ['TP_REGIAO_PROVA','SG_UF_PROVA', 'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA']
uf_view           = ['TP_REGIAO_PROVA', 'SG_UF_PROVA']
list_metrics      = { 'MIN_': np.min, 'AVG_' :np.mean, 'MED_' : np.median, 'MAX_' : np.max, 'STD_' : np.std}

# TP_ANO_CONCLUIU, TP_ESTADO_CIVIL

cat_columns       = [
    'TP_FAIXA_ETARIA', 'TP_SEXO',
    'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
    'TP_ESCOLA', 'TP_ENSINO',  'TP_DEPENDENCIA_ADM_ESC',
    'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'TP_PRESENCA_CN',
    'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 
]

In [7]:
geral = df_enem['NU_ANO'].value_counts().reset_index()
geral.rename(columns={'index': 'NU_ANO', 'NU_ANO': 'QTD_INSCRITOS'}, inplace=True)
geral = geral.sort_values(by= 'NU_ANO' , ascending=True)
geral.head()

   NU_ANO  QTD_INSCRITOS
1    2018            953
0    2019            978

In [8]:
geral1 = df_enem.groupby('NU_ANO')['ABS_ALL'].sum().reset_index()
geral1.head()

   NU_ANO  ABS_ALL
0    2018    209.0
1    2019    263.0

In [9]:
geral = geral.merge(geral1, on='NU_ANO', how='left')
geral.head()

   NU_ANO  QTD_INSCRITOS  ABS_ALL
0    2018            953    209.0
1    2019            978    263.0

In [10]:
geral['ABS_ALL_%'] = ((geral['ABS_ALL'] / geral['QTD_INSCRITOS'])*100).round(2)
geral.head()

   NU_ANO  QTD_INSCRITOS  ABS_ALL  ABS_ALL_%
0    2018            953    209.0      21.93
1    2019            978    263.0      26.89

#### Caso eu queira inserir o %

In [37]:
geral['ABS_ALL_%'] = geral['ABS_ALL_%'].astype(str) + '%'
geral.head()

   NU_ANO  QTD_INSCRITOS  ABS_ALL ABS_ALL_%
0    2018            953    209.0    21.93%
1    2019            978    263.0    26.89%

#### Tipo de língua
#### 0 - Inglês
#### 1 - Espanhol

In [18]:

# Agrupar por ano e TP_LINGUA e contar a quantidade de inscritos em inglês e espanhol
geral2 = df_enem.groupby(['NU_ANO', 'TP_LINGUA'])['NU_INSCRICAO'].count().reset_index()

# Pivotar os dados para ter TP_LINGUA como colunas
geral2 = geral2.pivot(index='NU_ANO', columns='TP_LINGUA', values='NU_INSCRICAO').reset_index()

# Renomear as colunas para facilitar a compreensão
geral2.columns = ['NU_ANO', 'QTD_INGLES', 'QTD_ESPANHOL']
geral2.head()

In [20]:
geral = geral.merge(geral2, on='NU_ANO', how='left')
geral.head()

   NU_ANO  QTD_INSCRITOS  ABS_ALL  ABS_ALL_%  QTD_INGLES  QTD_ESPANHOL
0    2018            953    209.0      21.93         426           527
1    2019            978    263.0      26.89         455           523

#### Por tipo de Escola
#### 1 - Não respondeu
#### 2 - Escola pública
#### 3 - Escola Privada
#### 4 - Exterior

In [17]:

# Agrupar por ano e TP_ESCOLA e contar a quantidade de inscritos em inglês e espanhol
geral3 = df_enem.groupby(['NU_ANO', 'TP_ESCOLA'])['NU_INSCRICAO'].count().reset_index()

# Pivotar os dados para ter TP_ESCOLA como colunas
geral3 = geral3.pivot(index='NU_ANO', columns='TP_ESCOLA', values='NU_INSCRICAO').reset_index()

# Renomear as colunas para facilitar a compreensão
geral3.columns = ['NU_ANO', 'QTD_NAO_RESP','QTD_PUBLICA','QTD_PRIVADA','QTD_EXTERIOR']
geral3 = geral3.fillna(0).astype(int)
geral3.head()

   NU_ANO  QTD_NAO_RESP  QTD_PUBLICA  QTD_PRIVADA  QTD_EXTERIOR
0    2018           750          175            3            25
1    2019           778          199            1             0

#### Proporção escolas

In [18]:
geral3_pct = geral3[['QTD_PUBLICA','QTD_PRIVADA','QTD_EXTERIOR']]
geral3_pct.head()

   QTD_PUBLICA  QTD_PRIVADA  QTD_EXTERIOR
0          175            3            25
1          199            1             0

In [19]:
soma_total = geral3_pct.sum(axis=1)

# Iterar sobre as colunas e criar as colunas percentuais automaticamente
for coluna in geral3_pct.columns:
    if coluna.startswith('QTD_'):  # Certifica-se de que estamos lidando apenas com as colunas relevantes
        coluna_percentual = coluna + '_%'
        proporcao_coluna = geral3_pct[coluna] / soma_total
        geral3_pct[coluna_percentual] = (proporcao_coluna * 100).round(2)

geral3_pct.head()

geral3 = geral3.merge(geral3_pct, on=['QTD_PUBLICA', 'QTD_PRIVADA','QTD_EXTERIOR'], how='outer')
geral3.head()

,NU_ANO,QTD_NAO_RESP,QTD_PUBLICA,QTD_PRIVADA,QTD_EXTERIOR,QTD_PUBLICA_%,QTD_PRIVADA_%,QTD_EXTERIOR_%
0,2018,750,175,3,25,86.21,1.48,12.32
1,2019,778,199,1,0,99.50,0.50,0.00

#### Uni df ao geral

In [38]:
geral = geral.merge(geral3, on='NU_ANO', how='left')
geral.head()

,NU_ANO,QTD_INSCRITOS,ABS_ALL,ABS_ALL_%,QTD_INGLES,QTD_ESPANHOL,QTD_NAO_RESP,QTD_PUBLICA,QTD_PRIVADA,QTD_EXTERIOR
0,2018,953,209.0,21.93,426,527,750,175,3,25
1,2019,978,263.0,26.89,455,523,778,199,1,0

#### Quantidade por sexo
#### M - Masculino
#### F - Feminino

In [13]:
geral4 = df_enem.groupby(['NU_ANO', 'TP_SEXO'])['NU_INSCRICAO'].count().reset_index()

geral4 = geral4.pivot(index='NU_ANO', columns='TP_SEXO', values='NU_INSCRICAO').reset_index()
geral4.columns = ['NU_ANO', 'QTD_MASC','QTD_FEM']
geral4.head()

   NU_ANO  QTD_MASC  QTD_FEM
0    2018       613      340
1    2019       634      344

#### Proporção Sexo

In [14]:
geral4_pct = geral4[['QTD_MASC','QTD_FEM']]
geral4_pct.head()

   QTD_MASC  QTD_FEM
0       613      340
1       634      344

In [15]:
soma_total = geral4_pct.sum(axis=1)

# Iterar sobre as colunas e criar as colunas percentuais automaticamente
for coluna in geral4_pct.columns:
    if coluna.startswith('QTD_'):  # Certifica-se de que estamos lidando apenas com as colunas relevantes
        coluna_percentual = coluna + '_%'
        proporcao_coluna = geral4_pct[coluna] / soma_total
        geral4_pct[coluna_percentual] = (proporcao_coluna * 100).round(2)

geral4_pct.head()

   QTD_MASC  QTD_FEM  QTD_MASC_%  QTD_FEM_%
0       613      340       64.32      35.68
1       634      344       64.83      35.17

In [16]:
geral4 = geral4.merge(geral4_pct, on=['QTD_MASC', 'QTD_FEM'], how='outer')
geral4.head()

   NU_ANO  QTD_MASC  QTD_FEM  QTD_MASC_%  QTD_FEM_%
0    2018       613      340       64.32      35.68
1    2019       634      344       64.83      35.17

#### Mesclar caso queira unir o df geral

In [ ]:
geral = geral.merge(geral4, on='NU_ANO', how='left')
geral.head()

#### Tipo de adminstração
#### 1 - FEDERAL
#### 2 - ESTADUAL
#### 3 - MUNICIPAL
#### 4 - PRIVADA

In [11]:
geral5 = df_enem.groupby(['NU_ANO', 'TP_DEPENDENCIA_ADM_ESC'])['NU_INSCRICAO'].count().reset_index()
geral5 = geral5.pivot(index='NU_ANO', columns='TP_DEPENDENCIA_ADM_ESC', values='NU_INSCRICAO').reset_index()
geral5.columns = ['NU_ANO', 'QTD_FEDERAL', 'QTD_ESTADUAL', 'QTD_MUNICIPAL', 'QTD_PRIVADA']
geral5 = geral5.fillna(0).astype(int)
geral5.head()

   NU_ANO  QTD_FEDERAL  QTD_ESTADUAL  QTD_MUNICIPAL  QTD_PRIVADA
0    2018           15           175              3           25
1    2019           20           153              0            3

#### Irei fazer a proporção com os dados disponiveis e não com qtd de inscritos totais, pois tem poucos dados disponiveis

In [16]:
geral5['TOTAL'] = geral5['QTD_FEDERAL'] + geral5['QTD_ESTADUAL'] + geral5['QTD_MUNICIPAL'] + geral5['QTD_PRIVADA']

for tipo in ['FEDERAL', 'ESTADUAL', 'MUNICIPAL', 'PRIVADA']:
    coluna_qtd = f'QTD_{tipo}'
    coluna_percentual = f'QTD_{tipo}_%'

    geral5[coluna_percentual] = ((geral5[coluna_qtd] / geral5['TOTAL']) * 100).round(2)

geral5.head()

,NU_ANO,QTD_FEDERAL,QTD_ESTADUAL,QTD_MUNICIPAL,QTD_PRIVADA,TOTAL,QTD_PRIVADA_%,QTD_FEDERAL_%,QTD_ESTADUAL_%,QTD_MUNICIPAL_%
0,2018,15,175,3,25,218,11.47,6.88,80.28,1.38
1,2019,20,153,0,3,176,1.70,11.36,86.93,0.00

In [ ]:
geral = geral.merge(geral5, on='NU_ANO', how='left')
geral.head()